<div id="viewImage" v-show="viewImageInfo.showImage">
    <div style="position:fixed;left:50%;top:50%;transform:translate(-50%,-50%);background-color: #fff;">
        <img v-bind:src="viewImageInfo.url" v-bind:width="viewImageInfo.imgWidth"
             v-bind:height="viewImageInfo.imgHeight" onerror="this.src='/img/noPhoto.jpg';"/>
        <span v-on:click="_closeImage()" class="fa fa-remove "
              style="position: absolute;right: 20px;top: 20px;font-size: 20px;color:red"></span>
    </div>
    <!--style="position:fixed;z-index:3000;left:50%;top:50%;transform:translate(-50%,-50%);background-color: #fff;"-->
</div>
