<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>修改商户信息</h5>
                    <div class="ibox-tools" style="top:10px;">
                    </div>
                </div>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商户名称</label>
                                <div class="col-sm-10">
                                    <input v-model="editStoreInfoInfo.name" type="text" placeholder="必填，请填写商户名称"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">便民类型</label>
                                <div class="col-sm-3">
                                    <select class="custom-select" v-model="editStoreInfoInfo.convenienceMenusId">
                                        <option selected disabled value="">选填，请选择类型</option>
                                        <option v-for="(item,index) in storeInfoManageInfo.menuInfos"
                                                :value="item.convenienceMenusId">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">是否显示</label>
                                <div class="col-sm-3">
                                    <select class="custom-select" v-model="editStoreInfoInfo.isShow">
                                        <option selected disabled value="">选填，请选择是否显示</option>
                                        <option value="Y">是</option>
                                        <option value="N">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">图片地址</label>
                                <div class="col-sm-10">
                                    <vc:create path="frame/uploadImage" callBackListener="editIcon"
                                               callBackFunction="notifyUploadCoverImage" namespace="editIconCover"
                                               imageCount="1">
                                    </vc:create>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商户电话</label>
                                <div class="col-sm-10">
                                    <input v-model="editStoreInfoInfo.tel" type="text" placeholder="选填，请填写商户电话"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商户位置</label>
                                <div class="col-sm-10">
                                    <input v-model="editStoreInfoInfo.site" type="text" placeholder="选填，请填写商户位置"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">显示序号</label>
                                <div class="col-sm-10">
                                    <input v-model="editStoreInfoInfo.seq" type="text" placeholder="必填，请填写显示序号"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">工作时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editStoreInfoInfo.workTime" type="text" placeholder="选填，请填写工作时间"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商家信息</label>
                                <div class="col-sm-10 ">
                                    <div class=" no-padding">
                                        <div class="editSummernote"></div>
                                    </div>
                                    <!--<textarea v-model="addNoticeViewInfo.context" cols="3"  type="text" placeholder="必填，请填写公告内容" class="form-control"></textarea>-->
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editStoreInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" v-on:click="_closeStoreInfo()"
                                        style="margin-right:20px;" data-dismiss="modal">
                                    <i class="fa fa-close"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
