<div id="parkingAreaControlCustomCarInoutModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="车辆" namespace="parkingAreaControlCustomCarInout"></vc:i18n>{{parkingAreaControlCustomCarInoutInfo.type == '1101'?'进场':'出场'}}</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="车牌号" namespace="parkingAreaControlCustomCarInout"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="parkingAreaControlCustomCarInoutInfo.carNum" type="text"
                                        :placeholder="vc.i18n('必填，请填写车牌号','parkingAreaControlCustomCarInout')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row" v-if="parkingAreaControlCustomCarInoutInfo.type != '1101'">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="收费金额" namespace="parkingAreaControlCustomCarInout"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="parkingAreaControlCustomCarInoutInfo.amount"
                                        type="number" :placeholder="vc.i18n('必填，请填写收费金额','parkingAreaControlCustomCarInout')" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="parkingAreaControlCustomCarInout"></vc:i18n></label>
                                <div class="col-sm-10"><textarea cols="5"
                                        v-model="parkingAreaControlCustomCarInoutInfo.remark" type="text"
                                        :placeholder="vc.i18n('请填写备注信息','parkingAreaControlCustomCarInout')" class="form-control"></textarea></div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                    v-on:click="parkingAreaControlCustomCarInout()"><vc:i18n name="提交" namespace="parkingAreaControlCustomCarInout"></vc:i18n></button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal"><vc:i18n name="取消" namespace="parkingAreaControlCustomCarInout"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
