<div id="accountPayModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                    <h3 class="m-t-none m-b ">银行信息</h3>
                    <div class="ibox-content">
                        <div>
                            <div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">持卡人</label>
                                    <div class="col-sm-10">
                                        <input v-model="accountPayInfo.accountBank.personName" disabled="disabled" readonly type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">开户行</label>
                                    <div class="col-sm-10">
                                        <input v-model="accountPayInfo.accountBank.bankName" disabled="disabled" readonly type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">账号</label>
                                    <div class="col-sm-10">
                                        <input v-model="accountPayInfo.accountBank.bankCode" disabled="disabled" readonly type="text"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <h3 class="m-t-none m-b ">付款信息</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">付款信息</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="accountPayInfo.state">
                                        <option selected disabled value="">付款状态</option>
                                        <option value="1100">同意付款</option>
                                        <option value="1200">拒绝付款</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">原因</label>
                                <div class="col-sm-10">
                                    <textarea placeholder="必填，请填写原因" class="form-control"
                                              v-model="accountPayInfo.remark"></textarea></div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="_accountPaySubmit()">
                                    <i class="fa fa-check"></i>&nbsp;提交
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-times"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           </div>
    </div>
</div>
