<div id="roomDecorationRecordModel" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">装修跟踪</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房屋</label>
                                <div class="col-sm-10">
                                    <input v-model="roomDecorationRecordInfo.roomName" type="text"
                                           disabled='disabled'
                                           placeholder="必填，请填写房屋" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">状态</label>
                                <div class="col-sm-10">
                                    <input v-model="roomDecorationRecordInfo.stateName" type="text" disabled="disabled"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">备注</label>
                                <div class="col-sm-10">
                                    <textarea v-model="roomDecorationRecordInfo.remark" placeholder="请填写备注"
                                              class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">上传图片</label>
                                <div class="col-sm-10">
                                    <vc:create path="frame/uploadImage" callBackListener="roomDecorationRecord"
                                               callBackFunction="notifyUploadImage" namespace="roomDecorationRecord">
                                    </vc:create>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">上传视频</label>
                                <div class="content-img col-sm-10">
                                    <vc:create path="frame/uploadVedio" callBackListener="roomDecorationRecord"
                                               callBackFunction="notifyUploadVedio" namespace="roomDecorationRecord">
                                    </vc:create>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="saveRoomDecorationRecordInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-times"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>