<div id = "chooseServiceRegisterModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseServiceRegisterModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseServiceRegisterModelLabel"><span><vc:i18n name="选择服务绑定" namespace="chooseServiceRegister"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')vc.i18n(' ','chooseServiceRegister')<divvc.i18n(' ','chooseServiceRegister')class="vc.i18n(' ','chooseServiceRegister')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入服务绑定名称','chooseServiceRegister')" type="text" v-model="chooseServiceRegisterInfo._currentServiceRegisterName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryServiceRegisters()"><span><vc:i18n name="查询" namespace="chooseServiceRegister"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name="绑定" namespace="chooseServiceRegister"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="应用" namespace="chooseServiceRegister"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="服务" namespace="chooseServiceRegister"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="订单类型" namespace="chooseServiceRegister"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="调用次数" namespace="chooseServiceRegister"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="调用方式" namespace="chooseServiceRegister"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseServiceRegister"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="serviceRegister in chooseServiceRegisterInfo.serviceRegisters">
                                                                        <td class="text-center">{{serviceRegister.id}}</td>
                            <td class="text-center">{{serviceRegister.appId}}</td>
                            <td class="text-center">{{serviceRegister.serviceId}}</td>
                            <td class="text-center">{{serviceRegister.orderTypeCd}}</td>
                            <td class="text-center">{{serviceRegister.invokeLimitTimes}}</td>
                            <td class="text-center">{{serviceRegister.invokeModel}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseServiceRegister(serviceRegister)"><span><vc:i18n name="选择" namespace="chooseServiceRegister"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
