<div id="searchRoomModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchRoomModelLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="searchRoomModelLabel">
                    <span><vc:i18n name="选择房屋" namespace="searchRoom"></vc:i18n></span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row" v-if="searchRoomInfo.showSearchCondition == 'true'">
                                <div class="col-sm-6 m-b-xs">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入小区楼编号','searchRoom')" type="text"
                                               v-bind:readonly="searchRoomInfo.floorNumInputReadonly"
                                               v-model.trim="searchRoomInfo._currentFloorNum"
                                               class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入房屋编号','searchRoom')" type="text"
                                               v-model.trim="searchRoomInfo._currentRoomNum"
                                               class="form-control form-control-sm">
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary"
                                                        v-on:click="searchRooms()">
                                                    <span><vc:i18n name="查询" namespace="searchRoom"></vc:i18n></span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-primary"
                                                        v-on:click="resetRooms()">
                                                    <span><vc:i18n name="重置" namespace="searchRoom"></vc:i18n></span>
                                                </button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            <span><vc:i18n name="房屋" namespace="searchRoom"></vc:i18n></span>ID
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="楼栋编号" namespace="searchRoom"></vc:i18n></span>
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="单元编号" namespace="searchRoom"></vc:i18n></span>
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="房屋编号" namespace="searchRoom"></vc:i18n></span>
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="楼层" namespace="searchRoom"></vc:i18n></span>
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="操作" namespace="searchRoom"></vc:i18n></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="room in searchRoomInfo.rooms">
                                        <td class="text-center">
                                            {{room.roomId}}
                                        </td>
                                        <td class="text-center">
                                            {{room.floorNum}}
                                            <span><vc:i18n name="号楼" namespace="searchRoom"></vc:i18n></span>
                                        </td>
                                        <td class="text-center">
                                            {{room.unitNum}}
                                            <span><vc:i18n name="单元" namespace="searchRoom"></vc:i18n></span>
                                        </td>
                                        <td class="text-center">
                                            {{room.roomNum}}
                                            <span><vc:i18n name="室" namespace="searchRoom"></vc:i18n></span>
                                        </td>
                                        <td class="text-center">
                                            {{room.layer}}
                                            <span><vc:i18n name="层" namespace="searchRoom"></vc:i18n></span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary btn-xs" v-on:click="chooseRoom(room)">
                                                <span><vc:i18n name="选择" namespace="searchRoom"></vc:i18n></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <ul class="pagination float-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <vc:create namespace="searchRoom" path="frame/paginationPlus"></vc:create>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
