<div id="searchRoomModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchRoomModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="searchRoomModelLabel">
                    <vc:i18n name="选择房屋" namespace="searchRoom"></vc:i18n>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row" v-if="searchRoomInfo.showSearchCondition == 'true'">

                                <div class="col-sm-6 m-b-xs">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入小区楼编号','searchRoom')" type="text" v-bind:readonly="searchRoomInfo.floorNumInputReadonly" v-model="searchRoomInfo._currentFloorNum" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入房屋编号','searchRoom')" type="text" v-model="searchRoomInfo._currentRoomNum" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary"
                                                        v-on:click="searchRooms()"><vc:i18n name="查询" namespace="searchRoom"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <vc:i18n name="房屋" namespace="searchRoom"></vc:i18n>ID</th>
                                            <th>
                                                <vc:i18n name="楼栋编号" namespace="searchRoom"></vc:i18n>
                                            </th>
                                            <th>
                                                <vc:i18n name="单元编号" namespace="searchRoom"></vc:i18n>
                                            </th>
                                            <th>
                                                <vc:i18n name="房屋编号" namespace="searchRoom"></vc:i18n>
                                            </th>
                                            <th>
                                                <vc:i18n name="楼层" namespace="searchRoom"></vc:i18n>
                                            </th>
                                            <th class="text-right">
                                                <vc:i18n name="操作" namespace="searchRoom"></vc:i18n>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="room in searchRoomInfo.rooms">
                                            <td>
                                                {{room.roomId}}
                                            </td>
                                            <td>
                                                {{room.floorNum}}
                                                <vc:i18n name="号楼" namespace="searchRoom"></vc:i18n>
                                            </td>
                                            <td>
                                                {{room.unitNum}}
                                                <vc:i18n name="单元" namespace="searchRoom"></vc:i18n>
                                            </td>
                                            <td>
                                                {{room.roomNum}}
                                                <vc:i18n name="室" namespace="searchRoom"></vc:i18n>
                                            </td>
                                            <td>
                                                {{room.layer}}
                                                <vc:i18n name="层" namespace="searchRoom"></vc:i18n>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseRoom(room)"><vc:i18n name="选择" namespace="searchRoom"></vc:i18n>
                                            </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <vc:create namespace="searchRoom" path="frame/paginationPlus"></vc:create>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>