<div id = "addRoomModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="添加房屋" namespace="addRoom"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="房屋编号" namespace="addRoom"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addRoomInfo.roomNum" type="text" :placeholder="vc.i18n('必填，请填写房屋编号','addRoom')" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="房屋楼层" namespace="addRoom"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addRoomInfo.layer" type="number" :placeholder="vc.i18n('必填，请填写房屋楼层','addRoom')" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="房屋单元" namespace="addRoom"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addRoomInfo.unitId">
                                        <option selected  disabled value=""><vc:i18n name="必填" namespace="addRoom"></vc:i18n>，请选择单元</option>
                                        <option v-for="(unit,index) in addRoomUnits" :key="index" v-bind:value="unit.unitId">{{unit.unitNum}}<vc:i18n name="单元" namespace="addRoom"></vc:i18n></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="房间数" namespace="addRoom"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addRoomInfo.section" type="number" :placeholder="vc.i18n('必填，请填写房屋楼层','addRoom')" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="房屋户型" namespace="addRoom"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addRoomInfo.apartment">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="addRoom"></vc:i18n>，请选择房屋户型</option>
                                        <option value="1010"><vc:i18n name="一室两厅" namespace="addRoom"></vc:i18n></option>
                                        <option value="2020"><vc:i18n name="两室两厅" namespace="addRoom"></vc:i18n></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="建筑面积" namespace="addRoom"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addRoomInfo.builtUpArea" type="number" :placeholder="vc.i18n('必填，请填写房屋建筑面积','addRoom')" class="form-control"></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="房屋单价" namespace="addRoom"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addRoomInfo.unitPrice" type="number" :placeholder="vc.i18n('必填，请填写房屋每平米单价','addRoom')" class="form-control"></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="房屋状态" namespace="addRoom"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addRoomInfo.state">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="addRoom"></vc:i18n>，请选择房屋状态</option>
                                        <option value="2001"><vc:i18n name="已出售" namespace="addRoom"></vc:i18n></option>
                                        <option value="2002"><vc:i18n name="未出售" namespace="addRoom"></vc:i18n></option>
                                        <option value="2003"><vc:i18n name="已交定金" namespace="addRoom"></vc:i18n></option>
                                        <option value="2004"><vc:i18n name="已出租" namespace="addRoom"></vc:i18n></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="addRoom"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addRoomInfo.remark" type="text" :placeholder="vc.i18n('请填写备注信息','addRoom')" class="form-control"></div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="addRoom()" ><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><vc:i18n name="取消" namespace="addRoom"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
