<div id="inspectionPointQrCodeModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">巡检二维码</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <div class="col-sm-12" style="position: relative;">
                                    <div id="qrcode" style="width:200px; height:200px; "></div>
                                </div>
                                <div class="col-sm-12 text-center margin-top ">
                                    <span>{{inspectionPointQrCodeInfo.inspectionName}}</span>
                                </div>
                                <div class="col-sm-12 text-center margin-top ">
                                    <span>请截图贴在巡检点的地方</span>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button type="button" class="btn btn-white float-right" style="margin-right:20px;" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>