<div id="editAccessControlWhiteModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b ">
          <vc:i18n name="修改" namespace="editAccessControlWhite"></vc:i18n>
        </h3>
        <div class="ibox-content">

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <vc:i18n name='人员类别' namespace='editAccessControlWhite'></vc:i18n>
            </label>
            <div class="col-sm-10">
              <select class="custom-select" v-model="editAccessControlWhiteInfo.personType">
                <option selected value="">请选择人员类型</option>
                <option :value="item.statusCd" v-for="(item,index) in editAccessControlWhiteInfo.personTypes">
                  {{item.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <vc:i18n name='用户名称' namespace='editAccessControlWhite'></vc:i18n>
            </label>
            <div class="col-sm-10">
              <input v-model="editAccessControlWhiteInfo.personName" type="text"
                :placeholder="vc.i18n('必填，请填写用户名称','editAccessControlWhite')" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <vc:i18n name='手机号' namespace='editAccessControlWhite'></vc:i18n>
            </label>
            <div class="col-sm-10">
              <input v-model="editAccessControlWhiteInfo.tel" type="text"
                :placeholder="vc.i18n('必填，请填写手机号','editAccessControlWhite')" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <vc:i18n name='身份证号' namespace='editAccessControlWhite'></vc:i18n>
            </label>
            <div class="col-sm-10">
              <input v-model="editAccessControlWhiteInfo.idCard" type="text"
                :placeholder="vc.i18n('选填，请填写身份证号','editAccessControlWhite')" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <vc:i18n name='门禁卡号' namespace='editAccessControlWhite'></vc:i18n>
            </label>
            <div class="col-sm-10">
              <input v-model="editAccessControlWhiteInfo.accessControlKey" type="text"
                :placeholder="vc.i18n('选填，请填写门禁卡号','editAccessControlWhite')" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <vc:i18n name='门禁人脸' namespace='editAccessControlWhite'></vc:i18n>
            </label>
            <div class="col-sm-10">
              <vc:create path="frame/uploadImageUrl" callBackListener="editAccessControlWhite"
                callBackFunction="notifyUploadImage" imageCount="1" namespace="editAccessControlWhite">
              </vc:create>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <vc:i18n name='开始时间' namespace='editAccessControlWhite'></vc:i18n>
            </label>
            <div class="col-sm-10">
              <input v-model="editAccessControlWhiteInfo.startTime" type="text"
                :placeholder="vc.i18n('必填，请填写开始时间','editAccessControlWhite')"
                class="form-control editAccessControlWhiteStartTime">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <vc:i18n name='结束时间' namespace='editAccessControlWhite'></vc:i18n>
            </label>
            <div class="col-sm-10">
              <input v-model="editAccessControlWhiteInfo.endTime" type="text"
                :placeholder="vc.i18n('必填，请填写结束时间','editAccessControlWhite')"
                class="form-control editAccessControlWhiteEndTime">
            </div>
          </div>
          <div class="ibox-content">
            <button class="btn btn-primary float-right" type="button" v-on:click="editAccessControlWhite()">
              <vc:i18n name="保存"></vc:i18n>
            </button>
            <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">
              <vc:i18n name="取消"></vc:i18n>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>