<div id="editItemNumberStoreModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><span><vc:i18n name="物品出库" namespace="editItemNumberStore"></vc:i18n></span></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="物品名称" namespace="editItemNumberStore"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceStoreInfo.resName" type="text" :placeholder="vc.i18n('必填，请填写物品名称','editItemNumberStore')"
                                           class="form-control" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="物品编码" namespace="editItemNumberStore"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceStoreInfo.resCode" type="text" :placeholder="vc.i18n('选填，请填写物品编码，如终端串码','editItemNumberStore')"
                                           class="form-control" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="物品价格" namespace="editItemNumberStore"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceStoreInfo.price" type="text" :placeholder="vc.i18n('必填，请填写物品价格','editItemNumberStore')"
                                           class="form-control" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="物品库存" namespace="editItemNumberStore"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceStoreInfo.stock" type="text" :placeholder="vc.i18n('必填，请填写物品库存','editItemNumberStore')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="描述" namespace="editItemNumberStore"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <textarea :placeholder="vc.i18n('选填，请填写描述','editItemNumberStore')" class="form-control"
                                              v-model="editResourceStoreInfo.description"></textarea></div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="editResourceStoreForStock()"><i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal"><span><vc:i18n name="取消" namespace="editItemNumberStore"></vc:i18n></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
