<div id="editParkingSpaceApplyModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b ">修改车位申请</h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">车牌号</label>
                <div class="col-sm-10">
                  <input v-model="editParkingSpaceApplyInfo.carNum" type="text" placeholder="必填，请填写车牌号"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">汽车品牌</label>
                <div class="col-sm-10">
                  <input v-model="editParkingSpaceApplyInfo.carBrand" type="text" placeholder="必填，请填写汽车品牌"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">车辆类型</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editParkingSpaceApplyInfo.carType">
                    <option selected disabled value="">必填，请选择车辆类型</option>
                    <option value="9901">家用小汽车</option>
                    <option value="9902">客车</option>
                    <option value="9903">货车</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">颜色</label>
                <div class="col-sm-10">
                  <input v-model="editParkingSpaceApplyInfo.carColor" type="text" placeholder="必填，请填写颜色"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">起租时间</label>
                <div class="col-sm-10">
                  <input v-model="editParkingSpaceApplyInfo.startTime" type="text" placeholder="必填，请填写起租时间"
                    class="form-control editStartTime">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">结租时间</label>
                <div class="col-sm-10">
                  <input v-model="editParkingSpaceApplyInfo.endTime" type="text" placeholder="必填，请填写结租时间"
                    class="form-control editEndTime">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">申请人</label>
                <div class="col-sm-10">
                  <input v-model="editParkingSpaceApplyInfo.applyPersonName" disabled type="text"
                    placeholder="必填，请填写申请人" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">申请人电话</label>
                <div class="col-sm-10">
                  <input v-model="editParkingSpaceApplyInfo.applyPersonLink" disabled type="text"
                    placeholder="必填，请填写申请人电话" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">备注</label>
                <div class="col-sm-10">
                  <textarea v-model="editParkingSpaceApplyInfo.remark" placeholder="选填，请填写备注"
                    class="form-control"></textarea>
                </div>
              </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="editParkingSpaceApply()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>