<div class="margin-top">
    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
        <thead>
            <tr>
                <th class="text-center">总车位数</th>
                <th data-hide="phone" class="text-center">剩余车位数</th>
                <th data-hide="phone" class="text-center">采集时间</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td class="text-center">
                    {{parkingAreaControlRemaining.total}}位
                </td>
                <td class="text-center">
                    {{parkingAreaControlRemaining.freeCount}}位
                </td>
                <td class="text-center">
                    {{parkingAreaControlRemaining.createTime}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <ul class="pagination float-right"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>