<div id="chooseFlowElementConditionModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b "><vc:i18n name="选择条件" namespace="chooseFlowElementCondition"></vc:i18n></h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="条件类型" namespace="chooseFlowElementCondition"></vc:i18n></label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="chooseFlowElementConditionInfo.flag">
                    <option selected disabled value="">{{vc.i18n('必填','chooseFlowElementCondition')}}，请选择条件类型</option>
                    <option value="Auto">{{vc.i18n('通用','chooseFlowElementCondition')}}</option>
                    <option value="Custom">{{vc.i18n('手工输入','chooseFlowElementCondition')}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row" v-if="chooseFlowElementConditionInfo.flag == 'Auto'">
                <label class="col-sm-2 col-form-label"><vc:i18n name="表达式" namespace="chooseFlowElementCondition"></vc:i18n></label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="chooseFlowElementConditionInfo.condition">
                    <option selected disabled value="">{{vc.i18n('必填','chooseFlowElementCondition')}}，请选择表达式</option>
                    <option value="${auditCode=='1100'}">{{vc.i18n('同意','chooseFlowElementCondition')}}</option>
                    <option value="${auditCode=='1200'}">{{vc.i18n('退回上一节点','chooseFlowElementCondition')}}</option>
                    <option value="${auditCode=='1400'}">{{vc.i18n('退回至提交者','chooseFlowElementCondition')}}</option>
                    <option value="${auditCode=='1500'}">{{vc.i18n('结束','chooseFlowElementCondition')}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row" v-else>
                <label class="col-sm-2 col-form-label"><vc:i18n name="表达式" namespace="chooseFlowElementCondition"></vc:i18n></label>
                <div class="col-sm-10">
                  <input :placeholder="vc.i18n('输入表达式','chooseFlowElementCondition')" type="text" v-model="chooseFlowElementConditionInfo.condition"
                    class="form-control form-control-sm">
                </div>
              </div>
              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="chooseFlowCondition()"><i
                    class="fa fa-check"></i>&nbsp;确定</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal"><vc:i18n name="取消" namespace="chooseFlowElementCondition"></vc:i18n></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
