<div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" style="margin-top:10px" data-page-size="10">
            <thead>
                <tr>
                    <th class="text-center">姓名</th>
                    <th class="text-center">车辆</th>
                    <th class="text-center">联系电话</th>
                    <th class="text-center">费用名称</th>     
                </tr>
            </thead>
            <tbody>
                <tr v-for="fee in reportProficientCarFeeInfo.fees">
                    <!-- <td class="text-center">{{fee.feeId}}</td> -->
                    <td class="text-center">{{fee.ownerName}}</td>
                    <td class="text-center">{{fee.objName}}</td>
                    <td class="text-center">{{fee.ownerLink}}</td>
                    <td class="text-center">{{fee.feeName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>