<div id = "chooseRentingPoolModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseRentingPoolModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseRentingPoolModelLabel"><vc:i18n name="选择房源" namespace="chooseRentingPool"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')vc.i18n(' ','chooseRentingPool')<divvc.i18n(' ','chooseRentingPool')class="vc.i18n(' ','chooseRentingPool')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入房源名称','chooseRentingPool')" type="text" v-model="chooseRentingPoolInfo._currentRentingPoolName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryRentingPools()"><vc:i18n name="查询" namespace="chooseRentingPool"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="租房" namespace="chooseRentingPool"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="出租标题" namespace="chooseRentingPool"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="租金" namespace="chooseRentingPool"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="预付类型" namespace="chooseRentingPool"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="入住时间" namespace="chooseRentingPool"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="出租配置" namespace="chooseRentingPool"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="备注" namespace="chooseRentingPool"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="业主名称" namespace="chooseRentingPool"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="业主电话" namespace="chooseRentingPool"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseRentingPool"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="rentingPool in chooseRentingPoolInfo.rentingPools">
                                                                        <td class="text-center">{{rentingPool.rentingId}}</td>
                            <td class="text-center">{{rentingPool.rentingTitle}}</td>
                            <td class="text-center">{{rentingPool.price}}</td>
                            <td class="text-center">{{rentingPool.paymentType}}</td>
                            <td class="text-center">{{rentingPool.checkInDate}}</td>
                            <td class="text-center">{{rentingPool.rentingConfigId}}</td>
                            <td class="text-center">{{rentingPool.rentingDesc}}</td>
                            <td class="text-center">{{rentingPool.ownerName}}</td>
                            <td class="text-center">{{rentingPool.ownerTel}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseRentingPool(rentingPool)"><vc:i18n name="选择" namespace="chooseRentingPool"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
