<div id = "chooseActivitiesTypeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseActivitiesTypeModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseActivitiesTypeModelLabel">选择信息大类</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input placeholder="输入信息大类名称" type="text" v-model="chooseActivitiesTypeInfo._currentActivitiesTypeName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryActivitiesTypes()">查询</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center">大类编码</th>
                            <th class="text-center">大类名称</th>
                            <th class="text-center">大类描述</th>
                            <th class="text-center">显示序号</th>
                            <th class="text-center">是否显示</th>
                            <th class="text-center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="activitiesType in chooseActivitiesTypeInfo.activitiesTypes">
                                                                        <td class="text-center">{{activitiesType.typeCd}}</td>
                            <td class="text-center">{{activitiesType.typeName}}</td>
                            <td class="text-center">{{activitiesType.typeDesc}}</td>
                            <td class="text-center">{{activitiesType.seq}}</td>
                            <td class="text-center">{{activitiesType.defalutShow}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseActivitiesType(activitiesType)">选择</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
