<div>
    <div class="row margin-top-lg">
        <div class="col-lg-2 padding-right-xs padding-left-xl">
            <select class="custom-select custom-select-sm" v-model="simplifyMeterWaterFeeInfo.meterType" @change="_listSimplifyMeterWaterFee(1,10)">
                <option selected value="">请选择表类型</option>
                <option value="1010">电表</option>
                <option value="2020">水表</option>
            </select>
        </div>
        <div class="col-lg-10 text-right" v-if="simplifyMeterWaterFeeInfo.roomId">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px" v-on:click="_openAddMeterWaterModal()">
                水电抄表
            </button>
        </div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" style="margin-top:10px" data-page-size="10">
            <thead>
                <tr>
                    <th class="text-center">表类型</th>
                    <th class="text-center">对象名称</th>
                    <th class="text-center">上期度数</th>
                    <th class="text-center">本期度数</th>
                    <th class="text-center">上期读表时间</th>
                    <th class="text-center">本期读表时间</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="meterWater in simplifyMeterWaterFeeInfo.meterWaters">
                    <!-- <td class="text-center">{{_getMeteTypeName(meterWater.meterType)}}</td> -->
                    <td class="text-center">{{meterWater.meterTypeName}}</td>
                    <td class="text-center">{{meterWater.objName}}</td>
                    <td class="text-center">{{meterWater.preDegrees}}</td>
                    <td class="text-center">{{meterWater.curDegrees}}</td>
                    <td class="text-center">{{meterWater.preReadingTime}}</td>
                    <td class="text-center">{{meterWater.curReadingTime}}</td>
                    <td class="text-center">{{meterWater.createTime}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" v-on:click="_openEditMeterWaterModel(meterWater)">修改
                        </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" v-on:click="_openDeleteMeterWaterModel(meterWater)">删除
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-5">
                <span></span>
            </div>
            <div class="col-sm-7 float-right">
                <vc:create namespace="simplifyMeterWaterFee" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>