<div>
    <div class="row margin-top-lg">
        <div class="col-lg-2 padding-right-xs padding-left-xl">
            <select class="custom-select custom-select-sm" v-model="simplifyMeterWaterFeeInfo.meterType" @change="_listSimplifyMeterWaterFee(1,10)">
                <option selected value=""><vc:i18n name="请选择表类型" namespace="simplifyMeterWaterLog"></vc:i18n></option>
                <option value="1010"><vc:i18n name="电表" namespace="simplifyMeterWaterLog"></vc:i18n></option>
                <option value="2020"><vc:i18n name="水表" namespace="simplifyMeterWaterLog"></vc:i18n></option>
            </select>
        </div>
        <div class="col-lg-10 text-right" v-if="simplifyMeterWaterFeeInfo.roomId">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px" v-on:click="_openAddMeterWaterModal()">
                水电抄表
            </button>
        </div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" style="margin-top:10px" data-page-size="10">
            <thead>
                <tr>
                    <th class="text-center"><vc:i18n name="表类型" namespace="simplifyMeterWaterLog"></vc:i18n></th>
                    <th class="text-center"><vc:i18n name="对象名称" namespace="simplifyMeterWaterLog"></vc:i18n></th>
                    <th class="text-center"><vc:i18n name="上期度数" namespace="simplifyMeterWaterLog"></vc:i18n></th>
                    <th class="text-center"><vc:i18n name="本期度数" namespace="simplifyMeterWaterLog"></vc:i18n></th>
                    <th class="text-center"><vc:i18n name="上期读表时间" namespace="simplifyMeterWaterLog"></vc:i18n></th>
                    <th class="text-center"><vc:i18n name="本期读表时间" namespace="simplifyMeterWaterLog"></vc:i18n></th>
                    <th class="text-center"><vc:i18n name="创建时间" namespace="simplifyMeterWaterLog"></vc:i18n></th>
                    <th class="text-center"><vc:i18n name="操作" namespace="simplifyMeterWaterLog"></vc:i18n></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="meterWater in simplifyMeterWaterFeeInfo.meterWaters">
                    <!-- <td class="text-center">{{_getMeteTypeName(meterWater.meterType)}}</td> -->
                    <td class="text-center">{{meterWater.meterTypeName}}</td>
                    <td class="text-center">{{meterWater.objName}}</td>
                    <td class="text-center">{{meterWater.preDegrees}}</td>
                    <td class="text-center">{{meterWater.curDegrees}}</td>
                    <td class="text-center">{{meterWater.preReadingTime}}</td>
                    <td class="text-center">{{meterWater.curReadingTime}}</td>
                    <td class="text-center">{{meterWater.createTime}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" v-on:click="_openEditMeterWaterModel(meterWater)"><vc:i18n name="修改" namespace="simplifyMeterWaterLog"></vc:i18n>
                        </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" v-on:click="_openDeleteMeterWaterModel(meterWater)"><vc:i18n name="删除" namespace="simplifyMeterWaterLog"></vc:i18n>
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-5">
                <span></span>
            </div>
            <div class="col-sm-7 float-right">
                <vc:create namespace="simplifyMeterWaterFee" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>
