body {
      padding: 10px 10px 0px 10px;
    background: url(../images/bg_body.jpg) ;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 83px;
    line-height: 83px;
    color: #FFFFFF;
    font-size: 30px;
    letter-spacing: 10px;
    background: url(../images/bg_title.png) no-repeat 100%;
    margin: 0 auto;
    text-align: center;
    background-size: 100% 100%;
}

.container {
    width: 100%;
}

.col-lg-3, .col-lg-6 {
    padding: 0;
    margin: 0;
}

.m-20 {
    margin-top: 20px;
}

.title {
    width: 90%;
    height: 60px;
    font-size: 20px;
    color: #ff9000;
    line-height: 60px;
    padding-left: 20px;
    background: url(../images/title_icon.png) left center no-repeat;
    float: left;
}

.box1 {
    width: 95%;
    height: 400px;
    padding: 0 0 25px 25px;
    background: url(../images/bg_box1.png) no-repeat  100%;
    background-size: 100% 100%;
    float: left;
}

.box1_con {
    width: 95%;
    height: 340px;
    float: left;
}

.box2 {
    width: 95%;
    height: 537px;
    padding: 0 0 25px 25px;
    background: url(../images/bg_box2.png) no-repeat 100%;
    background-size: 100% 100%;
    float: left;
}

.box2_con {
    width: 95%;
    height: 500px;
    float: left;
}

.box3 {
    width: 100%;
    height: 500px;
    padding: 0 25px 25px 25px;
    background: url(../images/bg_box3.png) no-repeat 100%;
    background-size: 100% 100%;

    float: left;
}

.box3_con {
    width: 100%;
    height: 470px;
    float: left;
}

.box3_con .box3_con_left {
    width: 100%;
    height: 380px;
    float: left;
    margin-top: 30px;
}

.box3_con .box3_con_right {
    height: 100%;
    margin: 0 auto;
}

.box3_con_right .box3_con_right_top {
    height: 120px;
}

.box3_con_right .box3_con_right_bot {
    width: 100%;
    height: 270px;
    margin-top: 30px;
}

.data_bg {
    width: 92%;
    height: 120px;
    background: url(../images/data_icon.png) no-repeat 100%;
    background-size: 100% 100%;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    padding-top: 20px;
    margin: 0 auto;
}

small {
    font-size: 18px;
    color: #FF9000;
}

.box4 {
    width: 100%;
    height: 435px;
    padding: 0 25px 25px 25px;
    background: url(../images/bg_box4.png) no-repeat 100%;
    background-size: 100% 100%;

    float: left;
}

.box4_con {
    width: 100%;
    height: 370px;
    float: left;
}

.box5 {
    height: 957px;
    padding: 0 25px 25px 35px;
    background: url(../images/bg_box5.png) no-repeat 100%;
    background-size: 96% 100%;
}

.box5 .box5_div{
    width: 96%;
    margin: 0 auto;
}



.box5_con {
    width: 100%;
    
    float: left;
}

.box5_con_top {
    width: 100%;
    height: 220px;
    float: left;
}

.box5_con_bot {
    width: 100%;
    float: left;
}

.box5_con_bot li {
    width: 100%;
    height: 60px;
    line-height: 60px;
    list-style: none;
    border-bottom: 1px dashed #dbdbdb;
    color: #F5F5F5;
    overflow: hidden;
}

.box6_con_bot {
    width: 100%;
    float: left;
}

.box6_con_bot li {
    width: 100%;
    /* height: 40px;
    line-height: 40px; */
    list-style: none;
   
    color: #F5F5F5;
    overflow: hidden;
}