<div id="addProxyFeeModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><span><vc:i18n name="代收费用" namespace="addProxyFee"></vc:i18n></span></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="费用类型" namespace="addProxyFee"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addProxyFeeInfo.feeTypeCd"
                                            @change="_changeProxyFeeTypeCd(addProxyFeeInfo.feeTypeCd)">
                                        <option selected disabled value="">{{vc.i18n('必填，请选择费用类型','addProxyFee')}}
                                        </option>
                                        <option value="888800010015">{{vc.i18n('水费','addProxyFee')}}</option>
                                        <option value="888800010016">{{vc.i18n('电费','addProxyFee')}}</option>
                                        <option value="888800010014">{{vc.i18n('其他','addProxyFee')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="收费项目" namespace="addProxyFee"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addProxyFeeInfo.configId"
                                            @change="_changeProxyFeeConfig()">
                                        <option selected disabled value="">{{vc.i18n('必填，请选择收费项目','addProxyFee')}}
                                        </option>
                                        <option v-for="(item,index) in addProxyFeeInfo.feeConfigs" :key="index"
                                                v-bind:value="item.configId" v-if="item.computingFormula == '6006'">
                                            {{item.feeName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="收费对象" namespace="addProxyFee"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addProxyFeeInfo.ownerName" type="text" disabled="disabled"
                                           :placeholder="vc.i18n('必填，请填写房屋','addProxyFee')" class="form-control ">
                                </div>
                            </div>
                            <div v-if="addProxyFeeInfo.feeTypeCd != '888800010014'">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">
                                        <span><vc:i18n name="用量" namespace="addProxyFee"></vc:i18n></span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input v-model="addProxyFeeInfo.consumption" @blur="_changeConsumption()"
                                               type="text" :placeholder="vc.i18n('必填，请填写用量','addProxyFee')"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">
                                        <span><vc:i18n name="金额" namespace="addProxyFee"></vc:i18n></span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input v-model="addProxyFeeInfo.amount" type="text"
                                               :placeholder="vc.i18n('必填，请填写金额','addProxyFee')" class="form-control "
                                               @blur="_changeAmount()">
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">
                                        <span><vc:i18n name="个数" namespace="addProxyFee"></vc:i18n></span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input v-model="addProxyFeeInfo.consumption" @blur="_changeConsumption()"
                                               type="text" :placeholder="vc.i18n('必填，请填写用量','addProxyFee')"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">
                                        <span><vc:i18n name="金额" namespace="addProxyFee"></vc:i18n></span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input v-model="addProxyFeeInfo.amount" disabled="disabled" type="text"
                                               :placeholder="vc.i18n('必填，请填写金额','addProxyFee')" class="form-control "
                                               @blur="_changeAmount()">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="开始时间" namespace="addProxyFee"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addProxyFeeInfo.startTime" type="text"
                                           :placeholder="vc.i18n('必填，请填写开始时间','addProxyFee')"
                                           class="form-control proxyFeeStartTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="结束时间" namespace="addProxyFee"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addProxyFeeInfo.endTime" type="text"
                                           :placeholder="vc.i18n('必填，请填写结束时间','addProxyFee')"
                                           class="form-control proxyFeeEndTime">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="saveProxyInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-times"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>