<div id="chooseParkingAreaModel" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="chooseParkingAreaModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseParkingAreaModelLabel"><span><vc:i18n name="选择停车场" namespace="chooseParkingArea"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')vc.i18n(' ','chooseParkingArea')<divvc.i18n(' ','chooseParkingArea')class="vc.i18n(' ','chooseParkingArea')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入停车场编号','chooseParkingArea')" type="text"
                                               v-model="chooseParkingAreaInfo._currentParkingAreaName"
                                               class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary"
                                                        v-on:click="queryParkingAreas()"><span><vc:i18n name="查询" namespace="chooseParkingArea"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center"><span><vc:i18n name="停车场" namespace="chooseParkingArea"></vc:i18n></span>ID</th>
                                        <th class="text-center"><span><vc:i18n name="停车场编号" namespace="chooseParkingArea"></vc:i18n></span></th>
                                        <th class="text-center"><span><vc:i18n name="停车场类型" namespace="chooseParkingArea"></vc:i18n></span></th>
                                        <th class="text-center"><span><vc:i18n name="操作" namespace="chooseParkingArea"></vc:i18n></span></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="parkingArea in chooseParkingAreaInfo.parkingAreas">
                                        <td class="text-center">{{parkingArea.paId}}</td>
                                        <td class="text-center">{{parkingArea.num}}</td>
                                        <td class="text-center">{{parkingArea.typeCd}}</td>

                                        <td>
                                            <button class="btn btn-primary btn-xs"
                                                    v-on:click="chooseParkingArea(parkingArea)"><span><vc:i18n name="选择" namespace="chooseParkingArea"></vc:i18n></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <vc:create namespace="chooseParkingArea" path="frame/paginationPlus"></vc:create>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
