<div id="addAppModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="添加应用" namespace="addApp"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <!--<div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="楼名称" namespace="addApp"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addFloorInfo.name" type="text" :placeholder="vc.i18n('必填，请填写名称','addApp')" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="楼编号" namespace="addApp"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addFloorInfo.floorNum" type="email" :placeholder="vc.i18n('必填，请填写编号','addApp')" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="addApp"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addFloorInfo.remark" type="tel" :placeholder="vc.i18n('可填，请填写备注','addApp')" class="form-control"></div>
                            </div>-->

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="应用名称" namespace="addApp"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addAppInfo.name" type="text" :placeholder="vc.i18n('必填，请填写应用名称','addApp')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="秘钥" namespace="addApp"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addAppInfo.securityCode" type="text" :placeholder="vc.i18n('选填，请填写秘钥','addApp')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="白名单" namespace="addApp"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addAppInfo.whileListIp" type="text" :placeholder="vc.i18n('选填，请填写白名单','addApp')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="黑名单" namespace="addApp"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addAppInfo.blackListIp" type="text" :placeholder="vc.i18n('选填，请填写黑名单','addApp')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="addApp"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <textarea :placeholder="vc.i18n('选填，请填写备注','addApp')" class="form-control"
                                              v-model="addAppInfo.remark"></textarea></div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="saveAppInfo()"><i
                                        class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal"><vc:i18n name="取消" namespace="addApp"></vc:i18n>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
