<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><span><vc:i18n name="开门记录信息" namespace="viewMachineRecordInfo"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewMachineRecordInfo.index != 2" class="btn btn-primary btn-sm"
                        style="margin-right:10px;" v-on:click="_openSelectMachineRecordInfoModel()">
                        <i class="fa fa-search"></i> <span><vc:i18n name="选择开门记录" namespace="viewMachineRecordInfo"></vc:i18n></span></button>

                    <button type="button" v-if="viewMachineRecordInfo.index != 2" class="btn btn-primary btn-sm"
                        v-on:click="_openAddMachineRecordInfoModel()">
                        <i class="fa fa-plus"></i> <span><vc:i18n name="添加开门记录" namespace="viewMachineRecordInfo"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="设备编码" namespace="viewMachineRecordInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewMachineRecordInfo.machineCode}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="设备" namespace="viewMachineRecordInfo"></vc:i18n></span>ID：</label>
                            <label class="">{{viewMachineRecordInfo.machineId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="用户名称" namespace="viewMachineRecordInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewMachineRecordInfo.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="开门方式" namespace="viewMachineRecordInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewMachineRecordInfo.openTypeCd}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="用户手机号" namespace="viewMachineRecordInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewMachineRecordInfo.tel}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="身份证" namespace="viewMachineRecordInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewMachineRecordInfo.idCard}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create path="property/addMachineRecord" callBackListener="viewMachineRecordInfo"
        callBackFunction="chooseMachineRecord"></vc:create>


    <vc:create path="property/chooseMachineRecord" emitChooseMachineRecord="viewMachineRecordInfo"
        emitLoadData="viewMachineRecordInfo"></vc:create>
</div>
