<fieldset role="tabpanel" aria-labelledby="component-h-0" class="body current" style="overflow: scroll;" v-bind:class="{no_display:step!=2}" aria-hidden="false">
    <h2><span><vc:i18n name="公司扩展信息" namespace="company-extend"></vc:i18n></span></h2>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <label><span><vc:i18n name="公司法人" namespace="company-extend"></vc:i18n></span> </label> <span class="required">*</span>
                <input  v-model="companyExtendInfo.corporation" type="text" class="form-control required" aria-required="true" />
            </div>
            <div class="form-group">
                <label><span><vc:i18n name="注册资本" namespace="company-extend"></vc:i18n></span>(万元) </label> <span class="required">*</span>
                <input  v-model="companyExtendInfo.registeredCapital" type="text" class="form-control required" aria-required="true" />
            </div>
            <div class="form-group">
                <label><span><vc:i18n name="成立日期" namespace="company-extend"></vc:i18n></span></label> <span class="required">*</span>
                <input v-model="companyExtendInfo.foundingTime" size="16" type="text" :placeholder="vc.i18n('请选择时间','company-extend')(yyyy-mm-dd) "  readonly class="form-control form-control-sm extend_time">
            </div>
            <div class="form-group">
                <label><span><vc:i18n name="登记机关" namespace="company-extend"></vc:i18n></span> </label> <span class="required">*</span>
                <input  v-model="companyExtendInfo.registrationAuthority" type="text" :placeholder="vc.i18n('填写营业执照上的登记机关','company-extend')" class="form-control required" aria-required="true" />

            </div>
            <div class="form-group">
                <label><span><vc:i18n name="经营范围" namespace="company-extend"></vc:i18n></span> </label> <span class="required">*</span>
                <textarea  v-model="companyExtendInfo.scope" rows="20" cols="180" class="form-control required" aria-required="true" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <div style="margin-top: 20px;">
                    <i class="fa fa-sign-in" style="font-size: 180px; color: rgb(229, 229, 229);"></i>
                </div>
            </div>
        </div>
    </div>
</fieldset>
