<div>
    <div class="margin-top">
        <div class="row">
            <div class="col-sm-5 margin-lr-0 padding-lr-0">
                <table class="footable table table-stripped " style="margin-top:10px" data-page-size="10">
                    <thead>
                        <tr>
                            <th class="text-center " style="border-bottom: none;"><span><vc:i18n name="姓名" namespace="reportProficientCarFee"></vc:i18n></span></th>
                            <th class="text-center " style="border-bottom: none;"><span><vc:i18n name="车牌号" namespace="reportProficientCarFee"></vc:i18n></span></th>
                            <th class="text-center " style="border-bottom: none;"><span><vc:i18n name="联系电话" namespace="reportProficientCarFee"></vc:i18n></span></th>
                            <!-- <th class="text-center " style="border-bottom: none;"><span><vc:i18n name="面积" namespace="reportProficientCarFee"></vc:i18n></span></th> -->
                            <th class="text-center " style="border-bottom: none;"><span><vc:i18n name="收费类型" namespace="reportProficientCarFee"></vc:i18n></span></th>
                            <th class="text-center " style="border-bottom: none;"><span><vc:i18n name="费用名称" namespace="reportProficientCarFee"></vc:i18n></span></th>
                            <!-- <th class="text-center " style="border-bottom: none;"><span><vc:i18n name="应收金额" namespace="reportProficientCarFee"></vc:i18n></span></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="fee in reportProficientCarFeeInfo.fees">
                            <td class="text-center ">{{fee.ownerName}}</td>
                            <td class="text-center ">{{fee.objName}}</td>
                            <td class="text-center ">{{fee.ownerLink}}</td>
                            <!-- <td class="text-center ">{{fee.builtUpArea}}</td>  -->
                            <td class="text-center ">{{fee.feeTypeCdName}}</td>
                            <td class="text-center ">{{fee.feeName}}</td>
                            <!-- <td class="text-center ">{{fee.receivableAmount}}</td> -->
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-sm-7 margin-lr-0 padding-lr-0 java110-table-scoll-width">
                <table class="footable table table-stripped " style="margin-top:10px;" data-page-size="10">
                    <thead>
                        <tr>
                            <th v-for="(item,index) in reportProficientCarFeeInfo.listColumns" width="100px" class="java110-td-scoll-width">{{item}}年
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="fee in reportProficientCarFeeInfo.fees">
                            <td v-for="(item,index) in reportProficientCarFeeInfo.listColumns" style="width:100px;cursor: pointer;" class="text-left " @click="_showCarFeeDetail(fee,item)">
                                {{_getProficientCarFeeValue(fee.reportFeeYearCollectionDetailDtos,item)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <span> </span>
            </div>
            <div class="col-sm-7 float-right">
                <vc:create namespace="reportProficientCarFee" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
    <vc:create path="property/viewFeeDetail"></vc:create>
</div>