<div id = "chooseinitializeCommunityModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseinitializeCommunityModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">


        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">温馨提示!</h5>
 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <li style="color: red;">请慎重操作，此操作将清空所有【{{chooseinitializeCommunityInfo.communityName}}】小区数据,小区编码为【{{chooseinitializeCommunityInfo.communityId}}】。谨慎期间，请再次跟相关人员核实确认！</li>
            </br>
                <input placeholder="请输入开发者密码" type="text" v-model="chooseinitializeCommunityInfo._devPassword" class="form-control form-control-sm">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="closeInitializeCommunityModel()">点错了</button>
                <button type="button" class="btn btn-primary" v-on:click="authenticationDevPassword()">确认格式化</button>
            </div>
        </div>
    </div>
</div>