<div>
    <div class="row margin-top-lg">
        <div class="col-lg-6 padding-right-xs padding-left-xl" >
        </div>
        <div class="col-lg-6 text-right padding-right-lg">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px" v-on:click="_printFeeAccountReceipt()">打印
            </button>
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px" v-on:click="_printFeeSmallAccountReceipt()">打印小票
            </button>
        </div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny margin-top" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center">
                        <input type="checkbox" class="i-checks" v-bind:checked="ownerDetailAccountReceiptInfo.quan == true" @click="checkAllAccountReceipt($event)">
                    </th>
                    <th class="text-center">
                        <vc:i18n name="账户名称" namespace="ownerDetailAccountReceipt"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="账户类型" namespace="ownerDetailAccountReceipt"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="业主" namespace="ownerDetailAccountReceipt"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="预存金额" namespace="ownerDetailAccountReceipt"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="预存方式" namespace="ownerDetailAccountReceipt"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="总金额" namespace="ownerDetailAccountReceipt"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="预存时间" namespace="ownerDetailAccountReceipt"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="收据ID" namespace="ownerDetailAccountReceipt"></vc:i18n>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="feeReceipt in ownerDetailAccountReceiptInfo.feeReceipts">
                    <td class="text-center">
                        <input type="checkbox" class="i-checks checAccountReceiptItem" v-bind:value="feeReceipt.arId" v-model="ownerDetailAccountReceiptInfo.selectReceipts">
                    </td>
                    <!-- <td class="text-center">{{_getFeeObjName(feeReceipt.objType)}}
                        <span><vc:i18n name="费" namespace="ownerDetailAccountReceipt"></vc:i18n></span>
                    </td> -->
                    <td class="text-center">{{feeReceipt.acctName}}</td>
                    <td class="text-center">{{feeReceipt.acctTypeName}}</td>
                    <td class="text-center">{{feeReceipt.ownerName}}</td>
                    <td class="text-center">{{feeReceipt.receivedAmount}}</td>
                    <td class="text-center">{{feeReceipt.primeRateName}}</td>
                    <td class="text-center">{{feeReceipt.amount}}元</td>
                    <td class="text-center">{{feeReceipt.createTime}}</td>
                    <td class="text-center">{{feeReceipt.arId}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div class="col-sm-12 float-right">
                <vc:create namespace="ownerDetailAccountReceipt" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>