<div id="addAccessControlMachineModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="添加门禁" namespace="addAccessControlMachine"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="门禁名称" namespace="addAccessControlMachine"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="addAccessControlMachineInfo.machineName" type="text" :placeholder="vc.i18n('必填，请填写设备名称','addAccessControlMachine')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="门禁编码" namespace="addAccessControlMachine"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="addAccessControlMachineInfo.machineCode" type="text" :placeholder="vc.i18n('必填，请填写设备编码','addAccessControlMachine')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="版本号" namespace="addAccessControlMachine"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="addAccessControlMachineInfo.machineVersion" type="text" :placeholder="vc.i18n('必填，请填写版本号','addAccessControlMachine')" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row" v-if="addAccessControlMachineInfo.isShow == 'true'">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="门禁方向" namespace="addAccessControlMachine"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addAccessControlMachineInfo.direction">
                                        <option selected disabled value="">{{vc.i18n('必填，请选择设备方向','addAccessControlMachine')}}</option>
                                        <option value="3306">{{vc.i18n('进场','addAccessControlMachine')}}</option>
                                        <option value="3307">{{vc.i18n('出场','addAccessControlMachine')}}</option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="门禁位置" namespace="addAccessControlMachine"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addAccessControlMachineInfo.locationTypeCd">
                                        <option selected disabled value="">{{vc.i18n('必填，请选择设备位置','addAccessControlMachine')}}</option>
                                        <option v-for="item in addAccessControlMachineInfo.locations" 
                                            :value="item.locationId">{{item.locationName}}-->{{item.locationObjName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><span><vc:i18n name="设备IP" namespace="addAccessControlMachine"></vc:i18n></span></label>
                            <div class="col-sm-10">
                                <input v-model="addAccessControlMachineInfo.machineIp" type="text" :placeholder="vc.i18n('选填，请填写设备IP,如 192.168.1.10:8090','addAccessControlMachine')" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><span><vc:i18n name="设备MAC" namespace="addAccessControlMachine"></vc:i18n></span></label>
                            <div class="col-sm-10">
                                <input v-model="addAccessControlMachineInfo.machineMac" type="text" :placeholder="vc.i18n('选填，请填写设备MAC','addAccessControlMachine')" class="form-control">
                            </div>
                        </div>

                        <div v-for="(item,index) in addAccessControlMachineInfo.attrs">

                            <div class="form-group row" v-if="item.specType == '2233'">
                                <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                                <div class="col-sm-10">
                                    <input v-model="item.value" type="text" :placeholder="item.specHoldplace" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row" v-if="item.specType == '3344'">
                                <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="item.value">
                                        <option selected disabled value="">{{item.specHoldplace}}</option>
                                        <option v-for="value in item.values" :label="value.valueName"
                                            :value="value.value">
                                            {{item.valueName}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="ibox-content">
                            <button class="btn btn-primary float-right" type="button" v-on:click="saveMachineInfo()"><i
                                    class="fa fa-check"></i>&nbsp;保存
                            </button>
                            <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><span><vc:i18n name="取消" namespace="addAccessControlMachine"></vc:i18n></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>