<div id = "editClueAttrModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="修改跟进" namespace="editClueAttr"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><vc:i18n name="跟进时间" namespace="editClueAttr"></vc:i18n></label>
            <div class="col-sm-10">
            <input v-model="editClueAttrInfo.nowTime" type="text" :placeholder="vc.i18n('必填，请填跟进时间','editClueAttr')"
                class="form-control editNowTime">
            </div>
            </div>
                            <div class="form-group row">
         <label class="col-sm-2 col-form-label"><vc:i18n name="目前进展情况" namespace="editClueAttr"></vc:i18n></label>
         <div class="col-sm-10">
           <textarea :placeholder="vc.i18n('必填，请填写目前进展情况','editClueAttr')" cols="15" class="form-control"
           v-model="editClueAttrInfo.nowSituation"></textarea>
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label"><vc:i18n name="下一步推进计划" namespace="editClueAttr"></vc:i18n></label>
         <div class="col-sm-10">
           <textarea :placeholder="vc.i18n('选填，请填写下一步推进计划','editClueAttr')" cols="15" class="form-control"
           v-model="editClueAttrInfo.nextSituation"></textarea>
         </div>
</div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editClueAttr()" ><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><vc:i18n name="取消" namespace="editClueAttr"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
