<div id = "chooseMenuCatalogModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseMenuCatalogModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseMenuCatalogModelLabel"><vc:i18n name="选择菜单目录" namespace="chooseMenuCatalog"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')vc.i18n(' ','chooseMenuCatalog')<divvc.i18n(' ','chooseMenuCatalog')class="vc.i18n(' ','chooseMenuCatalog')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入菜单目录名称','chooseMenuCatalog')" type="text" v-model="chooseMenuCatalogInfo._currentMenuCatalogName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryMenuCatalogs()"><vc:i18n name="查询" namespace="chooseMenuCatalog"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="编号" namespace="chooseMenuCatalog"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="名称" namespace="chooseMenuCatalog"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="图片" namespace="chooseMenuCatalog"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="顺序" namespace="chooseMenuCatalog"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="商户类型" namespace="chooseMenuCatalog"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="页面" namespace="chooseMenuCatalog"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="是否显示" namespace="chooseMenuCatalog"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseMenuCatalog"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="menuCatalog in chooseMenuCatalogInfo.menuCatalogs">
                                                                        <td class="text-center">{{menuCatalog.caId}}</td>
                            <td class="text-center">{{menuCatalog.name}}</td>
                            <td class="text-center">{{menuCatalog.icon}}</td>
                            <td class="text-center">{{menuCatalog.seq}}</td>
                            <td class="text-center">{{menuCatalog.storeType}}</td>
                            <td class="text-center">{{menuCatalog.url}}</td>
                            <td class="text-center">{{menuCatalog.isShow}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseMenuCatalog(menuCatalog)"><vc:i18n name="选择" namespace="chooseMenuCatalog"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
