<div id = "chooseMenuCatalogModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseMenuCatalogModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseMenuCatalogModelLabel">选择菜单目录</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input placeholder="输入菜单目录名称" type="text" v-model="chooseMenuCatalogInfo._currentMenuCatalogName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryMenuCatalogs()">查询</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center">编号</th>
                            <th class="text-center">名称</th>
                            <th class="text-center">图片</th>
                            <th class="text-center">顺序</th>
                            <th class="text-center">商户类型</th>
                            <th class="text-center">页面</th>
                            <th class="text-center">是否显示</th>
                            <th class="text-center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="menuCatalog in chooseMenuCatalogInfo.menuCatalogs">
                                                                        <td class="text-center">{{menuCatalog.caId}}</td>
                            <td class="text-center">{{menuCatalog.name}}</td>
                            <td class="text-center">{{menuCatalog.icon}}</td>
                            <td class="text-center">{{menuCatalog.seq}}</td>
                            <td class="text-center">{{menuCatalog.storeType}}</td>
                            <td class="text-center">{{menuCatalog.url}}</td>
                            <td class="text-center">{{menuCatalog.isShow}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseMenuCatalog(menuCatalog)">选择</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
