<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><span><vc:i18n name="供应商信息" namespace="viewResourceSupplierInfo"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewResourceSupplierInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectResourceSupplierInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <span><vc:i18n name="选择供应商" namespace="viewResourceSupplierInfo"></vc:i18n></span></button>

                    <button type="button" v-if="viewResourceSupplierInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddResourceSupplierInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <span><vc:i18n name="添加供应商" namespace="viewResourceSupplierInfo"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="供应商名称" namespace="viewResourceSupplierInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewResourceSupplierInfo.supplierName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="供应商地址" namespace="viewResourceSupplierInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewResourceSupplierInfo.address}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="供应商联系方式" namespace="viewResourceSupplierInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewResourceSupplierInfo.tel}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="联系人姓名" namespace="viewResourceSupplierInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewResourceSupplierInfo.contactName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="开户行" namespace="viewResourceSupplierInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewResourceSupplierInfo.accountBank}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="开户行账号" namespace="viewResourceSupplierInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewResourceSupplierInfo.bankAccountNumber}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="备注" namespace="viewResourceSupplierInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewResourceSupplierInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="property/addResourceSupplier"
               callBackListener="viewResourceSupplierInfo"
               callBackFunction="chooseResourceSupplier"
    ></vc:create>


    <vc:create path="property/chooseResourceSupplier"
               emitChooseResourceSupplier="viewResourceSupplierInfo"
               emitLoadData="viewResourceSupplierInfo"
    ></vc:create>
</div>
