<div class="">
    <div class="row">
        <div class="col-sm-2">
            <select class="custom-select" v-model="staffDetailApplyReturnFeeInfo.state">
                <option value="" selected>{{vc.i18n('选择审核状态','staffDetailApplyReturnFee')}}</option>
                <option v-for="(item,index) in staffDetailApplyReturnFeeInfo.returnPayFeeStates" :key="index"
                        v-bind:value="item.statusCd">{{item.name}}
                </option>
            </select>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-sm"
                    v-on:click="_qureyStaffDetailApplyReturnFee()">
                <vc:i18n name="查询" namespace="staffDetailApplyReturnFee"></vc:i18n>
            </button>
        </div>
        <div class="col-lg-8 text-right"></div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
            <tr>
                <th class="text-center">
                    <vc:i18n name="退款单号" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="缴费单号" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="费用类型" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="付费对象" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="付费周期(单位:月)" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="应付金额(单位:元)" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="实付金额(单位:元)" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="申请时间" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="退费原因" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="申请人" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="审核状态" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="审核人" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="操作" namespace="staffDetailApplyReturnFee"></vc:i18n>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="payFee in staffDetailApplyReturnFeeInfo.returnPayFees">
                <td class="text-center">{{payFee.returnFeeId}}</td>
                <td class="text-center">{{payFee.detailId}}</td>
                <td class="text-center">{{payFee.feeTypeCdName}}</td>
                <td class="text-center">{{payFee.payerObjName}}</td>
                <td class="text-center">{{vc.unum(payFee.cycles)}}</td>
                <td class="text-center">{{vc.unum(payFee.receivableAmount)}}</td>
                <td class="text-center">
                    {{vc.unum(payFee.receivedAmount)}}<br>
                    <div v-for="(item,index) in payFee.feeAccountDetailDtoList" :key="index"
                         v-bind:value="item.state" v-if="item.state != '1001'">
                        {{item.stateName}}: {{item.amount}}<br>
                    </div>
                    <div v-for="(item,index) in payFee.payFeeDetailDiscountDtoList" :key="index"
                         v-bind:value="item.state">
                        {{item.discountName}}: {{Math.abs(item.discountPrice)}}<br>
                    </div>
                </td>
                <td class="text-center">{{payFee.createTime}}</td>
                <td class="text-center">{{payFee.reason}}</td>
                <td class="text-center">{{payFee.applyPersonName?payFee.applyPersonName:'-'}}</td>
                <td class="text-center">
                    <span class="badge badge-success" v-if="payFee.state == '1100'">{{payFee.stateName}}</span>
                    <span class="badge badge-danger" v-else-if="payFee.state == '1200'">{{payFee.stateName}}</span>
                    <span class="badge badge-info" v-else>{{payFee.stateName}}</span>
                </td>
                <td class="text-center">{{payFee.auditPersonName?payFee.auditPersonName:'-'}}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn-white btn btn-xs" v-on:click="_toReturnFeeDetail(payFee)">
                            <span>
                                <vc:i18n name="详情" namespace="staffDetailApplyReturnFee"></vc:i18n>
                            </span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <vc:create namespace="staffDetailApplyReturnFee" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
    <vc:create path="common/viewImage"></vc:create>
</div>