<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{{mainParkingSpaceFeeInfo.feeName}}<vc:i18n name="信息" namespace="viewMainParkingSpaceFee"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <!--<button type="button" class="btn btn-primary btn-sm" v-on:click="openSearchParkingSpaceModel()">
                        <i class="fa fa-search"></i> <vc:i18n name="选择停车位" namespace="viewMainParkingSpaceFee"></vc:i18n></button>-->
                    <button type="button" class="btn btn-primary btn-sm"
                            v-if="mainParkingSpaceFeeInfo.feeId != null && mainParkingSpaceFeeInfo.feeId != '' &&  mainParkingSpaceFeeInfo.amount == '-1.00'"
                             v-on:click="openPayModel()">
                        <i class="fa fa-plus" ></i> <vc:i18n name="缴费" namespace="viewMainParkingSpaceFee"></vc:i18n></button>

                    <button type="button" class="btn btn-primary btn-sm"
                            style="margin-left:10px" v-on:click="_openCallBackOwner()">
                        返回</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="费用" namespace="viewMainParkingSpaceFee"></vc:i18n>ID：</label>
                            <label class="">{{mainParkingSpaceFeeInfo.feeId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="停车位编号" namespace="viewMainParkingSpaceFee"></vc:i18n>：</label>
                            <label class="">{{mainParkingSpaceFeeInfo.num}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="车牌号" namespace="viewMainParkingSpaceFee"></vc:i18n>：</label>
                            <label class="">{{mainParkingSpaceFeeInfo.carNum}}</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="费用开始时间" namespace="viewMainParkingSpaceFee"></vc:i18n>：</label>
                            <label class="">{{mainParkingSpaceFeeInfo.startTime}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="费用到期时间" namespace="viewMainParkingSpaceFee"></vc:i18n>：</label>
                            <label class="">{{mainParkingSpaceFeeInfo.endTime}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" v-if="mainParkingSpaceFeeInfo.amount != '-1.00'">
                            <label class="col-form-label"><vc:i18n name="费用金额" namespace="viewMainParkingSpaceFee"></vc:i18n>：</label>
                            <label class="">{{mainParkingSpaceFeeInfo.amount}} 元</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
   <!-- <vc:create path="property/searchParkingSpace"
               emitChooseParkingSpace="viewMainParkingSpaceFee"
               emitLoadData="propertyFee"
               parkingSpaceFlag="SH"
    ></vc:create>-->
    <vc:create path="property/propertyPay"
               emitReloadFee="viewMainParkingSpaceFee">

    </vc:create>
</div>
