<div id="addMappingModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="添加编码映射" namespace="addMapping"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <!--<div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="楼名称" namespace="addMapping"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addFloorInfo.name" type="text" :placeholder="vc.i18n('必填，请填写名称','addMapping')" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="楼编号" namespace="addMapping"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addFloorInfo.floorNum" type="email" :placeholder="vc.i18n('必填，请填写编号','addMapping')" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="addMapping"></vc:i18n></label>
                                <div class="col-sm-10"><input v-model="addFloorInfo.remark" type="tel" :placeholder="vc.i18n('可填，请填写备注','addMapping')" class="form-control"></div>
                            </div>-->

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="域" namespace="addMapping"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addMappingInfo.domain" type="text" :placeholder="vc.i18n('必填，请填写域','addMapping')"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="名称" namespace="addMapping"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addMappingInfo.name" type="text" :placeholder="vc.i18n('必填，请填写名称','addMapping')"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="键" namespace="addMapping"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addMappingInfo.key" type="text" :placeholder="vc.i18n('必填，请填写键','addMapping')"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="值" namespace="addMapping"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addMappingInfo.value" type="text" :placeholder="vc.i18n('必填，请填写值','addMapping')"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="addMapping"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <textarea :placeholder="vc.i18n('选填，请填写备注','addMapping')" class="form-control"
                                        v-model="addMappingInfo.remark"></textarea> </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                    v-on:click="saveMappingInfo()"><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal"><vc:i18n name="取消" namespace="addMapping"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
