<div id="integralUseModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><span><vc:i18n name="积分核销" namespace="integralUse"></vc:i18n></span></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name='手机号' namespace='integralUse'></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="integralUseInfo.tel" type="text" :placeholder="vc.i18n('必填，请填写手机号','integralUse')" @blur="_changeTel()" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="业主名称" namespace="integralUse"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="integralUseInfo.ownerId" @change="_changeOwner()">
                                        <option selected disabled value="">{{vc.i18n('必填，请选择业主','prestoreAccount')}}</option>
                                        <option v-for="(owner,index) in integralUseInfo.owners" :key="index"
                                                v-bind:value="owner.ownerId">{{owner.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name='积分账户' namespace='integralUse'></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="integralUseInfo.acctName" type="text" disabled :placeholder="vc.i18n('积分账户','integralUse')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name='积分数' namespace='integralUse'></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="integralUseInfo.quantity" type="text" disabled :placeholder="vc.i18n('积分数','integralUse')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name='核销金额' namespace='integralUse'></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="integralUseInfo.useMoney" type="text" @blur="_computeUseQuantity()" :placeholder="vc.i18n('必填，请填写核销金额','integralUse')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name='核销积分' namespace='integralUse'></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="integralUseInfo.useQuantity" type="text" :placeholder="vc.i18n('必填，请填写核销积分','integralUse')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name='核销说明' namespace='integralUse'></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <textarea v-model="integralUseInfo.remark" :placeholder="vc.i18n('必填，请填写核销说明','integralUse')" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="_doUseIntegral()"><i class="fa fa-check"></i>&nbsp;
                                    <span><vc:i18n name="核销"></vc:i18n></span>
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">
                                    <span><vc:i18n name="取消"></vc:i18n></span>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>