<div class="row" >
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="物业费初始化信息" namespace="viewPropertyFeeConfig"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="openConfigPropertyFeeModel()">
                        <i class="fa fa-plus"></i> <vc:i18n name="编辑" namespace="viewPropertyFeeConfig"></vc:i18n></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="物业费配置" namespace="viewPropertyFeeConfig"></vc:i18n>ID：</label>
                            <label class="">{{feeConfigInfo.configId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="每平米单价" namespace="viewPropertyFeeConfig"></vc:i18n>：</label>
                            <label class="">{{feeConfigInfo.squarePrice}} 元</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="附加费用" namespace="viewPropertyFeeConfig"></vc:i18n>：</label>
                            <label class="">{{feeConfigInfo.additionalAmount}} 元</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <vc:create path="property/configPropertyFee"></vc:create>
</div>
