<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="员工信息" namespace="viewStaffInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm"
                            style="margin-right:10px;" v-on:click="_openSelectStaffInfoModel()">
                        <i class="fa fa-search"></i> <vc:i18n name="选择" namespace="viewStaffInfo"></vc:i18n>
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="员工" namespace="viewStaffInfo"></vc:i18n>ID：</label>
                            <label class="">{{viewStaffInfo.userId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="员工名称" namespace="viewStaffInfo"></vc:i18n>：</label>
                            <label class="">{{viewStaffInfo.name}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="员工邮箱" namespace="viewStaffInfo"></vc:i18n>：</label>
                            <label class="">{{viewStaffInfo.email}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="手机号" namespace="viewStaffInfo"></vc:i18n>：</label>
                            <label class="">{{viewStaffInfo.tel}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="员工性别" namespace="viewStaffInfo"></vc:i18n>：</label>
                            <label class="">{{viewStaffInfo.sex=='0' ? '男' : '女'}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create path="frame/searchStaff"
               callBackListener="viewStaffInfo"
               callBackFunction="chooseStaff"
    ></vc:create>
</div>
