<div class="">
    <div class="row ">
        <div class="col-lg-12 text-right">

        </div>
    </div>

    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center">
                        <vc:i18n name="编号" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="维修编号" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="物品编号" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="物品类型" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="物品名称" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="物品规格" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="固定物品" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="使用类型" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="使用数量" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="物品价格" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="使用人" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="创建时间" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="备注" namespace="resourceDetailUseRecord"></vc:i18n>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="resourceStoreUseRecord in resourceDetailUseRecordInfo.resourceStoreUseRecords">
                    <td class="text-center">{{resourceStoreUseRecord.rsurId}}</td>
                    <td class="text-center">{{resourceStoreUseRecord.repairId}}</td>
                    <td class="text-center">{{resourceStoreUseRecord.resId}}</td>
                    <td class="text-center">
                        {{resourceStoreUseRecord.parentRstName}} > {{resourceStoreUseRecord.rstName}}
                    </td>
                    <td class="text-center">
                        {{resourceStoreUseRecord.resourceStoreName ? resourceStoreUseRecord.resourceStoreName :
                        '-'}}
                    </td>
                    <td class="text-center">
                        {{resourceStoreUseRecord.specName ? resourceStoreUseRecord.specName : '-'}}
                    </td>
                    <td class="text-center">{{resourceStoreUseRecord.isFixedName}}</td>
                    <td class="text-center">{{resourceStoreUseRecord.stateName}}</td>
                    <td class="text-center">
                        {{resourceStoreUseRecord.quantity}}{{resourceStoreUseRecord.miniUnitCodeName}}
                    </td>
                    <td class="text-center">
                        {{resourceStoreUseRecord.unitPrice ? resourceStoreUseRecord.unitPrice : '-'}}
                    </td>
                    <td class="text-center">{{resourceStoreUseRecord.createUserId}}</td>
                    <td class="text-center">{{resourceStoreUseRecord.createUserName}}</td>
                    <td class="text-center">{{resourceStoreUseRecord.createTime}}</td>
                    <td class="text-center">{{resourceStoreUseRecord.remark}}</td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">
                <vc:create namespace="resourceDetailUseRecord" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>