<div class="uploadImage row margin-left-0">
    <div v-for="image in this.uploadImageUrlInfo.photos">
        <img v-bind:src="image" width="100px" height="100px"/>
        <span v-on:click="this._removeImage(image)" class="fa fa-remove"
              style="position: relative; top: -35px;right: 20px; color: #d9534f"></span>
    </div>
    <div class="uploadButton" v-on:click="this._uploadPhoto()"
         v-if="this.uploadImageUrlInfo.photos.length < this.uploadImageUrlInfo.imageCount">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <input type="file" class="file" accept="image/*" id="uploadImage"
           v-if="this.uploadImageUrlInfo.photos.length < this.uploadImageUrlInfo.imageCount" hidden
           v-on:change="this._choosePhoto($event)">
</div>
