<div id="searchParkingSpaceModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchParkingSpaceModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="searchParkingSpaceModelLabel">
                    <vc:i18n name="选择停车位" namespace="searchParkingSpace"></vc:i18n>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row" v-if="searchParkingSpaceInfo.showSearchCondition == 'true'">

                                <div class="col-sm-6 m-b-xs">
                                    <div class="input-group" v-if="searchParkingSpaceInfo.psFlag == 'SH'">
                                        <input :placeholder="vc.i18n('请输入车牌号','searchParkingSpace')" type="text" v-model="searchParkingSpaceInfo.carNum" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('请输入停车场','searchParkingSpace')" type="text" v-model="searchParkingSpaceInfo.areaNum" class="form-control form-control-sm">
                                        <input :placeholder="vc.i18n('请输入停车位编号','searchParkingSpace')" type="text" v-model="searchParkingSpaceInfo.num" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-sm btn-primary" v-on:click="searchParkingSpaces()"><vc:i18n name="查询" namespace="searchParkingSpace"></vc:i18n></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <vc:i18n name="车位" namespace="searchParkingSpace"></vc:i18n>ID</th>
                                            <th data-hide="phone">
                                                <vc:i18n name="车位编码" namespace="searchParkingSpace"></vc:i18n>
                                            </th>
                                            <th data-hide="phone">
                                                <vc:i18n name="车位类型" namespace="searchParkingSpace"></vc:i18n>
                                            </th>
                                            <th data-hide="phone">
                                                <vc:i18n name="车位状态" namespace="searchParkingSpace"></vc:i18n>
                                            </th>
                                            <th data-hide="phone">
                                                <vc:i18n name="面积" namespace="searchParkingSpace"></vc:i18n>
                                            </th>

                                            <th class="text-right">
                                                <vc:i18n name="操作" namespace="searchParkingSpace"></vc:i18n>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="parkingSpace in searchParkingSpaceInfo.parkingSpaces">
                                            <td>
                                                {{parkingSpace.psId}}
                                            </td>

                                            <td>
                                                {{parkingSpace.num}}
                                            </td>
                                            <td>
                                                {{parkingSpace.typeCd == '1001'?'地上停车位':'地下停车位'}}
                                            </td>
                                            <td>
                                                <!-- {{vc.component._viewParkingSpaceState(parkingSpace.state)}}-->
                                                {{parkingSpace.stateName}}
                                            </td>
                                            <td>
                                                {{parkingSpace.area}}
                                            </td>

                                            <td class="text-right">
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseParkingSpace(parkingSpace)"><vc:i18n name="选择" namespace="searchParkingSpace"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <vc:create namespace="searchParkingSpace" path="frame/paginationPlus"></vc:create>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>