<div class="margin-top">
    <div class="row margin-top-lg">
        <div class="col-lg-3 padding-right-xs padding-left-xl">
            <input v-model="parkingAreaControlBlackCar.carNum" type="text" :placeholder="vc.i18n('必填，请填写车牌号','parkingAreaControlBlackCar')" class="form-control">

        </div>
        <div class="col-lg-3 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-right-xl text-right">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px"
                v-on:click="_qureyParkingAreaControlBlackCar()">
                查询
            </button>
        </div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center"><span><vc:i18n name="名单" namespace="parkingAreaControlBlackCar"></vc:i18n></span>ID</th>
                    <th class="text-center"><span><vc:i18n name="停车场" namespace="parkingAreaControlBlackCar"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="车牌号" namespace="parkingAreaControlBlackCar"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="开始时间" namespace="parkingAreaControlBlackCar"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="结束时间" namespace="parkingAreaControlBlackCar"></vc:i18n></span></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="car in parkingAreaControlBlackCar.cars">
                    <td class="text-center">{{car.bwId}}</td>
                    <td class="text-center">{{car.paNum}}</td>
                    <td class="text-center">{{car.carNum}}</td>
                    <td class="text-center">{{car.startTime}}</td>
                    <td class="text-center">{{car.endTime}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- 分页 -->
        <vc:create path="frame/paginationPlus" namespace="parkingAreaControlBlackCar"></vc:create>
    </div>
</div>
