<div id="addCarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><span><vc:i18n name="添加车辆" namespace="addCarModal"></vc:i18n></span></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="车牌号" namespace="addCarModal"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="addCarModelInfo.carNum" type="text" :placeholder="vc.i18n('必填，请填写车牌号','addCarModal')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="车品牌" namespace="addCarModal"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="addCarModelInfo.carBrand" type="text" :placeholder="vc.i18n('必填，请填写车品牌，如 宝马','addCarModal')X6"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="车类型" namespace="addCarModal"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addCarModelInfo.carType">
                                        <option selected disabled value="">{{vc.i18n('必填','addCarModal')}}，请选择类型</option>
                                        <option v-for="carType in carTypes" :key="carType.statusCd"
                                                v-bind:value="carType.statusCd">{{carType.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="颜色" namespace="addCarModal"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="addCarModelInfo.carColor" type="text" :placeholder="vc.i18n('必填，请填写车颜色，如白色','addCarModal')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="备注" namespace="addCarModal"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <textarea v-model="addCarModelInfo.remark" type="text" :placeholder="vc.i18n('请填写备注信息','addCarModal')"
                                              rows="3" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="saveAddCarInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-times"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
