<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="房屋装修信息" namespace="viewRoomRenovationInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewRoomRenovationInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectRoomRenovationInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <vc:i18n name="选择房屋装修" namespace="viewRoomRenovationInfo"></vc:i18n></button>

                    <button type="button" v-if="viewRoomRenovationInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddRoomRenovationInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <vc:i18n name="添加房屋装修" namespace="viewRoomRenovationInfo"></vc:i18n></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="房屋" namespace="viewRoomRenovationInfo"></vc:i18n>：</label>
                            <label class="">{{viewRoomRenovationInfo.roomName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="联系人" namespace="viewRoomRenovationInfo"></vc:i18n>：</label>
                            <label class="">{{viewRoomRenovationInfo.personName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="联系电话" namespace="viewRoomRenovationInfo"></vc:i18n>：</label>
                            <label class="">{{viewRoomRenovationInfo.personTel}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="装修时间" namespace="viewRoomRenovationInfo"></vc:i18n>：</label>
                            <label class="">{{viewRoomRenovationInfo.startTime}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="结束时间" namespace="viewRoomRenovationInfo"></vc:i18n>：</label>
                            <label class="">{{viewRoomRenovationInfo.endTime}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="备注" namespace="viewRoomRenovationInfo"></vc:i18n>：</label>
                            <label class="">{{viewRoomRenovationInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="property/addRoomRenovation"
               callBackListener="viewRoomRenovationInfo"
               callBackFunction="chooseRoomRenovation"
    ></vc:create>


    <vc:create path="property/chooseRoomRenovation"
               emitChooseRoomRenovation="viewRoomRenovationInfo"
               emitLoadData="viewRoomRenovationInfo"
    ></vc:create>
</div>
