<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="目录商品信息" namespace="viewMainCategoryProductInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewMainCategoryProductInfo.index != 2" class="btn btn-primary btn-sm"
                            style="margin-right:10px;" v-on:click="_openSelectMainCategoryProductInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <vc:i18n name="选择目录商品" namespace="viewMainCategoryProductInfo"></vc:i18n>
                    </button>

                    <button type="button" v-if="viewMainCategoryProductInfo.index != 2" class="btn btn-primary btn-sm"
                            v-on:click="_openAddMainCategoryProductInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <vc:i18n name="添加目录商品" namespace="viewMainCategoryProductInfo"></vc:i18n>
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="目录" namespace="viewMainCategoryProductInfo"></vc:i18n>：</label>
                            <label class="">{{viewMainCategoryProductInfo.mainCategoryId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="商品编号" namespace="viewMainCategoryProductInfo"></vc:i18n>：</label>
                            <label class="">{{viewMainCategoryProductInfo.productId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="开始时间" namespace="viewMainCategoryProductInfo"></vc:i18n>：</label>
                            <label class="">{{viewMainCategoryProductInfo.startTime}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="结束时间" namespace="viewMainCategoryProductInfo"></vc:i18n>：</label>
                            <label class="">{{viewMainCategoryProductInfo.endTime}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="排序" namespace="viewMainCategoryProductInfo"></vc:i18n>：</label>
                            <label class="">{{viewMainCategoryProductInfo.seq}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <vc:create path="admin/addMainCategoryProduct"
               callBackListener="viewMainCategoryProductInfo"
               callBackFunction="chooseMainCategoryProduct"></vc:create>
    <vc:create path="admin/chooseMainCategoryProduct"
               emitChooseMainCategoryProduct="viewMainCategoryProductInfo"
               emitLoadData="viewMainCategoryProductInfo"></vc:create>
</div>
