<div>
    <div class="row">
        <!-- 2*2-->
        <div class="row col-md-12">
            <div class="col-md-6"  >
                <div class="form-group" >
                    <video id="rtc_media_player1" controls autoplay="autoplay" muted width="100%" height="400px"></video>
                </div>
            </div>
            <div class="col-md-6"  >
                <div class="form-group" >
                    <video id="rtc_media_player2" controls autoplay="autoplay" muted width="100%" height="400px"></video>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6"  >
                <div class="form-group" >
                    <video id="rtc_media_player3" controls autoplay="autoplay" muted width="100%" height="400px"></video>
                </div>
            </div>
            <div class="col-md-6"  >
                <div class="form-group" >
                    <video id="rtc_media_player4" controls autoplay="autoplay" muted width="100%" height="400px"></video>
                </div>
            </div>
        </div>

    </div>
</div>