<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>考勤班组信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewAttendanceClassesInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectAttendanceClassesInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择考勤班组</button>

                    <button type="button" v-if="viewAttendanceClassesInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddAttendanceClassesInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加考勤班组</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >班次名称：</label>
                            <label class="">{{viewAttendanceClassesInfo.classesName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >打卡范围：</label>
                            <label class="">{{viewAttendanceClassesInfo.timeOffset}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >打卡次数：</label>
                            <label class="">{{viewAttendanceClassesInfo.clockCount}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >打卡类型：</label>
                            <label class="">{{viewAttendanceClassesInfo.clockType}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >打卡规则：</label>
                            <label class="">{{viewAttendanceClassesInfo.clockTypeValue}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >迟到范围：</label>
                            <label class="">{{viewAttendanceClassesInfo.leaveOffset}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >早退范围：</label>
                            <label class="">{{viewAttendanceClassesInfo.lateOffset}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >班次对象类型：</label>
                            <label class="">{{viewAttendanceClassesInfo.classesObjType}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >班次对象：</label>
                            <label class="">{{viewAttendanceClassesInfo.classesObjId}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="property/addAttendanceClasses"
               callBackListener="viewAttendanceClassesInfo"
               callBackFunction="chooseAttendanceClasses"
    ></vc:create>


    <vc:create path="property/chooseAttendanceClasses"
               emitChooseAttendanceClasses="viewAttendanceClassesInfo"
               emitLoadData="viewAttendanceClassesInfo"
    ></vc:create>
</div>
