<div class="margin-top">
    <div class="row margin-top-lg">
        <div class="col-lg-2 padding-right-xs padding-left-xl"></div>
        <div class="col-lg-2 padding-right-xs padding-right-xl"></div>
        <div class="col-lg-8 text-right"></div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
            <tr>
                <th class="text-center">
                    <vc:i18n name="合同名称" namespace="contractDetailChange"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="合同编号" namespace="contractDetailChange"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="合同类型" namespace="contractDetailChange"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="甲方" namespace="contractDetailChange"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="乙方" namespace="contractDetailChange"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="变更类型" namespace="contractDetailChange"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="变更人" namespace="contractDetailChange"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="申请时间" namespace="contractDetailChange"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="说明" namespace="contractDetailChange"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="状态" namespace="contractDetailChange"></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name="操作" namespace="contractDetailChange"></vc:i18n>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="contract in contractDetailChangeInfo.contracts">
                <td class="text-center">{{contract.contractName}}</td>
                <td class="text-center">{{contract.contractCode}}</td>
                <td class="text-center">{{contract.contractTypeName}}</td>
                <td class="text-center">{{contract.partyA}}</td>
                <td class="text-center">{{contract.partyB}}</td>
                <td class="text-center">{{contract.planTypeName}}</td>
                <td class="text-center">{{contract.changePersonName}}</td>
                <td class="text-center">{{contract.createTime}}</td>
                <td class="text-center">{{contract.remark}}</td>
                <td class="text-center">{{contract.stateName}}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn-white btn btn-xs" v-on:click="_toContractDetails(contract)">
                            <vc:i18n name="明细" namespace="contractDetailChange"></vc:i18n>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="12">
                    <ul class="pagination float-right"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
        <!-- 分页 -->
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <vc:create namespace="contractDetailChange" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>