<div id = "chooseFeeConfigModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseFeeConfigModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseFeeConfigModelLabel"><vc:i18n name="选择费用项" namespace="chooseFeeConfig"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')vc.i18n(' ','chooseFeeConfig')<divvc.i18n(' ','chooseFeeConfig')class="vc.i18n(' ','chooseFeeConfig')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入费用项名称','chooseFeeConfig')" type="text" v-model="chooseFeeConfigInfo._currentFeeConfigName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryFeeConfigs()"><vc:i18n name="查询" namespace="chooseFeeConfig"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="费用项" namespace="chooseFeeConfig"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="费用类型" namespace="chooseFeeConfig"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="收费项目" namespace="chooseFeeConfig"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="费用标识" namespace="chooseFeeConfig"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="计费起始时间" namespace="chooseFeeConfig"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="计费终止时间" namespace="chooseFeeConfig"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="计算公式" namespace="chooseFeeConfig"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="计费单价" namespace="chooseFeeConfig"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="附加费用" namespace="chooseFeeConfig"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseFeeConfig"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="feeConfig in chooseFeeConfigInfo.feeConfigs">
                                                                        <td class="text-center">{{feeConfig.configId}}</td>
                            <td class="text-center">{{feeConfig.feeTypeCd}}</td>
                            <td class="text-center">{{feeConfig.feeName}}</td>
                            <td class="text-center">{{feeConfig.feeFlag}}</td>
                            <td class="text-center">{{feeConfig.startTime}}</td>
                            <td class="text-center">{{feeConfig.endTime}}</td>
                            <td class="text-center">{{feeConfig.computingFormula}}</td>
                            <td class="text-center">{{feeConfig.squarePrice}}</td>
                            <td class="text-center">{{feeConfig.additionalAmount}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseFeeConfig(feeConfig)"><vc:i18n name="选择" namespace="chooseFeeConfig"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
