<div id="addSmsConfigModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <vc:i18n name="短信配置" namespace="addSmsConfig"></vc:i18n>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="短信商" namespace="addSmsConfig"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addSmsConfigInfo.smsType">
                    <option selected disabled value="">{{vc.i18n('必填，请选择短信商','addSmsConfig')}}</option>
                    <option value="ALI">{{vc.i18n('阿里','addSmsConfig')}}</option>
                    <option value="TECENT">{{vc.i18n('腾讯','addSmsConfig')}}</option>
                  </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="短信业务" namespace="addSmsConfig"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addSmsConfigInfo.smsBusi">
                    <option selected disabled value="">{{vc.i18n('必填，请选择短信业务','addSmsConfig')}}</option>
                    <option value="1001">{{vc.i18n('欠费催缴','addSmsConfig')}}</option>
                    <option value="2002">{{vc.i18n('工单通知','addSmsConfig')}}</option>
                  </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="短信模板" namespace="addSmsConfig"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addSmsConfigInfo.templateCode" type="text" :placeholder="vc.i18n('必填，请填写短信模板','addSmsConfig')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="短信签名" namespace="addSmsConfig"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addSmsConfigInfo.signName" type="text" :placeholder="vc.i18n('必填，请填写短信签名','addSmsConfig')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="访问" namespace="addSmsConfig"></vc:i18n>KEY</label>
                                <div class="col-sm-10">
                                    <input v-model="addSmsConfigInfo.accessKeyId" type="text" :placeholder="vc.i18n('必填，请填写访问KEY','addSmsConfig')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="短信秘钥" namespace="addSmsConfig"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addSmsConfigInfo.accessSecret" type="text" :placeholder="vc.i18n('必填，请填写短信秘钥','addSmsConfig')" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="区域" namespace="addSmsConfig"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addSmsConfigInfo.region" type="text" :placeholder="vc.i18n('必填，请填写区域','addSmsConfig')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="日志" namespace="addSmsConfig"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addSmsConfigInfo.logSwitch">
                    <option selected disabled value="">{{vc.i18n('必填','addSmsConfig')}}，请选择日志</option>
                    <option value="ON">{{vc.i18n('记录','addSmsConfig')}}</option>
                    <option value="OFF">{{vc.i18n('不记录','addSmsConfig')}}</option>
                  </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="addSmsConfig"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <textarea v-model="addSmsConfigInfo.remark" :placeholder="vc.i18n('选填，请填写备注','addSmsConfig')" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="saveSmsConfigInfo()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><vc:i18n name="取消" namespace="addSmsConfig"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
