<div id="editRentingConfigModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b ">修改</h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">租聘类型</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editRentingConfigInfo.rentingType">
                    <option selected disabled value="">必填，请选择租聘类型</option>
                    <option value="3344">整租</option>
                    <option value="4455">合租</option>
                  </select> </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">收费公式</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editRentingConfigInfo.rentingFormula">
                    <option selected disabled value="">必填，请选择收费公式</option>
                    <option value="1001">固定值</option>
                    <option value="2002">每月租金比例</option>
                  </select> </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">服务费</label>
                <div class="col-sm-10">
                  <input v-model="editRentingConfigInfo.servicePrice" type="text" placeholder="必填，请填写服务费"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">业主收费比率</label>
                <div class="col-sm-10">
                  <input v-model="editRentingConfigInfo.serviceOwnerRate" type="text" placeholder="必填，请填写业主收费比率"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">租客收费比率</label>
                <div class="col-sm-10">
                  <input v-model="editRentingConfigInfo.serviceTenantRate" type="text" placeholder="必填，请填写租客收费比率"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">运营分账比率</label>
                <div class="col-sm-10">
                  <input v-model="editRentingConfigInfo.adminSeparateRate" type="text" placeholder="必填，请填写运营分账比率"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">代理商分账比率</label>
                <div class="col-sm-10">
                  <input v-model="editRentingConfigInfo.proxySeparateRate" type="text" placeholder="必填，请填写代理商分账比率"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">物业分账比率</label>
                <div class="col-sm-10">
                  <input v-model="editRentingConfigInfo.propertySeparateRate" type="text" placeholder="必填，请填写物业分账比率"
                    class="form-control">
                </div>
              </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="editRentingConfig()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>