<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><span><vc:i18n name="字典信息"  namespace="viewDictInfo"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewDictInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectDictInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <span><vc:i18n name="选择字典"  namespace="viewDictInfo"></vc:i18n></span></button>

                    <button type="button" v-if="viewDictInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddDictInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <span><vc:i18n name="添加字典"  namespace="viewDictInfo"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" > <span><vc:i18n name='值' namespace='viewdictInfo'></vc:i18n></span>：</label>
                            <label class="">{{viewDictInfo.statusCd}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" > <span><vc:i18n name='名称' namespace='viewdictInfo'></vc:i18n></span>：</label>
                            <label class="">{{viewDictInfo.name}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" > <span><vc:i18n name='描述' namespace='viewdictInfo'></vc:i18n></span>：</label>
                            <label class="">{{viewDictInfo.description}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" > <span><vc:i18n name='表字段说明' namespace='viewdictInfo'></vc:i18n></span>：</label>
                            <label class="">{{viewDictInfo.tableName}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="dev/addDict"
               callBackListener="viewDictInfo"
               callBackFunction="chooseDict"
    ></vc:create>


    <vc:create path="dev/chooseDict"
               emitChooseDict="viewDictInfo"
               emitLoadData="viewDictInfo"
    ></vc:create>
</div>
