<div class="margin-top">
    <div class="row margin-top-lg">
        <div class="col-lg-3 padding-right-xs padding-left-xl">
            <input v-model="parkingAreaControlTempCar.carNum" type="text" :placeholder="vc.i18n('必填，请填写车牌号','parkingAreaControlTempCar')" class="form-control">

        </div>
        <div class="col-lg-3 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-right-xl text-right">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px"
                v-on:click="_qureyParkingAreaControlTempCar()">
                查询
            </button>
        </div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center"><span><vc:i18n name="车牌号" namespace="parkingAreaControlTempCar"></vc:i18n></span></th>
                    <th data-hide="phone" class="text-center"><span><vc:i18n name="车辆品牌" namespace="parkingAreaControlTempCar"></vc:i18n></span></th>
                    <th data-hide="phone" class="text-center"><span><vc:i18n name="车辆类型" namespace="parkingAreaControlTempCar"></vc:i18n></span></th>
                    <th data-hide="phone" class="text-center"><span><vc:i18n name="颜色" namespace="parkingAreaControlTempCar"></vc:i18n></span></th>
                    <th data-hide="phone" class="text-center"><span><vc:i18n name="进场时间" namespace="parkingAreaControlTempCar"></vc:i18n></span></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="car in parkingAreaControlTempCar.cars">
                    <td class="text-center">
                        {{car.carNum}}
                    </td>
                    <td class="text-center">
                        {{car.carBrand}}
                    </td>
                    <td class="text-center">
                        {{car.carTypeName}}
                    </td>
                    <td class="text-center">
                        {{car.carColor}}
                    </td>
                    <td class="text-center">
                        {{car.startTime}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- 分页 -->
        <vc:create path="frame/paginationPlus" namespace="parkingAreaControlTempCar"></vc:create>
    </div>
</div>
