<div id="roomOweFeesModel" class="modal fade" role="dialog" aria-labelledby="roomOweFeesModelLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="roomOweFeesModelLabel">
                    <span>
                        <vc:i18n name="房屋欠费" namespace="roomOweFees"></vc:i18n>
                    </span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <span>
                                                    <vc:i18n name="收费对象" namespace="roomOweFees"></vc:i18n>
                                                </span>
                                            </th>
                                            <th class="text-center">
                                                <span>
                                                    <vc:i18n name="业主名称" namespace="roomOweFees"></vc:i18n>
                                                </span>
                                            </th>
                                            <th class="text-center">
                                                <span>
                                                    <vc:i18n name="手机号" namespace="roomOweFees"></vc:i18n>
                                                </span>
                                            </th>
                                            <th class="text-center">
                                                <span>
                                                    <vc:i18n name="开始时间" namespace="roomOweFees"></vc:i18n>
                                                </span>
                                            </th>
                                            <th class="text-center">
                                                <span>
                                                    <vc:i18n name="结束时间" namespace="roomOweFees"></vc:i18n>
                                                </span>
                                            </th>
                                            <th class="text-center">
                                                <span>
                                                    <vc:i18n name="合计" namespace="roomOweFees"></vc:i18n>
                                                </span>(单位:元)
                                            </th>
                                            <th class="text-center">
                                                <span>
                                                    <vc:i18n name="更新时间" namespace="roomOweFees"></vc:i18n>
                                                </span>
                                            </th>
                                            <!-- <th class="text-center">
                                            <span><vc:i18n name="操作" namespace="roomOweFees"></vc:i18n></span>
                                        </th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="fee in roomOweFeesInfo.fees">
                                            <td class="text-center">{{fee.payerObjName}}</td>
                                            <td class="text-center">{{fee.ownerName}}</td>
                                            <td class="text-center">{{fee.ownerTel}}</td>
                                            <td class="text-center">{{fee.endTime}}</td>
                                            <td class="text-center">{{fee.deadlineTime}}</td>
                                            <td class="text-center">{{fee.amountOwed}}</td>
                                            <td class="text-center">{{fee.updateTime}}</td>
                                            <!-- <td class="text-center">
                                            <button class="btn btn-primary btn-xs" v-on:click="chooseRoom(room)">
                                                <span><vc:i18n name="选择" namespace="roomOweFees"></vc:i18n></span>
                                            </button>
                                        </td> -->
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <ul class="pagination float-right"></ul>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <vc:create namespace="roomOweFees" path="frame/paginationPlus"></vc:create>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>