<div class="margin-top">
    <div class="row margin-top-lg">
        <div class="col-lg-2 padding-right-xs padding-left-xl">
            <input v-model="parkingAreaControlInCarInfo.carNum" type="text" :placeholder="vc.i18n('必填，请填写车牌号','parkingAreaControlInCar')" class="form-control">

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">
            <select class="custom-select" v-model="parkingAreaControlInCarInfo.state">
                <option  value="">{{vc.i18n('请选择车辆状态','parkingAreaControlInCar')}}</option>
                <option value="100300">{{vc.i18n('进场状态','parkingAreaControlInCar')}}</option>
                <option value="100400">{{vc.i18n('支付完成','parkingAreaControlInCar')}}</option>
                <option value="100500">{{vc.i18n('离场状态','parkingAreaControlInCar')}}</option>
                <option value="100600">{{vc.i18n('支付超时重新支付','parkingAreaControlInCar')}}</option>
            </select>

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">
            <select class="custom-select" v-model="parkingAreaControlInCarInfo.carType">
                <option  value="">{{vc.i18n('请选择车牌类型','parkingAreaControlInCar')}}</option>
                <option value="T">{{vc.i18n('临时车','parkingAreaControlInCar')}}</option>
                <option value="S">{{vc.i18n('出售车辆','parkingAreaControlInCar')}}</option>
                <option value="H">{{vc.i18n('月租车','parkingAreaControlInCar')}}</option>
                <option value="W">{{vc.i18n('白名单','parkingAreaControlInCar')}}</option>
                <option value="B">{{vc.i18n('黑名单','parkingAreaControlInCar')}}</option>
                <option value="I">{{vc.i18n('内部车','parkingAreaControlInCar')}}</option>
                <option value="NM">{{vc.i18n('免费车','parkingAreaControlInCar')}}</option>
            </select>

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">
            <input v-model="parkingAreaControlInCarInfo.startTime" type="text" :placeholder="vc.i18n('请填写开始时间','parkingAreaControlInCar')" class="form-control inCarStartTime">
        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">
            <input v-model="parkingAreaControlInCarInfo.endTime" type="text" :placeholder="vc.i18n('请填写结束时间','parkingAreaControlInCar')" class="form-control inCarEndTime">
        </div>
        <div class="col-lg-2 padding-right-xs padding-right-xl text-right">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px" v-on:click="_qureyParkingAreaControlInCar()">
                查询
            </button>
        </div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center"><span><vc:i18n name="进出场" namespace="parkingAreaControlInCar"></vc:i18n></span>ID</th>
                    <th class="text-center"><span><vc:i18n name="车辆状态" namespace="parkingAreaControlInCar"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="车牌号" namespace="parkingAreaControlInCar"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="停车场" namespace="parkingAreaControlInCar"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="计费规则" namespace="parkingAreaControlInCar"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="车牌类型" namespace="parkingAreaControlInCar"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="进场时间" namespace="parkingAreaControlInCar"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="在场时间" namespace="parkingAreaControlInCar"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="停车费用" namespace="parkingAreaControlInCar"></vc:i18n></span></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="carIn in parkingAreaControlInCarInfo.carIns">
                    <td class="text-center">{{carIn.inoutId}}</td>
                    <td class="text-center">{{carIn.stateName}}</td>
                    <td class="text-center" @click="editCarInfoCarNum(carIn)">{{carIn.carNum}}
                        <span class="fa fa-edit"></span>
                    </td>
                    <td class="text-center">{{carIn.areaNum}}</td>
                    <td class="text-center" @click="_viewTempFeeConfigInCar(carIn.configId)">{{carIn.feeName}}
                        <span class="fa fa-info-circle"></span>
                    </td>
                    <td class="text-center">{{carIn.carTypeName}}</td>
                    <td class="text-center">{{carIn.inTime}}</td>
                    <td class="text-center">{{carIn.hours}}
                        <span><vc:i18n name="小时" namespace="parkingAreaControlInCar"></vc:i18n>
                        </span>{{carIn.min}}<span><vc:i18n name="分" namespace="parkingAreaControlInCar"></vc:i18n></span>
                    </td>
                    <td class="text-center" v-if="carIn.carType == 'T'">{{carIn.payCharge}}<span><vc:i18n name="元" namespace="parkingAreaControlInCar"></vc:i18n></span></td>
                    <td class="text-center" v-else>-</td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!-- 分页 -->
        <vc:create path="frame/paginationPlus" namespace="parkingAreaControlInCar"></vc:create>
    </div>

    <div id="editCarInfoCarNumModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="m-t-none m-b ">
                        <vc:i18n name="修改车牌号" namespace="parkingAreaControlInCar"></vc:i18n>
                    </h3>
                    <div class="ibox-content">
                        <div>
                            <div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="车牌号" namespace="parkingAreaControlInCar"></vc:i18n></span></label>
                                    <div class="col-sm-10">
                                        <input v-model="parkingAreaControlInCarInfo.updateCarNum" type="text" :placeholder="vc.i18n('必填，请填写车牌号','parkingAreaControlInCar')" class="form-control">
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <button class="btn btn-primary float-right" type="button" v-on:click="_doUpdateCarInfoCarNum()"><span><vc:i18n name="提交" namespace="parkingAreaControlInCar"></vc:i18n></span></button>
                                    <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><span><vc:i18n name="取消" namespace="parkingAreaControlInCar"></vc:i18n></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>