<div class="margin-top">
    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
        <thead>
            <tr>
                <th class="text-center">进出场ID</th>
                <th class="text-center">车辆状态</th>
                <th class="text-center">车牌号</th>
                <th class="text-center">进场时间</th>
                <th class="text-center">在场时间</th>
                <th class="text-center">停车费用</th>
               

            </tr>
        </thead>
        <tbody>
            <tr v-for="carIn in parkingAreaControlInCarInfo.carIns">
                <td class="text-center">{{carIn.inoutId}}</td>
                <td class="text-center">{{carIn.stateName}}</td>
                <td class="text-center">{{carIn.carNum}}</td>
                <td class="text-center">{{carIn.inTime}}</td>
                <td class="text-center">{{carIn.hours}}小时{{carIn.min}}分</td>
                <td class="text-center">{{carIn.payCharge}}元</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <ul class="pagination float-right"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
    <!-- 分页 -->
    <vc:create path="frame/paginationPlus" namespace="parkingAreaControlInCar"></vc:create>
</div>