<div class="margin-top">
    <div class="row margin-top-lg">
        <div class="col-lg-3 padding-right-xs padding-left-xl">
            <input v-model="parkingAreaControlInCarInfo.carNum" type="text" placeholder="必填，请填写车牌号"
                class="form-control">

        </div>
        <div class="col-lg-3 padding-right-xs padding-left-xl">
            <select class="custom-select" v-model="parkingAreaControlInCarInfo.state">
                <option disabled value="">请选择车辆状态</option>
                <option value="100300">进场状态</option>
                <option value="100400">进场状态</option>
                <option value="100600">进场状态</option>
            </select>

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-right-xl text-right">
            <button type=" button" class="btn btn-primary btn-sm" style="margin-left:10px"
                v-on:click="_qureyParkingAreaControlInCar()">
                查询
            </button>
        </div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center">进出场ID</th>
                    <th class="text-center">车辆状态</th>
                    <th class="text-center">车牌号</th>
                    <th class="text-center">进场时间</th>
                    <th class="text-center">在场时间</th>
                    <th class="text-center">停车费用</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="carIn in parkingAreaControlInCarInfo.carIns">
                    <td class="text-center">{{carIn.inoutId}}</td>
                    <td class="text-center">{{carIn.stateName}}</td>
                    <td class="text-center">{{carIn.carNum}}</td>
                    <td class="text-center">{{carIn.inTime}}</td>
                    <td class="text-center">{{carIn.hours}}小时{{carIn.min}}分</td>
                    <td class="text-center">{{carIn.payCharge}}元</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!-- 分页 -->
        <vc:create path="frame/paginationPlus" namespace="parkingAreaControlInCar"></vc:create>
    </div>
</div>