<div id = "chooseConvenienceMenusModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseConvenienceMenusModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseConvenienceMenusModelLabel"><vc:i18n name="选择便民服务菜单" namespace="chooseConvenienceMenus"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')vc.i18n(' ','chooseConvenienceMenus')<divvc.i18n(' ','chooseConvenienceMenus')class="vc.i18n(' ','chooseConvenienceMenus')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入便民服务菜单名称','chooseConvenienceMenus')" type="text" v-model="chooseConvenienceMenusInfo._currentConvenienceMenusName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryConvenienceMenuss()"><vc:i18n name="查询" namespace="chooseConvenienceMenus"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="资产" namespace="chooseConvenienceMenus"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="菜单名称" namespace="chooseConvenienceMenus"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="图片地址" namespace="chooseConvenienceMenus"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="页面路径" namespace="chooseConvenienceMenus"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="显示序号" namespace="chooseConvenienceMenus"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="备注" namespace="chooseConvenienceMenus"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseConvenienceMenus"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="convenienceMenus in chooseConvenienceMenusInfo.convenienceMenuss">
                                                                        <td class="text-center">{{convenienceMenus.convenienceMenusId}}</td>
                            <td class="text-center">{{convenienceMenus.name}}</td>
                            <td class="text-center">{{convenienceMenus.icon}}</td>
                            <td class="text-center">{{convenienceMenus.url}}</td>
                            <td class="text-center">{{convenienceMenus.seq}}</td>
                            <td class="text-center">{{convenienceMenus.remark}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseConvenienceMenus(convenienceMenus)"><vc:i18n name="选择" namespace="chooseConvenienceMenus"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
