<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><span><vc:i18n name="物业公司信息" namespace="viewPropertyCompanyInfo"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewPropertyCompanyInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectPropertyCompanyInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <span><vc:i18n name="选择物业公司" namespace="viewPropertyCompanyInfo"></vc:i18n></span></button>

                    <button type="button" v-if="viewPropertyCompanyInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddPropertyCompanyInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <span><vc:i18n name="添加物业公司" namespace="viewPropertyCompanyInfo"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="名称" namespace="viewPropertyCompanyInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewPropertyCompanyInfo.name}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="地址" namespace="viewPropertyCompanyInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewPropertyCompanyInfo.address}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="电话" namespace="viewPropertyCompanyInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewPropertyCompanyInfo.tel}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="公司法人" namespace="viewPropertyCompanyInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewPropertyCompanyInfo.corporation}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="成立日期" namespace="viewPropertyCompanyInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewPropertyCompanyInfo.foundingTime}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="地标" namespace="viewPropertyCompanyInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewPropertyCompanyInfo.nearbyLandmarks}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="admin/addPropertyCompany"
               callBackListener="viewPropertyCompanyInfo"
               callBackFunction="choosePropertyCompany"
    ></vc:create>


    <vc:create path="admin/choosePropertyCompany"
               emitChoosePropertyCompany="viewPropertyCompanyInfo"
               emitLoadData="viewPropertyCompanyInfo"
    ></vc:create>
</div>
