<div class="col-lg-3" style="background:#FFFFFF">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="javascript:void(0);" v-on:click="openPrivilegeGroupModel()">添加权限组</a>
                <div class="space-25"></div>

                <h5>权限组</h5>
                <ul class="category-list" style="padding: 0">
                    <li v-for="pGroup in privilegeGroupInfo.groups">
                        <a v-on:click="notifyQueryPrivilege(pGroup)">
                            <i class="fa fa-hand-o-right text-navy"></i>
                            {{pGroup.name}}
                            <i v-if="pGroup.storeId != '9999'" class="fa fa-remove float-right"
                               style="color:#dc3545"
                               v-on:click.stop="openDeletePrivilegeGroupModel(pGroup)"></i>
                            <i v-if="pGroup.storeId != '9999'" class="fa fa-edit float-right"
                               style="color:#1ab394"
                               v-on:click.stop="openEditPrivilegeGroupModel(pGroup)"></i>

                        </a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <vc:create path="dev/addPrivilegeGroup"></vc:create>
            <vc:create path="dev/editPrivilegeGroup"></vc:create>
            <vc:create path="dev/deletePrivilegeGroup"></vc:create>
        </div>
    </div>
</div>