<div id="chooseMachineModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseMachineModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseMachineModelLabel"><span><vc:i18n name="选择设备" namespace="chooseMachine"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')vc.i18n(' ','chooseMachine')<divvc.i18n(' ','chooseMachine')class="vc.i18n(' ','chooseMachine')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入设备名称','chooseMachine')" type="text" v-model="chooseMachineInfo._currentMachineName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryMachines()"><span><vc:i18n name="查询" namespace="chooseMachine"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><span><vc:i18n name="设备" namespace="chooseMachine"></vc:i18n></span>ID</th>
                                            <th class="text-center"><span><vc:i18n name="设备编码" namespace="chooseMachine"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="版本号" namespace="chooseMachine"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="设备名称" namespace="chooseMachine"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="设备类型" namespace="chooseMachine"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="鉴权编码" namespace="chooseMachine"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="设备" namespace="chooseMachine"></vc:i18n></span>IP</th>
                                            <th class="text-center"><span><vc:i18n name="设备" namespace="chooseMachine"></vc:i18n></span>MAC</th>
                                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseMachine"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="machine in chooseMachineInfo.machines">
                                            <td class="text-center">{{machine.machineId}}</td>
                                            <td class="text-center">{{machine.machineCode}}</td>
                                            <td class="text-center">{{machine.machineVersion}}</td>
                                            <td class="text-center">{{machine.machineName}}</td>
                                            <td class="text-center">{{machine.machineTypeCd}}</td>
                                            <td class="text-center">{{machine.authCode}}</td>
                                            <td class="text-center">{{machine.machineIp}}</td>
                                            <td class="text-center">{{machine.machineMac}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseMachine(machine)"><span><vc:i18n name="选择" namespace="chooseMachine"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
