<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><span><vc:i18n name="合同类型信息" namespace="viewContractTypeInfo"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewContractTypeInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectContractTypeInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <span><vc:i18n name="选择合同类型" namespace="viewContractTypeInfo"></vc:i18n></span></button>

                    <button type="button" v-if="viewContractTypeInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddContractTypeInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <span><vc:i18n name="添加合同类型" namespace="viewContractTypeInfo"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="类型名称" namespace="viewContractTypeInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewContractTypeInfo.typeName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="是否审核" namespace="viewContractTypeInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewContractTypeInfo.audit}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="描述" namespace="viewContractTypeInfo"></vc:i18n></span>：</label>
                            <label class="">{{viewContractTypeInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="admin/addContractType"
               callBackListener="viewContractTypeInfo"
               callBackFunction="chooseContractType"
    ></vc:create>


    <vc:create path="admin/chooseContractType"
               emitChooseContractType="viewContractTypeInfo"
               emitLoadData="viewContractTypeInfo"
    ></vc:create>
</div>
