<div id="chooseParkingSpaceModel" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="chooseParkingSpaceModelLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseParkingSpaceModelLabel"><span><vc:i18n name="选择车位" namespace="chooseParkingSpace"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')vc.i18n(' ','chooseParkingSpace')<divvc.i18n(' ','chooseParkingSpace')class="vc.i18n(' ','chooseParkingSpace')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入停车场编号','chooseParkingSpace')" type="text"
                                               v-model="chooseParkingSpaceInfo.areaNum"
                                               class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary"
                                                        v-on:click="queryParkingSpaces()"><span><vc:i18n name="查询" namespace="chooseParkingSpace"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th data-hide="phone" class="text-center"><span><vc:i18n name="停车场" namespace="chooseParkingSpace"></vc:i18n></span></th>
                                        <th data-hide="phone" class="text-center"><span><vc:i18n name="车位" namespace="chooseParkingSpace"></vc:i18n></span></th>
                                        <th data-hide="phone" class="text-center"><span><vc:i18n name="车位状态" namespace="chooseParkingSpace"></vc:i18n></span></th>
                                        <th data-hide="phone" class="text-center"><span><vc:i18n name="车位类型" namespace="chooseParkingSpace"></vc:i18n></span></th>
                                        <th data-hide="phone" class="text-center"><span><vc:i18n name="面积" namespace="chooseParkingSpace"></vc:i18n></span></th>
                                        <th class="text-center"><span><vc:i18n name="车位" namespace="chooseParkingSpace"></vc:i18n></span>ID</th>
                                        <th class="text-center"><span><vc:i18n name="操作" namespace="chooseParkingSpace"></vc:i18n></span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                   
                                    <tr v-for="parkingSpace in chooseParkingSpaceInfo.parkingSpaces">
                                        <td class="text-center">
                                            {{parkingSpace.areaNum}}<span><vc:i18n name="号停车场" namespace="chooseParkingSpace"></vc:i18n></span>
                                        </td>
                                        <td class="text-center">
                                            {{parkingSpace.num}}<span><vc:i18n name="车位" namespace="chooseParkingSpace"></vc:i18n></span>
                                        </td>
                                        <td class="text-center">
                                            {{vc.component._viewParkingSpaceState(parkingSpace.state)}}
                                        </td>
                                        <td class="text-center">
                                            {{parkingSpace.parkingTypeName}}
                                        </td>
                                        <td class="text-center">
                                            {{parkingSpace.area}}
                                        </td>
                                        <td class="text-center">
                                            {{parkingSpace.psId}}
                                        </td>
                                        <td class="text-center">
                                          
                                            <div class="btn-group">
                                                <button class="btn-white btn btn-xs"
                                                        v-on:click="chooseParkingSpace(parkingSpace)"><span><vc:i18n name="选择" namespace="chooseParkingSpace"></vc:i18n></span>
                                                </button>
                                            </div>
                                          
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                                <vc:create namespace="chooseParkingSpace" path="frame/paginationPlus"></vc:create>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
