<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><span><vc:i18n name="选择操作类型" namespace="chooseInAndOutType"></vc:i18n></span></h5>
            </div>
            <div class="ibox-content">
                <input type="radio" name="type" id="in" v-model="chooseInAndOutType.resOrderType" value="10000" checked><label for="in"><span><vc:i18n name="采购" namespace="chooseInAndOutType"></vc:i18n></span></label>
                <input type="radio" name="type" id="out" v-model="chooseInAndOutType.resOrderType" value="20000"><label for="out"><span><vc:i18n name="出库" namespace="chooseInAndOutType"></vc:i18n></span></label>
            </div>
        </div>
    </div>
</div>
