<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>选择操作类型</h5>
            </div>
            <div class="ibox-content">
                <input type="radio" name="type" id="in" v-model="chooseInAndOutType.resOrderType" value="10000" checked><label for="in">采购</label>
                <input type="radio" name="type" id="out" v-model="chooseInAndOutType.resOrderType" value="20000"><label for="out">出库</label>
            </div>
        </div>
    </div>
</div>