<div id="editJobModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b ">修改任务</h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">任务名称</label>
                <div class="col-sm-10">
                    <input v-model="editJobInfo.taskName" type="text" placeholder="必填，请填写任务名称"
                        class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">选择模板</label>
                <div class="col-sm-10">
                    <select class="form-control form-control-sm" v-model="editJobInfo.templateId"
                        @change="chooseTemplate()" placeholder="必填，请选择模板">
                        <option v-for="item in editJobInfo.templates" :label="item.templateName"
                            :value="item.templateId">{{item.templateName}}
                        </option>

                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">定时时间</label>
                <div class="col-sm-10">
                    <input v-model="editJobInfo.taskCron" type="text" placeholder="选填，请填写定时时间"
                        class="form-control">
                </div>
            </div>
            <div class="form-group row" v-for="item in editJobInfo.templateSpecs">
                <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                <div class="col-sm-10">
                    <input v-model="item.value" type="text" :placeholder="item.specDesc"
                        class="form-control">
                </div>
            </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="editJob()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>