<div id = "chooseClueAttrModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseClueAttrModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseClueAttrModelLabel"><span><vc:i18n name="选择线索管理" namespace="chooseClueAttr"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')vc.i18n(' ','chooseClueAttr')<divvc.i18n(' ','chooseClueAttr')class="vc.i18n(' ','chooseClueAttr')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入线索管理名称','chooseClueAttr')" type="text" v-model="chooseClueAttrInfo._currentClueAttrName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryClueAttrs()"><span><vc:i18n name="查询" namespace="chooseClueAttr"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name="线索" namespace="chooseClueAttr"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="目前进展情况" namespace="chooseClueAttr"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="下一步推进计划" namespace="chooseClueAttr"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseClueAttr"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="clueAttr in chooseClueAttrInfo.clueAttrs">
                                                                        <td class="text-center">{{clueAttr.attrId}}</td>
                            <td class="text-center">{{clueAttr.nowSituation}}</td>
                            <td class="text-center">{{clueAttr.nextSituation}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseClueAttr(clueAttr)"><span><vc:i18n name="选择" namespace="chooseClueAttr"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
