<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    <span><vc:i18n name="添加房屋" namespace="addRoomView"></vc:i18n></span>
                </h5>
                <div class="ibox-tools" style="top:10px;">
                </div>
            </div>
            <div class="ibox-content">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="房屋编号" namespace="addRoomView"></vc:i18n></span></label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.roomNum" type="text" :placeholder="vc.i18n('必填，请填写房屋编号','addRoomView')" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="房屋楼层" namespace="addRoomView"></vc:i18n></span></label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.layer" type="text" :placeholder="vc.i18n('必填，请填写房屋楼层','addRoomView')" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="房屋户型" namespace="addRoomView"></vc:i18n></span></label>
                    <div class="col-sm-5" style="display: inline">
                        <select class="custom-select" v-model="addRoomViewInfo.apartment1">
                            <option selected disabled value="">{{vc.i18n('必填，请选择房屋户型','addRoomView')}}</option>
                            <option value="10">{{vc.i18n('一室','addRoomView')}}</option>
                            <option value="20">{{vc.i18n('两室','addRoomView')}}</option>
                            <option value="30">{{vc.i18n('三室','addRoomView')}}</option>
                            <option value="40">{{vc.i18n('四室','addRoomView')}}</option>
                            <option value="50">{{vc.i18n('五室','addRoomView')}}</option>
                            <option value="60">{{vc.i18n('六室','addRoomView')}}</option>
                            <option value="70">{{vc.i18n('七室','addRoomView')}}</option>
                            <option value="80">{{vc.i18n('八室','addRoomView')}}</option>
                        </select>
                    </div>
                    <div class="col-sm-5" style="display: inline">
                        <select class="custom-select" v-model="addRoomViewInfo.apartment2">
                            <option selected disabled value="">{{vc.i18n('必填，请选择房屋户型','addRoomView')}}</option>
                            <option value="101">{{vc.i18n('一厅','addRoomView')}}</option>
                            <option value="102">{{vc.i18n('两厅','addRoomView')}}</option>
                            <option value="103">{{vc.i18n('三厅','addRoomView')}}</option>
                            <option value="104">{{vc.i18n('四厅','addRoomView')}}</option>
                            <option value="105">{{vc.i18n('五厅','addRoomView')}}</option>
                            <option value="106">{{vc.i18n('六厅','addRoomView')}}</option>
                            <option value="107">{{vc.i18n('七厅','addRoomView')}}</option>
                            <option value="108">{{vc.i18n('八厅','addRoomView')}}</option>

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="房屋类型" namespace="addRoomView"></vc:i18n></span></label>
                    <div class="col-sm-10">
                        <select class="custom-select" v-model="addRoomViewInfo.roomSubType">
                            <option selected disabled value="">{{vc.i18n('必填，请选择房屋类型','addRoomView')}}</option>
                            <option :value="item.statusCd" v-for="(item,index) in addRoomViewInfo.roomSubTypes">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row" v-if="addRoomViewInfo.roomSubType != '110'">
                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="租金" namespace="addRoomView"></vc:i18n></span></label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.roomRent" type="text" :placeholder="vc.i18n('必填，请填写租金','addRoomView')" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="建筑面积(平方)" namespace="addRoomView"></vc:i18n></span></label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.builtUpArea" type="text" :placeholder="vc.i18n('必填，请填写建筑面积','addRoomView')" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="室内面积(平方)" namespace="addRoomView"></vc:i18n></span></label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.roomArea" type="text" :placeholder="vc.i18n('必填，请填写室内面积','addRoomView')" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="算费系数" namespace="addRoomView"></vc:i18n></span></label>
                    <div class="col-sm-10">
                        <input v-model="addRoomViewInfo.feeCoefficient" type="text" :placeholder="vc.i18n('请填写算费系数','addRoomView')" class="form-control">
                    </div>
                </div>
                <div v-for="(item,index) in addRoomViewInfo.attrs">
                    <div class="form-group row" v-if="item.specType == '2233'">
                        <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                        <div class="col-sm-10">
                            <input v-model="item.value" type="text" :placeholder="item.specHoldplace" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row" v-if="item.specType == '3344'">
                        <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                        <div class="col-sm-10">
                            <select class="custom-select" v-model="item.value">
                                <option selected disabled value="">{{item.specHoldplace}}</option>
                                <option v-for="value in item.values" :label="value.valueName" :value="value.value">
                                    {{item.valueName}}
                                </option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="备注" namespace="addRoomView"></vc:i18n></span></label>
                    <div class="col-sm-10">
                        <textarea :placeholder="vc.i18n('选填，请填写备注','addRoomView')" class="form-control" v-model="addRoomViewInfo.remark">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
