<div id="chargeMachineQrCodeModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="充电二维码" namespace="chargeMachineQrCode"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <div class="col-sm-12" style="position: relative;">
                                    <div id="qrcode" style="width:200px; height:200px; "></div>
                                </div>
                                <div class="col-sm-12 text-center margin-top ">
                                    <span>{{chargeMachineQrCodeInfo.machineName}}</span>
                                </div>
                                <div class="col-sm-12 text-center margin-top ">
                                    <span>
                                        <span>
                                            <vc:i18n name="请截图贴在充电桩上" namespace="chargeMachineQrCode"></vc:i18n>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button type="button" class="btn btn-white float-right" style="margin-right:20px;" data-dismiss="modal">
                                    <span><vc:i18n name="关闭" namespace="chargeMachineQrCode"></vc:i18n></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>