<div>
    <div class="margin-top">
        <div class="row">
            <div class="col-sm-12 margin-lr-0 padding-lr-0">
                <table class="footable table table-stripped " style="margin-top:10px" data-page-size="10">
                    <thead>
                        <tr>
                            <th class="text-center " style="border-bottom: none;"><vc:i18n name="楼栋号" namespace="reportHuaningPayFee"></vc:i18n></th>
                            <th class="text-center" style="border-bottom: none;"><vc:i18n name="每月应收" namespace="reportHuaningPayFee"></vc:i18n></th>
                            <th class="text-center " style="border-bottom: none;">{{reportHuaningPayFeeInfo.conditions.month}}<vc:i18n name="月实收" namespace="reportHuaningPayFee"></vc:i18n></th>
                            <th class="text-center " style="border-bottom: none;">{{reportHuaningPayFeeInfo.conditions.month}}<vc:i18n name="月实收中属于" namespace="reportHuaningPayFee"></vc:i18n>{{reportHuaningPayFeeInfo.conditions.year}}<vc:i18n name="年" namespace="reportHuaningPayFee"></vc:i18n>1-{{reportHuaningPayFeeInfo.conditions.month-1}}<vc:i18n name="月部分" namespace="reportHuaningPayFee"></vc:i18n></th>
                            <th class="text-center " style="border-bottom: none;">{{reportHuaningPayFeeInfo.conditions.month}}<vc:i18n name="月实收中属于" namespace="reportHuaningPayFee"></vc:i18n>{{reportHuaningPayFeeInfo.conditions.year}}<vc:i18n name="年" namespace="reportHuaningPayFee"></vc:i18n>{{reportHuaningPayFeeInfo.conditions.month}}<vc:i18n name="月部分" namespace="reportHuaningPayFee"></vc:i18n></th>
                            <th class="text-center " style="border-bottom: none;">{{reportHuaningPayFeeInfo.conditions.month}}<vc:i18n name="月实收中属于" namespace="reportHuaningPayFee"></vc:i18n>{{_getNextMonth()}}<vc:i18n name="起预收部分" namespace="reportHuaningPayFee"></vc:i18n></th>
                            <th class="text-center " style="border-bottom: none;">{{reportHuaningPayFeeInfo.conditions.month}}<vc:i18n name="月实收中属于收" namespace="reportHuaningPayFee"></vc:i18n>{{reportHuaningPayFeeInfo.conditions.year}}<vc:i18n name="年前部分" namespace="reportHuaningPayFee"></vc:i18n></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="fee in reportHuaningPayFeeInfo.fees">
                            <td class="text-center ">{{fee.floorNum}}</td>
                            <td class="text-center ">{{fee.receivableAmount || 0}}</td>
                            <td class="text-center ">{{fee.receivedAmount || 0}}</td>
                            <td class="text-center">{{fee.receivedAmount1 || 0}}</td>
                            <td class="text-center">{{fee.receivedAmount2 || 0}}</td>
                            <td class="text-center">{{fee.receivedAmount3 || 0}}</td>
                            <td class="text-center">{{fee.receivedAmount4 || 0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <span> </span>
            </div>
            <div class="col-sm-7 float-right">
                <vc:create namespace="reportHuaningPayFee" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>
