<div>
    <div class="margin-top">
        <div class="row">
            <div class="col-sm-12 margin-lr-0 padding-lr-0">
                <table class="footable table table-stripped " style="margin-top:10px" data-page-size="10">
                    <thead>
                        <tr>
                            <th class="text-center " style="border-bottom: none;">楼栋号</th>
                            <th class="text-center" style="border-bottom: none;">每月应收</th>
                            <th class="text-center " style="border-bottom: none;">{{reportHuaningPayFeeInfo.conditions.month}}月实收</th>
                            <th class="text-center " style="border-bottom: none;">{{reportHuaningPayFeeInfo.conditions.month}}月实收中属于{{reportHuaningPayFeeInfo.conditions.year}}年1-{{reportHuaningPayFeeInfo.conditions.month}}月部分</th>
                            <th class="text-center " style="border-bottom: none;">{{reportHuaningPayFeeInfo.conditions.month}}月实收中属于{{reportHuaningPayFeeInfo.conditions.year}}年{{reportHuaningPayFeeInfo.conditions.month}}月部分</th>
                            <th class="text-center " style="border-bottom: none;">{{reportHuaningPayFeeInfo.conditions.month}}月实收中属于{{_getNextMonth()}}起预收部分</th>
                            <th class="text-center " style="border-bottom: none;">{{reportHuaningPayFeeInfo.conditions.month}}月实收中属于收{{reportHuaningPayFeeInfo.conditions.year}}年前部分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="fee in reportHuaningPayFeeInfo.fees">
                            <td class="text-center ">{{fee.floorNum}}</td>
                            <td class="text-center ">{{fee.receivableAmount || 0}}</td>
                            <td class="text-center ">{{fee.receivedAmount || 0}}</td>
                            <td class="text-center">{{fee.receivedAmount1 || 0}}</td>
                            <td class="text-center">{{fee.receivedAmount2 || 0}}</td>
                            <td class="text-center">{{fee.receivedAmount3 || 0}}</td>
                            <td class="text-center">{{fee.receivedAmount4 || 0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <span> </span>
            </div>
            <div class="col-sm-7 float-right">
                <vc:create namespace="reportHuaningPayFee" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>