<div  >
    <vc:create path="property/sellRoomSelectOwner"
               callBackComponent = "sellRoom"
    ></vc:create>

    <vc:create path="property/sellRoomSelectRoom"
               callBackListener="sellRoom"
               callBackFunction="notify"
    ></vc:create>
    <vc:create path="property/searchRoom"
               emitChooseRoom="sellRoomSelectRoom"
               emitLoadData="sellRoomOther"
               roomFlag="2"
    ></vc:create>

    <vc:create path="property/sellRoomOther"
    ></vc:create>

    <div style="height:50px">
        <button class="btn btn-primary float-right" type="button" v-on:click="doSellRoom()" ><i class="fa fa-check"></i>&nbsp;我要售卖</button>
    </div>

</div>
