<div id="addMainCategoryProductModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b ">添加</h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">目录</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="addMainCategoryProductInfo.mainCategoryId">
                    <option selected disabled value="">必填，请选择目录</option>
                    <option :value="item.mainCategoryId"
                      v-for="(item,index) in addMainCategoryProductInfo.mainCategoryProducts">{{item.categoryName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">商品(服务)编号</label>
                <div class="col-sm-10">
                  <input v-model="addMainCategoryProductInfo.productId" type="text" placeholder="必填，请填写商品(服务)编号"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">开始时间</label>
                <div class="col-sm-10">
                  <input v-model="addMainCategoryProductInfo.startTime" type="text" placeholder="必填，请填写开始时间"
                    class="form-control addStartTime">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">结束时间</label>
                <div class="col-sm-10">
                  <input v-model="addMainCategoryProductInfo.endTime" type="text" placeholder="必填，请填写结束时间"
                    class="form-control addEndTime">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">排序</label>
                <div class="col-sm-10">
                  <input v-model="addMainCategoryProductInfo.seq" type="text" placeholder="必填，请填写排序"
                    class="form-control">
                </div>
              </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="saveMainCategoryProductInfo()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>