<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5><vc:i18n name="修改钥匙申请" namespace="editApplicationKey"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">

                </div>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-5" style="text-align:center">
                        <video id="editApplicationKeyPhoto" style="width: 100%;"></video>
                        <canvas id="editApplicationKeyCanvas" style="display:none;"></canvas>
                        <div style="margin-top:20px">
                            <button class="btn btn-primary" type="button" v-on:click="_takeEditPhoto()"><span
                                    class="glyphicon glyphicon-camera"></span> <vc:i18n name="拍照" namespace="editApplicationKey"></vc:i18n>
                            </button>
                            <span class="btn btn-default btn-file" v-on:click="_uploadEditPhoto($event)">
                                    <span class="fileinput-new"><vc:i18n name="上传照片" namespace="editApplicationKey"></vc:i18n></span>
                                </span>
                            <input type="file" class="file" accept="images/*" id="uploadEditApplicationKeyPhoto" hidden
                                   v-on:change="_chooseEidtPhoto($event)">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="姓名" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <input v-model="editApplicationKeyInfo.name" type="text" :placeholder="vc.i18n('必填，请填写姓名','editApplicationKey')"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="手机号" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <input v-model="editApplicationKeyInfo.tel" type="text" :placeholder="vc.i18n('必填，请填写手机号','editApplicationKey')"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="用户类型" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="editApplicationKeyInfo.typeCd">
                                    <option selected disabled value=""><vc:i18n name="必填" namespace="editApplicationKey"></vc:i18n>，请选择用户类型</option>
                                    <option value="10001"><vc:i18n name="保洁" namespace="editApplicationKey"></vc:i18n></option>
                                    <option value="10002"><vc:i18n name="保安" namespace="editApplicationKey"></vc:i18n></option>
                                    <option value="10003"><vc:i18n name="其他人员" namespace="editApplicationKey"></vc:i18n></option>
                                </select></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="钥匙类型" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="editApplicationKeyInfo.typeFlag" readonly="true">
                                    <option selected disabled value=""><vc:i18n name="必填" namespace="editApplicationKey"></vc:i18n>，请选择钥匙类型申请</option>
                                    <option value="1100101"><vc:i18n name="人脸" namespace="editApplicationKey"></vc:i18n></option>
                                    <option value="1100102"><vc:i18n name="固定密码" namespace="editApplicationKey"></vc:i18n></option>
                                    <option value="1100103"><vc:i18n name="临时密码" namespace="editApplicationKey"></vc:i18n></option>
                                </select></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="性别" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="editApplicationKeyInfo.sex">
                                    <option selected disabled value=""><vc:i18n name="必填" namespace="editApplicationKey"></vc:i18n>，请选择性别</option>
                                    <option value="0"><vc:i18n name="男" namespace="editApplicationKey"></vc:i18n></option>
                                    <option value="1"><vc:i18n name="女" namespace="editApplicationKey"></vc:i18n></option>
                                </select></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="年龄" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <input v-model="editApplicationKeyInfo.age" type="text" :placeholder="vc.i18n('必填，请填写年龄','editApplicationKey')"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="身份证号" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <input v-model="editApplicationKeyInfo.idCard" type="text" :placeholder="vc.i18n('必填，请填写身份证号','editApplicationKey')"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="设备位置" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="editApplicationKeyInfo.locationTypeCd">
                                    <option selected disabled value=""><vc:i18n name="必填" namespace="editApplicationKey"></vc:i18n>，请选择设备位置</option>
                                    <option value="1000"><vc:i18n name="东大门" namespace="editApplicationKey"></vc:i18n></option>
                                    <option value="1001"><vc:i18n name="西大门" namespace="editApplicationKey"></vc:i18n></option>
                                    <option value="1002"><vc:i18n name="北大门" namespace="editApplicationKey"></vc:i18n></option>
                                    <option value="1003"><vc:i18n name="南大门" namespace="editApplicationKey"></vc:i18n></option>
                                    <option value="2000"><vc:i18n name="单元门" namespace="editApplicationKey"></vc:i18n></option>
                                    <option value="3000"><vc:i18n name="房屋门" namespace="editApplicationKey"></vc:i18n></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row"
                             v-show="editApplicationKeyInfo.locationTypeCd == '2000' || editApplicationKeyInfo.locationTypeCd == '3000'  ">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="归属楼栋" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <vc:create path="property/floorSelect2"
                                           parentModal="editApplicationKeyModel"
                                           namespace="editApplicationKey"
                                ></vc:create>
                            </div>
                        </div>
                        <div class="form-group row"
                             v-show="editApplicationKeyInfo.locationTypeCd == '2000' || editApplicationKeyInfo.locationTypeCd == '3000'  ">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="归属单元" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <vc:create path="property/unitSelect2"
                                           parentModal="editApplicationKeyModel"
                                           callBackListener="editApplicationKey"
                                           callBackFunction="notify"
                                           namespace="editApplicationKey"
                                ></vc:create>
                            </div>
                        </div>
                        <div class="form-group row"
                             v-show="editApplicationKeyInfo.locationTypeCd == '3000'  ">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="归属房屋" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <vc:create path="property/roomSelect2"
                                           parentModal="editApplicationKeyModel"
                                           callBackListener="editApplicationKey"
                                           callBackFunction="notify"
                                           namespace="editApplicationKey"
                                ></vc:create>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="开始时间" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <input v-model="editApplicationKeyInfo.startTime" readonly type="text"
                                       :placeholder="vc.i18n('必填，请填写开始时间','editApplicationKey')"
                                       class="form-control editApplicationStartTime">
                            </div>
                        </div>
                        <div class="form-group row" v-show="editApplicationKeyInfo.typeFlag == '1100101' || editApplicationKeyInfo.typeFlag == '1100102' ">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="结束时间" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10">
                                <input v-model="editApplicationKeyInfo.endTime" readonly type="text"
                                       :placeholder="vc.i18n('必填，请填写结束时间','editApplicationKey')"
                                       class="form-control editApplicationEndTime">
                            </div>
                        </div>
                        <div class="form-group row" v-if="editApplicationKeyInfo.typeFlag == '1100101'">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="照片" namespace="editApplicationKey"></vc:i18n></label>
                            <div class="col-sm-10"><img width="100%" height="100%"
                                                        v-bind:src="editApplicationKeyInfo.photo" alt="vc.i18n('申请人照片','editApplicationKey')"></div>
                        </div>

                        <div class="ibox-content">
                            <button class="btn btn-primary float-right" type="button"
                                    v-on:click="editApplicationKey()"><i class="fa fa-check"></i>&nbsp;保存
                            </button>
                            <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    v-on:click="_closeEditApplicationKeyView()"><vc:i18n name="取消" namespace="editApplicationKey"></vc:i18n>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



