<div id="todayAttendanceDetailModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="todayAttendanceDetailModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="todayAttendanceDetailModelLabel"><span><vc:i18n name="考勤详情" namespace="todayAttendanceDetail"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><span><vc:i18n name="名称" namespace="todayAttendanceDetail"></vc:i18n></span></th>

                                            <th class="text-center"><span><vc:i18n name="打卡范围" namespace="todayAttendanceDetail"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="迟到/早退" namespace="todayAttendanceDetail"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="状态" namespace="todayAttendanceDetail"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="打卡时间" namespace="todayAttendanceDetail"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="抓拍" namespace="todayAttendanceDetail"></vc:i18n></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="detail in todayAttendanceDetailInfo.attendanceClassesTaskDetails">
                                            <td class="text-center">{{detail.specCd == '1001'?'上班':'下班'}}</td>
                                            <td class="text-center" v-if="detail.specCd == '1001'">{{vc.timeMinFormat(detail.leaveValue)}}~{{vc.timeMinFormat(detail.value)}}</td>
                                            <td class="text-center" v-else>{{vc.timeMinFormat(detail.value)}}~{{vc.timeMinFormat(detail.lateValue)}}</td>
                                            <td class="text-center" v-if="detail.specCd == '1001'">{{vc.timeMinFormat(detail.value)}}~{{vc.timeMinFormat(detail.lateValue)}}</td>
                                            <td class="text-center" v-else>{{vc.timeMinFormat(detail.leaveValue)}}~{{vc.timeMinFormat(detail.value)}}</td>
                                            <td class="text-center">{{detail.stateName}}</td>
                                            <td class="text-center">{{detail.checkTime || '未打卡' }} </td>
                                            <td class="text-right ">
                                                <span v-for="_photo in detail.photos">
                                                <img style="width: 60px; height: 60px;" v-bind:src="_photo.url"
                                                     v-on:click="openFile(_photo)">
                                            </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <vc:create path="common/viewImage"></vc:create>
</div>