<div id="addAccessControlWhiteModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="添加" namespace="addAccessControlWhite"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name='人员类别' namespace='addAccessControlWhite'></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addAccessControlWhiteInfo.personType">
                                        <option selected value="">请选择人员类型</option>
                                        <option :value="item.statusCd"
                                                v-for="(item,index) in addAccessControlWhiteInfo.personTypes">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name='用户名称' namespace='addAccessControlWhite'></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addAccessControlWhiteInfo.personName" type="text"
                                           :placeholder="vc.i18n('必填，请填写用户名称','addAccessControlWhite')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name='手机号' namespace='addAccessControlWhite'></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addAccessControlWhiteInfo.tel" type="text"
                                           :placeholder="vc.i18n('必填，请填写手机号','addAccessControlWhite')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name='身份证号' namespace='addAccessControlWhite'></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addAccessControlWhiteInfo.idCard" type="text"
                                           :placeholder="vc.i18n('选填，请填写身份证号','addAccessControlWhite')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name='授权设备' namespace='addAccessControlWhite'></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addAccessControlWhiteInfo.machineId">
                                        <option selected value="">请选择授权设备</option>
                                        <option :value="item.machineId"
                                                v-for="(item,index) in addAccessControlWhiteInfo.machines">
                                            {{item.machineName}}({{item.machineCode}})
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name='门禁卡号' namespace='addAccessControlWhite'></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addAccessControlWhiteInfo.accessControlKey" type="text"
                                           :placeholder="vc.i18n('选填，请填写门禁卡号','addAccessControlWhite')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name='门禁人脸' namespace='addAccessControlWhite'></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <vc:create path="frame/uploadImageUrl" callBackListener="addAccessControlWhite"
                                               callBackFunction="notifyUploadImage" imageCount="1"
                                               namespace="addAccessControlWhite">
                                    </vc:create>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name='开始时间' namespace='addAccessControlWhite'></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addAccessControlWhiteInfo.startTime" type="text"
                                           :placeholder="vc.i18n('必填，请填写开始时间','addAccessControlWhite')"
                                           class="form-control addAccessControlWhiteStartTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name='结束时间' namespace='addAccessControlWhite'></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addAccessControlWhiteInfo.endTime" type="text"
                                           :placeholder="vc.i18n('必填，请填写结束时间','addAccessControlWhite')"
                                           class="form-control addAccessControlWhiteEndTime">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="saveAccessControlWhiteInfo()">
                                    <i class="fa fa-check"></i>&nbsp;
                                    <span><vc:i18n name="保存"></vc:i18n></span>
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <span><vc:i18n name="取消"></vc:i18n></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>