<div>
    <div class="row"
         v-if="(payFeeDiscountInfo.feeDiscounts.length > 0 && payFeeDiscountInfo.totalDiscountMoney != 0)
          || (payFeeDiscountInfo.selectDiscountIds.length == 0 && payFeeDiscountInfo.feeDiscounts.length != 0)
          || (payFeeDiscountInfo.selectDiscountIds.length != payFeeDiscountInfo.feeDiscounts.length
              && payFeeDiscountInfo.totalDiscountMoney == 0)">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <vc:i18n name="折扣信息" namespace="payFeeDiscount"></vc:i18n>
                    </h5>
                    <div class="ibox-tools" style="top:10px;">
                        <!-- <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddFeeDiscountModal()">
                            <i class="glyphicon glyphicon-plus"></i> 特殊折扣
                        </button> -->
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                        <tr>
                            <th class="text-center">
                                <input type="checkbox" class="i-checks"
                                       v-bind:checked="payFeeDiscountInfo.quanDiscount == true"
                                       @click="checkAllDiscount($event)">
                            </th>
                            <th class="text-center">
                                <vc:i18n name="折扣类型" namespace="payFeeDiscount"></vc:i18n>
                            </th>
                            <th class="text-center">
                                <vc:i18n name="折扣名称" namespace="payFeeDiscount"></vc:i18n>
                            </th>
                            <th class="text-center">
                                <vc:i18n name="规则名称" namespace="payFeeDiscount"></vc:i18n>
                            </th>
                            <th class="text-center">
                                <vc:i18n name="规则" namespace="payFeeDiscount"></vc:i18n>
                            </th>
                            <th class="text-center">
                                <span><vc:i18n name="折扣金额" namespace="payFeeDiscount"></vc:i18n></span>
                                <span class="fa fa-info-circle popover-show" @mouseover="popOverShowMsg()"
                                      @mouseleave="popOverHideMsg()" style="cursor: pointer;" data-html="true"
                                      data-content="负数：打折减免的金额；<br>正数：需额外缴纳的滞纳金"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="feeDiscount in payFeeDiscountInfo.feeDiscounts">
                            <td class="text-center">
                                <input type="checkbox" class="i-checks checkDiscountItem"
                                       v-bind:value="feeDiscount.discountId"
                                       v-model="payFeeDiscountInfo.selectDiscountIds">
                            </td>
                            <td class="text-center">
                                {{feeDiscount.discountType == '1001'?'优惠':(feeDiscount.discountType ==
                                '2002'?'违约':'优惠(需要申请)')}}
                            </td>
                            <td class="text-center">{{feeDiscount.discountName}}</td>
                            <td class="text-center">{{feeDiscount.ruleName}}</td>
                            <td class="text-center">
                                <div v-for="(item,index) in feeDiscount.feeDiscountSpecs">
                                    {{item.specName}}：{{item.specValue}}
                                </div>
                            </td>
                            <!-- <td class="text-center">{{feeDiscount.discountPrice}}<span><vc:i18n name="元" namespace="payFeeDiscount"></vc:i18n></span></td> -->
                            <td class="text-center" v-if="feeDiscount.discountType == '1001'">
                                {{feeDiscount.discountPrice < 0 ? feeDiscount.discountPrice : feeDiscount.discountPrice
                                * -1}}
                                <span><vc:i18n name="元" namespace="payFeeDiscount"></vc:i18n></span>
                            </td>
                            <td class="text-center" v-if="feeDiscount.discountType == '2002'">
                                {{feeDiscount.discountPrice > 0 ? feeDiscount.discountPrice : feeDiscount.discountPrice
                                * -1}}
                                <span><vc:i18n name="元" namespace="payFeeDiscount"></vc:i18n></span>
                            </td>
                            <td class="text-center" v-if="feeDiscount.discountType == '3003'">
                                {{feeDiscount.discountPrice < 0 ? feeDiscount.discountPrice : feeDiscount.discountPrice
                                * -1}}
                                <span><vc:i18n name="元" namespace="payFeeDiscount"></vc:i18n></span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
