<div id="editCouponPoolModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b "><vc:i18n name="修改优惠券池" namespace="editCouponPool"></vc:i18n></h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="优惠券类型" namespace="editCouponPool"></vc:i18n></label>
                <div class="col-sm-10">
                  <select class="custom-select" disabled v-model="editCouponPoolInfo.couponType">
                    <option selected value="">{{vc.i18n('请选择优惠券类型','editCouponPool')}}</option>
                    <option value="1001">{{vc.i18n('普通劵','editCouponPool')}}</option>
                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="优惠券名称" namespace="editCouponPool"></vc:i18n></label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.couponName" disabled type="text" :placeholder="vc.i18n('必填，请填写优惠券名称','editCouponPool')"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="券状态" namespace="editCouponPool"></vc:i18n></label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editCouponPoolInfo.state">
                    <option selected value="">{{vc.i18n('请选择券状态','editCouponPool')}}</option>
                    <option value="1001">{{vc.i18n('下架','editCouponPool')}}</option>
                    <option value="2002">{{vc.i18n('正常','editCouponPool')}}</option>
                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="面值" namespace="editCouponPool"></vc:i18n></label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.actualPrice" disabled type="number" :placeholder="vc.i18n('必填，请填写面值','editCouponPool')"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="购买价格" namespace="editCouponPool"></vc:i18n></label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.buyPrice" type="number" :placeholder="vc.i18n('必填，请填写购买价格','editCouponPool')"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="数量" namespace="editCouponPool"></vc:i18n></label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.couponStock" type="number" :placeholder="vc.i18n('必填，请填写数量','editCouponPool')"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="有效期" namespace="editCouponPool"></vc:i18n></label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.validityDay" disabled type="number" :placeholder="vc.i18n('必填，请填写有效期','editCouponPool')"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="排序" namespace="editCouponPool"></vc:i18n></label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.seq" disabled type="number" :placeholder="vc.i18n('必填，请填写排序','editCouponPool')" class="form-control">
                </div>
              </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="editCouponPool()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal"><vc:i18n name="取消" namespace="editCouponPool"></vc:i18n></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
