<div id="editCouponPoolModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b ">修改优惠券池</h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">优惠券类型</label>
                <div class="col-sm-10">
                  <select class="custom-select" disabled v-model="editCouponPoolInfo.couponType">
                    <option selected value="">请选择优惠券类型</option>
                    <option value="1001">普通劵</option>
                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">优惠券名称</label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.couponName" disabled type="text" placeholder="必填，请填写优惠券名称"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">券状态</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editCouponPoolInfo.state">
                    <option selected value="">请选择券状态</option>
                    <option value="1001">下架</option>
                    <option value="2002">正常</option>
                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">面值</label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.actualPrice" disabled type="number" placeholder="必填，请填写面值"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">购买价格</label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.buyPrice" type="number" placeholder="必填，请填写购买价格"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">数量</label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.couponStock" type="number" placeholder="必填，请填写数量"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">有效期</label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.validityDay" disabled type="number" placeholder="必填，请填写有效期"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">排序</label>
                <div class="col-sm-10">
                  <input v-model="editCouponPoolInfo.seq" disabled type="number" placeholder="必填，请填写排序" class="form-control">
                </div>
              </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="editCouponPool()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>