<div id="addInspectionPlanModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="添加巡检计划" namespace="addInspectionPlan"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="计划名称" namespace="addInspectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addInspectionPlanInfo.inspectionPlanName" type="text" :placeholder="vc.i18n('必填，请填写计划名称','addInspectionPlan')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="巡检路线" namespace="addInspectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <vc:create path="property/inspectionRouteSelect2" parentModal="addInspectionPlanModel" callBackListener="addInspectionPlanInfo" callBackFunction="notify" namespace="addInspectionPlan">
                                    </vc:create>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="执行周期" namespace="addInspectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addInspectionPlanInfo.inspectionPlanPeriod">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="addInspectionPlan"></vc:i18n>，请选择执行周期</option>
                                        <option v-for="(item,index) in addInspectionPlanInfo.inspectionPlanPeriods"
                                                :key="index" v-bind:value="item.statusCd">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="开始时间" namespace="addInspectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addInspectionPlanInfo.startTime" type="text" :placeholder="vc.i18n('必填，请填写开始时间','addInspectionPlan')" class="form-control addInspectionPlanStartTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="结束时间" namespace="addInspectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addInspectionPlanInfo.endTime" type="text" :placeholder="vc.i18n('必填，请填写结束时间','addInspectionPlan')" class="form-control addInspectionPlanEndTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="签到方式" namespace="addInspectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addInspectionPlanInfo.signType">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="addInspectionPlan"></vc:i18n>，请选择签到方式</option>
                                        <option v-for="(item,index) in addInspectionPlanInfo.signTypes" :key="index"
                                                v-bind:value="item.statusCd">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="状态" namespace="addInspectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addInspectionPlanInfo.state">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="addInspectionPlan"></vc:i18n>，请选择状态</option>
                                        <option v-for="(item,index) in addInspectionPlanInfo.states" :key="index"
                                                v-bind:value="item.statusCd">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="addInspectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <textarea v-model="addInspectionPlanInfo.remark" type="text" :placeholder="vc.i18n('选填，请填写备注','addInspectionPlan')" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="saveInspectionPlanInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" v-on:click="cleanInspectionPlanAddModel()" data-dismiss="modal">
                                    <i class="fa fa-close"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
