<div id = "chooseComplaintModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseComplaintModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseComplaintModelLabel"><vc:i18n name="选择投诉建议" namespace="chooseComplaint"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')vc.i18n(' ','chooseComplaint')<divvc.i18n(' ','chooseComplaint')class="vc.i18n(' ','chooseComplaint')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入投诉建议名称','chooseComplaint')" type="text" v-model="chooseComplaintInfo._currentComplaintName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryComplaints()"><vc:i18n name="查询" namespace="chooseComplaint"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="投诉" namespace="chooseComplaint"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="商户" namespace="chooseComplaint"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="投诉类型" namespace="chooseComplaint"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="房屋编号" namespace="chooseComplaint"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="投诉人" namespace="chooseComplaint"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="投诉电话" namespace="chooseComplaint"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="投诉状态" namespace="chooseComplaint"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="投诉内容" namespace="chooseComplaint"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseComplaint"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="complaint in chooseComplaintInfo.complaints">
                                                                        <td class="text-center">{{complaint.complaintId}}</td>
                            <td class="text-center">{{complaint.storeId}}</td>
                            <td class="text-center">{{complaint.typeCd}}</td>
                            <td class="text-center">{{complaint.roomId}}</td>
                            <td class="text-center">{{complaint.complaintName}}</td>
                            <td class="text-center">{{complaint.tel}}</td>
                            <td class="text-center">{{complaint.state}}</td>
                            <td class="text-center">{{complaint.context}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseComplaint(complaint)"><vc:i18n name="选择" namespace="chooseComplaint"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
