<div id="editApplyRoomDiscountModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b ">验房</h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">折扣名称</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editApplyRoomDiscountInfo.discountId">
                    <option selected disabled value="">必填，请选择折扣名称</option>
                    <option v-for="(item,index) in editApplyRoomDiscountInfo.discounts" :value="item.discountId">
                      {{item.discountName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">开始时间</label>
                <div class="col-sm-10">
                  <input v-model="editApplyRoomDiscountInfo.startTime" type="text" placeholder="必填，请填写开始时间"
                    class="form-control editStartTime">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">结束时间</label>
                <div class="col-sm-10">
                  <input v-model="editApplyRoomDiscountInfo.endTime" type="text" placeholder="必填，请填写结束时间"
                    class="form-control editEndTime">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">验房状态</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editApplyRoomDiscountInfo.state">
                    <option selected disabled value="">必填，请选择状态</option>
                    <option value="2">验房通过</option>
                    <option value="3">验房不通过</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">验房说明</label>
                <div class="col-sm-10">
                  <textarea v-model="editApplyRoomDiscountInfo.checkRemark" placeholder="必填，请填写验房说明"
                    class="form-control"></textarea>
                </div>
              </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="editApplyRoomDiscount()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>