<div id="editAdvertModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <vc:i18n name="修改广告" namespace="editAdvert"></vc:i18n>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                   <vc:i18n name="广告名称" namespace="editAdvert"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editAdvertInfo.adName" type="text"
                                           :placeholder="vc.i18n('必填，请填写广告名称','editAdvert')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="广告分类" namespace="editAdvert"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAdvertInfo.classify">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择广告分类','editAdvert')}}
                                        </option>
                                        <option value="9001">{{vc.i18n('物流','editAdvert')}}</option>
                                        <option value="9002">{{vc.i18n('餐饮','editAdvert')}}</option>
                                        <option value="9003">{{vc.i18n('旅游','editAdvert')}}</option>
                                        <option value="9004">{{vc.i18n('酒店','editAdvert')}}</option>
                                        <option value="9005">{{vc.i18n('教育','editAdvert')}}</option>
                                        <option value="9006">{{vc.i18n('互联网','editAdvert')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="投放位置" namespace="editAdvert"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAdvertInfo.locationTypeCd">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择投放位置','editAdvert')}}
                                        </option>
                                        <option value="1000">{{vc.i18n('小区内设备','editAdvert')}}</option>
                                        <option value="2000">{{vc.i18n('业主首页','editAdvert')}}</option>
                                        <option value="3000">{{vc.i18n('商圈首页','editAdvert')}}</option>
                                        <option value="5000">{{vc.i18n('服务首页','editAdvert')}}</option>
                                        <option value="6000">{{vc.i18n('便民首页','editAdvert')}}</option>
                                        <option value="4000">{{vc.i18n('员工首页','editAdvert')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="发布类型" namespace="editAdvert"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAdvertInfo.advertType">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择发布类型','editAdvert')}}
                                        </option>
                                        <option value="1">{{vc.i18n('站内','editAdvert')}}</option>
                                        <option value="2">{{vc.i18n('站外','editAdvert')}}</option>
                                        <option value="3">{{vc.i18n('不跳转','editAdvert')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="跳转路径" namespace="editAdvert"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editAdvertInfo.pageUrl" type="text"
                                           :placeholder="vc.i18n('请填写跳转路径','editAdvert')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="播放顺序" namespace="editAdvert"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editAdvertInfo.seq" type="text"
                                           :placeholder="vc.i18n('必填，请填写播放顺序','editAdvert')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="投放时间" namespace="editAdvert"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editAdvertInfo.startTime" type="text"
                                           :placeholder="vc.i18n('必填，请填写投放时间','editAdvert')"
                                           class="form-control editAdvertStartTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="结束时间" namespace="editAdvert"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editAdvertInfo.endTime" type="text"
                                           :placeholder="vc.i18n('必填，请填写结束时间','editAdvert')"
                                           class="form-control editAdvertEndTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="播放方式" namespace="editAdvert"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAdvertInfo.viewType">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填','editAdvert')}}，请选择播放方式
                                        </option>
                                        <option value="8888">{{vc.i18n('图片','editAdvert')}}</option>
                                        <!-- <option value="9999">{{vc.i18n('视频','editAdvert')}}</option> -->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" v-if="editAdvertInfo.viewType == '8888'">
                                <label class="col-sm-2 col-form-label">{{vc.i18n('图片','editAdvert')}}(800 * 373)</label>
                                <div class="content-img col-sm-10">
                                    <vc:create path="frame/uploadImage" callBackListener="editAdvert"
                                               callBackFunction="notifyUploadImage" namespace="editAdvert">
                                    </vc:create>
                                </div>
                            </div>
                            <!-- <div class="form-group row" v-if="editAdvertInfo.viewType == '9999'">
                                <label class="col-sm-2 col-form-label">{{vc.i18n('视频','editAdvert')}}</label>
                                <div class="content-img col-sm-10">
                                    <vc:create path="frame/uploadVedio" callBackListener="editAdvert"
                                               callBackFunction="notifyUploadVedio" namespace="editAdvert">
                                    </vc:create>
                                </div>
                            </div> -->
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editAdvert()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-close"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
