<div id = "chooseApplyRoomDiscountModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseApplyRoomDiscountModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseApplyRoomDiscountModelLabel"><vc:i18n name="选择房屋折扣申请" namespace="chooseApplyRoomDiscount"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')vc.i18n(' ','chooseApplyRoomDiscount')<divvc.i18n(' ','chooseApplyRoomDiscount')class="vc.i18n(' ','chooseApplyRoomDiscount')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入房屋折扣申请名称','chooseApplyRoomDiscount')" type="text" v-model="chooseApplyRoomDiscountInfo._currentApplyRoomDiscountName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryApplyRoomDiscounts()"><vc:i18n name="查询" namespace="chooseApplyRoomDiscount"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="申请" namespace="chooseApplyRoomDiscount"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="房屋" namespace="chooseApplyRoomDiscount"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="折扣" namespace="chooseApplyRoomDiscount"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="申请类型" namespace="chooseApplyRoomDiscount"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="申请人" namespace="chooseApplyRoomDiscount"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="申请电话" namespace="chooseApplyRoomDiscount"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="开始时间" namespace="chooseApplyRoomDiscount"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="结束时间" namespace="chooseApplyRoomDiscount"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="申请说明" namespace="chooseApplyRoomDiscount"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseApplyRoomDiscount"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="applyRoomDiscount in chooseApplyRoomDiscountInfo.applyRoomDiscounts">
                                                                        <td class="text-center">{{applyRoomDiscount.ardId}}</td>
                            <td class="text-center">{{applyRoomDiscount.roomName}}</td>
                            <td class="text-center">{{applyRoomDiscount.discountId}}</td>
                            <td class="text-center">{{applyRoomDiscount.applyType}}</td>
                            <td class="text-center">{{applyRoomDiscount.createUserName}}</td>
                            <td class="text-center">{{applyRoomDiscount.createUserTel}}</td>
                            <td class="text-center">{{applyRoomDiscount.startTime}}</td>
                            <td class="text-center">{{applyRoomDiscount.endTime}}</td>
                            <td class="text-center">{{applyRoomDiscount.createRemark}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseApplyRoomDiscount(applyRoomDiscount)"><vc:i18n name="选择" namespace="chooseApplyRoomDiscount"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
