<div id = "chooseSystemGoldSettingModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseSystemGoldSettingModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseSystemGoldSettingModelLabel"><vc:i18n name="选择金币设置" namespace="chooseSystemGoldSetting"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')vc.i18n(' ','chooseSystemGoldSetting')<divvc.i18n(' ','chooseSystemGoldSetting')class="vc.i18n(' ','chooseSystemGoldSetting')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入金币设置名称','chooseSystemGoldSetting')" type="text" v-model="chooseSystemGoldSettingInfo._currentSystemGoldSettingName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="querySystemGoldSettings()"><vc:i18n name="查询" namespace="chooseSystemGoldSetting"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="设置" namespace="chooseSystemGoldSetting"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="名称" namespace="chooseSystemGoldSetting"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="类型" namespace="chooseSystemGoldSetting"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="购买价格" namespace="chooseSystemGoldSetting"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="使用价格" namespace="chooseSystemGoldSetting"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="有效期" namespace="chooseSystemGoldSetting"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="状态" namespace="chooseSystemGoldSetting"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseSystemGoldSetting"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="systemGoldSetting in chooseSystemGoldSettingInfo.systemGoldSettings">
                                                                        <td class="text-center">{{systemGoldSetting.settingId}}</td>
                            <td class="text-center">{{systemGoldSetting.goldName}}</td>
                            <td class="text-center">{{systemGoldSetting.goldType}}</td>
                            <td class="text-center">{{systemGoldSetting.buyPrice}}</td>
                            <td class="text-center">{{systemGoldSetting.usePrice}}</td>
                            <td class="text-center">{{systemGoldSetting.validity}}</td>
                            <td class="text-center">{{systemGoldSetting.state}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseSystemGoldSetting(systemGoldSetting)"><vc:i18n name="选择" namespace="chooseSystemGoldSetting"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
