<div id = "chooseCouponDetailModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseCouponDetailModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseCouponDetailModelLabel">选择商家购买记录表</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input placeholder="输入商家购买记录表名称" type="text" v-model="chooseCouponDetailInfo._currentCouponDetailName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryCouponDetails()">查询</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center">商家购买记录表ID</th>
                            <th class="text-center">记录ID</th>
                            <th class="text-center">优惠券</th>
                            <th class="text-center">店铺ID</th>
                            <th class="text-center">优惠券名称</th>
                            <th class="text-center">面值</th>
                            <th class="text-center">购买价格</th>
                            <th class="text-center">付款金额</th>
                            <th class="text-center">购买数量</th>
                            <th class="text-center">有效期</th>
                            <th class="text-center">primary</th>
                            <th class="text-center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="couponDetail in chooseCouponDetailInfo.couponDetails">
                                                                        <td class="text-center">{{couponDetail.detailId}}</td>
                            <td class="text-center">{{couponDetail.detailId}}</td>
                            <td class="text-center">{{couponDetail.poolId}}</td>
                            <td class="text-center">{{couponDetail.shopId}}</td>
                            <td class="text-center">{{couponDetail.couponName}}</td>
                            <td class="text-center">{{couponDetail.actualPrice}}</td>
                            <td class="text-center">{{couponDetail.buyPrice}}</td>
                            <td class="text-center">{{couponDetail.amount}}</td>
                            <td class="text-center">{{couponDetail.buyCount}}</td>
                            <td class="text-center">{{couponDetail.validityDay}}</td>
                            <td class="text-center">{{couponDetail.primary}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseCouponDetail(couponDetail)">选择</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
