<div id="addSmallWeChatModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">添加小程序</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">名称</label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.name" type="text" placeholder="必填，请填写小程序/公众号名称"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">APPID</label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.appId" type="text" placeholder="必填，请填写APPID"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">应用密钥</label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.appSecret" type="text" placeholder="必填，请填写应用密钥"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">支付密码</label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.payPassword" type="text" placeholder="必填，请填写支付密码"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">商户ID</label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.mchId" type="text" placeholder="必填，请填写商户ID"
                                           class="form-control">
                                </div>
                            </div>

<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-2 col-form-label">作用范围</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <select class="custom-select" v-model="addSmallWeChatInfo.objType">-->
<!--                                        <option selected disabled value="">请选择状态</option>-->
<!--                                        <option v-for="(item,index) in addSmallWeChatInfo.objTypes" :key="index"-->
<!--                                                v-bind:value="item.statusCd">{{item.name}}-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">描述</label>
                                <div class="col-sm-10">
                                     <textarea v-model="addSmallWeChatInfo.remarks" type="text" placeholder="选填，请填写描述信息"
                                               class="form-control">
                                    </textarea>
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="saveSmallWeChatInfo()"><i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
