<div id="addSmallWeChatModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="添加" namespace="addSmallWeChat"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="名称" namespace="addSmallWeChat"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.name" type="text"
                                           :placeholder="vc.i18n('必填，请填写名称','addSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">APPID</label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.appId" type="text"
                                           :placeholder="vc.i18n('必填，请填写APPID','addSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="应用密钥" namespace="addSmallWeChat"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.appSecret" type="text"
                                           :placeholder="vc.i18n('必填，请填写应用密钥','addSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="支付密码" namespace="addSmallWeChat"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.payPassword" type="text"
                                           :placeholder="vc.i18n('必填，请填写支付密码','addSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="商户ID" namespace="addSmallWeChat"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.mchId" type="text"
                                           :placeholder="vc.i18n('必填，请填写商户ID','addSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="商户名称" namespace="addSmallWeChat"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addSmallWeChatInfo.mchName" type="text"
                                           :placeholder="vc.i18n('必填，请填写商户名称','addSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="商户证书" namespace="addSmallWeChat"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <vc:create path="frame/uploadFile" callBackListener="addSmallWeChat"
                                               callBackFunction="notifyCert" namespace="addSmallWeChat">
                                    </vc:create>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="描述" namespace="addSmallWeChat"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <textarea v-model="addSmallWeChatInfo.remarks" type="text"
                                              :placeholder="vc.i18n('选填，请填写描述信息','addSmallWeChat')"
                                              class="form-control">
                                    </textarea>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="saveSmallWeChatInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <span><vc:i18n name="取消" namespace="addSmallWeChat"></vc:i18n></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>