<div id="exportFeeImportExcelModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">模板导出</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">楼栋</label>
                                <div class="col-sm-10">
                                    <label>
                                        <input type="checkbox" v-model="exportFeeImportExcelInfo.isFloorAll"  @change="changeAllFloors()" >全部
                                      </label>
                                    <label class="margin-left" v-for="(item,index) in exportFeeImportExcelInfo.floors">
                                        <input type="checkbox" v-model="exportFeeImportExcelInfo.floorIds" @change="changeItemFloor()" :value="item.floorId"> {{item.floorName}}
                                     </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">费用项</label>
                                <div class="col-sm-10">
                                    <label>
                                        <input type="checkbox" v-model="exportFeeImportExcelInfo.isConfigAll"  @change="changeAllConfig()" >全部
                                      </label>
                                    <label class="margin-left" v-for="(item,index) in exportFeeImportExcelInfo.configs">
                                        <input type="checkbox" v-model="exportFeeImportExcelInfo.configIds" @change="changeItemConfig()" :value="item.configId"> {{item.feeName}}
                                     </label>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="_exportExcel()">
                                    <i class="fa fa-check"></i>&nbsp;导出
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">
                                    <i class="fa fa-close"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>