<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>预付费用信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewPrestoreFeeInfo.index != 2" class="btn btn-primary btn-sm"
                        style="margin-right:10px;" v-on:click="_openSelectPrestoreFeeInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择预付费用</button>

                    <button type="button" v-if="viewPrestoreFeeInfo.index != 2" class="btn btn-primary btn-sm"
                        v-on:click="_openAddPrestoreFeeInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加预付费用</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">房屋ID：</label>
                            <label class="">{{viewPrestoreFeeInfo.roomId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">预付类型：</label>
                            <label class="">{{viewPrestoreFeeInfo.prestoreFeeType}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">预存对象类型：</label>
                            <label class="">{{viewPrestoreFeeInfo.prestoreFeeObjType}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">预付金额：</label>
                            <label class="">{{viewPrestoreFeeInfo.prestoreFeeAmount}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">状态：</label>
                            <label class="">{{viewPrestoreFeeInfo.state}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">备注：</label>
                            <label class="">{{viewPrestoreFeeInfo.remark}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create path="property/addPrestoreFee" callBackListener="viewPrestoreFeeInfo"
        callBackFunction="choosePrestoreFee"></vc:create>


    <vc:create path="property/choosePrestoreFee" emitChoosePrestoreFee="viewPrestoreFeeInfo"
        emitLoadData="viewPrestoreFeeInfo"></vc:create>
</div>