<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="预付费用信息" namespace="viewPrestoreFeeInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewPrestoreFeeInfo.index != 2" class="btn btn-primary btn-sm"
                        style="margin-right:10px;" v-on:click="_openSelectPrestoreFeeInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <vc:i18n name="选择预付费用" namespace="viewPrestoreFeeInfo"></vc:i18n></button>

                    <button type="button" v-if="viewPrestoreFeeInfo.index != 2" class="btn btn-primary btn-sm"
                        v-on:click="_openAddPrestoreFeeInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <vc:i18n name="添加预付费用" namespace="viewPrestoreFeeInfo"></vc:i18n></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="房屋" namespace="viewPrestoreFeeInfo"></vc:i18n>ID：</label>
                            <label class="">{{viewPrestoreFeeInfo.roomId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="预付类型" namespace="viewPrestoreFeeInfo"></vc:i18n>：</label>
                            <label class="">{{viewPrestoreFeeInfo.prestoreFeeType}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="预存对象类型" namespace="viewPrestoreFeeInfo"></vc:i18n>：</label>
                            <label class="">{{viewPrestoreFeeInfo.prestoreFeeObjType}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="预付金额" namespace="viewPrestoreFeeInfo"></vc:i18n>：</label>
                            <label class="">{{viewPrestoreFeeInfo.prestoreFeeAmount}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="状态" namespace="viewPrestoreFeeInfo"></vc:i18n>：</label>
                            <label class="">{{viewPrestoreFeeInfo.state}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="备注" namespace="viewPrestoreFeeInfo"></vc:i18n>：</label>
                            <label class="">{{viewPrestoreFeeInfo.remark}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create path="property/addPrestoreFee" callBackListener="viewPrestoreFeeInfo"
        callBackFunction="choosePrestoreFee"></vc:create>


    <vc:create path="property/choosePrestoreFee" emitChoosePrestoreFee="viewPrestoreFeeInfo"
        emitLoadData="viewPrestoreFeeInfo"></vc:create>
</div>
