<div class="margin-top">
    <div class="row margin-top-lg">
        <div class="col-lg-2 padding-right-xs padding-right-xl ">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px"
                v-on:click="_queryCouponRuleCppsMethod()">
                查询
            </button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddCouponRuleFeeModal()">
                <i class="glyphicon glyphicon-plus"></i>
                <span>
                    <vc:i18n name="添加" namespace="marketTextManage"></vc:i18n>
                </span>
            </button>
        </div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center"><span>
                            <vc:i18n name='编号' namespace='couponRuleFees'></vc:i18n>
                        </span></th>
                    <th class="text-center"><span>
                            <vc:i18n name='费用' namespace='couponRuleFees'></vc:i18n>
                        </span></th>
                    <th class="text-center"><span>
                            <vc:i18n name='缴费时间' namespace='couponRuleFees'></vc:i18n>
                        </span></th>
                    <th class="text-center"><span>
                            <vc:i18n name='缴费月' namespace='couponRuleFees'></vc:i18n>
                        </span></th>
                    <th class="text-center"><span>
                            <vc:i18n name='操作'></vc:i18n>
                        </span></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="couponRuleFee in couponRuleFeesInfo.couponRuleFees">
                    <td class="text-center">{{couponRuleFee.crfId}}</td>
                    <td class="text-center">{{couponRuleFee.feeConfigName}}</td>
                    <td class="text-center">{{couponRuleFee.payStartTime}}~{{couponRuleFee.payEndTime}}</td>
                    <td class="text-center">{{couponRuleFee.payMonth}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs"
                                v-on:click="_openEditCouponRuleFeeModel(couponRuleFee)"><span>
                                    <vc:i18n name='修改'></vc:i18n>
                                </span></button>
                        </div>
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs"
                                v-on:click="_openDeleteCouponRuleFeeModel(couponRuleFee)"><span>
                                    <vc:i18n name='删除'></vc:i18n>
                                </span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!-- 分页 -->
        <vc:create path="frame/paginationPlus" namespace="couponRuleCpps"></vc:create>
    </div>

    <vc:create path="scm/addCouponRuleFee"
               callBackListener=""
               callBackFunction=""
    ></vc:create>
    <vc:create path="scm/editCouponRuleFee"></vc:create>
    <vc:create path="scm/deleteCouponRuleFee"></vc:create>
</div>