<div class="margin-top">
    <div class="row margin-top-lg">
        <div class="col-lg-3 padding-right-xs padding-left-xl">
            <input v-model="parkingAreaControlPaymentInfo.carNum" type="text" :placeholder="vc.i18n('必填，请填写车牌号','parkingAreaControlPayment')"
                class="form-control">

        </div>
        <div class="col-lg-3 padding-right-xs padding-left-xl">
            <select class="custom-select" v-model="parkingAreaControlPaymentInfo.state">
                <option disabled value="">{{vc.i18n('请选择车辆状态','parkingAreaControlPayment')}}</option>
                <option value="100300">{{vc.i18n('进场状态','parkingAreaControlPayment')}}</option>
                <option value="100400">{{vc.i18n('支付完成','parkingAreaControlPayment')}}</option>
                <option value="100500">{{vc.i18n('离场状态','parkingAreaControlPayment')}}</option>
                <option value="100600">{{vc.i18n('支付超时重新支付','parkingAreaControlPayment')}}</option>
            </select>

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-right-xl text-right">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px"
                v-on:click="_qureyParkingAreaControlPayment()">
                查询
            </button>
        </div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center"><span><vc:i18n name="进出场编号" namespace="parkingAreaControlPayment"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="车辆状态" namespace="parkingAreaControlPayment"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="车牌号" namespace="parkingAreaControlPayment"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="进场时间" namespace="parkingAreaControlPayment"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="收费类型" namespace="parkingAreaControlPayment"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="应收金额" namespace="parkingAreaControlPayment"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="实收金额" namespace="parkingAreaControlPayment"></vc:i18n></span></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="carIn in parkingAreaControlPaymentInfo.payments">
                    <td class="text-center">{{carIn.inoutId}}</td>
                    <td class="text-center">{{carIn.carInout == '3306'?'进场':'出场'}}</td>
                    <td class="text-center">{{carIn.carNum}}</td>
                    <td class="text-center">{{carIn.inTime}}</td>
                    <td class="text-center">{{carIn.payTypeName}}</td>
                    <td class="text-center">{{carIn.payCharge}}</td>
                    <td class="text-center">{{carIn.realCharge}}</td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- 分页 -->
        <vc:create path="frame/paginationPlus" namespace="parkingAreaControlPayment"></vc:create>
    </div>
</div>
