<div class="margin-top">
    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
        <thead>
            <tr>
                <th class="text-center">进出场编号</th>
                <th class="text-center">车辆状态</th>
                <th class="text-center">车牌号</th>
                <th class="text-center">进场时间</th>
                <th class="text-center">收费类型</th>
                <th class="text-center">应收金额</th>
                <th class="text-center">实收金额</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="carIn in parkingAreaControlPaymentInfo.payments">
                <td class="text-center">{{carIn.inoutId}}</td>
                <td class="text-center">{{carIn.carInout == '3306'?'进场':'出场'}}</td>
                <td class="text-center">{{carIn.carNum}}</td>
                <td class="text-center">{{carIn.inTime}}</td>
                <td class="text-center">{{carIn.payTypeName}}</td>
                <td class="text-center" >{{carIn.payCharge}}</td>
                <td class="text-center" >{{carIn.realCharge}}</td>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <ul class="pagination float-right"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
    <!-- 分页 -->
    <vc:create path="frame/paginationPlus" namespace="parkingAreaControlPayment"></vc:create>
</div>