<div id="addPayFeeConfigDiscountModel" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="添加" namespace="addPayFeeConfigDiscount"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="折扣类型" namespace="addPayFeeConfigDiscount"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addPayFeeConfigDiscountInfo.discountType"
                                            @change="_changeAddPayFeeConfigDiscountType()">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填','addPayFeeConfigDiscount')}}，请选择折扣类型
                                        </option>
                                        <option value="1001">{{vc.i18n('优惠','addPayFeeConfigDiscount')}}</option>
                                        <option value="2002">{{vc.i18n('违约','addPayFeeConfigDiscount')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="折扣名称" namespace="addPayFeeConfigDiscount"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addPayFeeConfigDiscountInfo.discountId">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填','addPayFeeConfigDiscount')}}，请选择折扣名称
                                        </option>
                                        <option v-for="(item,index) in addPayFeeConfigDiscountInfo.discounts"
                                                :value="item.discountId">{{item.discountName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="缴费起始时间" namespace="addPayFeeConfigDiscount"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addPayFeeConfigDiscountInfo.startTime" type="text"
                                           :placeholder="vc.i18n('必填，请填写缴费起始时间','addPayFeeConfigDiscount')"
                                           class="form-control addPayFeeConfigDiscountStartTime" name="startTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="缴费结束时间" namespace="addPayFeeConfigDiscount"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addPayFeeConfigDiscountInfo.endTime" type="text"
                                           :placeholder="vc.i18n('必填，请填写缴费结束时间','addPayFeeConfigDiscount')"
                                           class="form-control addPayFeeConfigDiscountEndTime" name="endTime">
                                </div>
                            </div>
                            <div class="form-group row" v-if="addPayFeeConfigDiscountInfo.discountType != '2002'">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="折扣终止时间" namespace="addPayFeeConfigDiscount"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addPayFeeConfigDiscountInfo.payMaxEndTime" type="text"
                                           :placeholder="vc.i18n('可选，填写折扣终止时间','addPayFeeConfigDiscount')"
                                           class="form-control addPayFeeConfigDiscountPaymaxEndTime"
                                           name="payMaxEndTime">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="savePayFeeConfigDiscountInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-times"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
