<div id="addParkingBoxModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <vc:i18n name="添加" namespace="addParkingBox"></vc:i18n>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="岗亭名称" namespace="addParkingBox"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addParkingBoxInfo.boxName" type="text" :placeholder="vc.i18n('必填，请填写岗亭名称','addParkingBox')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="停车场" namespace="addParkingBox"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addParkingBoxInfo.paId">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择停车场','addParkingBox')}}
                                        </option>
                                        <option :value="item.paId"
                                                v-for="(item,index) in addParkingBoxInfo.parkingAreas">{{item.num}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="临时车进场" namespace="addParkingBox"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addParkingBoxInfo.tempCarIn">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择临时车是否进场','addParkingBox')}}
                                        </option>
                                        <option value="Y">{{vc.i18n('是','addParkingBox')}}</option>
                                        <option value="N">{{vc.i18n('否','addParkingBox')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="临时车审核" namespace="addParkingBox"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addParkingBoxInfo.tempAuth">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择临时车进场审核','addParkingBox')}}
                                        </option>
                                        <option value="Y">{{vc.i18n('是','addParkingBox')}}</option>
                                        <option value="N">{{vc.i18n('否','addParkingBox')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="是否收费" namespace="addParkingBox"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addParkingBoxInfo.fee">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择是否收费','addParkingBox')}}
                                        </option>
                                        <option value="Y">{{vc.i18n('是','addParkingBox')}}</option>
                                        <option value="N">{{vc.i18n('否','addParkingBox')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="已在场" namespace="addParkingBox"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addParkingBoxInfo.blueCarIn">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择已在场是否可以进场','addParkingBox')}}
                                        </option>
                                        <option value="Y">{{vc.i18n('可进场','addParkingBox')}}</option>
                                        <option value="N">{{vc.i18n('不可进场','addParkingBox')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="未进场" namespace="addParkingBox"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addParkingBoxInfo.yelowCarIn">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择未进场是否可以出场','addParkingBox')}}
                                        </option>
                                        <option value="Y">{{vc.i18n('可出场','addParkingBox')}}</option>
                                        <option value="N">{{vc.i18n('不可出场','addParkingBox')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <vc:i18n name="备注" namespace="addParkingBox"></vc:i18n>
                                </label>
                                <div class="col-sm-10">
                                    <textarea v-model="addParkingBoxInfo.remark" :placeholder="vc.i18n('选填，请填写备注','addParkingBox')" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="saveParkingBoxInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">
                                    <vc:i18n name="取消" namespace="addParkingBox"></vc:i18n>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>