<div id="editShopAuditModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <vc:i18n name="修改店铺审核" namespace="editShopAudit"></vc:i18n>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="审核ID" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.auditId" type="text" :placeholder="vc.i18n('必填，请填写审核','editShopAuditID')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="店铺ID" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.shopId" type="text" :placeholder="vc.i18n('必填，请填写店铺ID','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="店铺logo" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.shopLogo" type="text" :placeholder="vc.i18n('必填，请填写店铺logo','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="商户ID" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.storeId" type="text" :placeholder="vc.i18n('必填，请填写商户ID','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="店铺名称" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.shopName" type="text" :placeholder="vc.i18n('必填，请填写店铺名称','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="店铺描述" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.shopDesc" type="text" :placeholder="vc.i18n('必填，请填写店铺描述','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="地区" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.mapX" type="text" :placeholder="vc.i18n('必填，请填写地区','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="地区" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.mapY" type="text" :placeholder="vc.i18n('必填，请填写地区','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="发货地址" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.sendAddress" type="text" :placeholder="vc.i18n('必填，请填写发货地址','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="退货地址" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.returnAddress" type="text" :placeholder="vc.i18n('必填，请填写退货地址','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="退货联系人" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.returnPerson" type="text" :placeholder="vc.i18n('必填，请填写退货联系人','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="退货联系电话" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.returnLink" type="text" :placeholder="vc.i18n('必填，请填写退货联系电话','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="状态" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.state" type="text" :placeholder="vc.i18n('必填，请填写状态','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="店铺类型" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.shopType" type="text" :placeholder="vc.i18n('必填，请填写店铺类型','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="开店类型" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.openType" type="text" :placeholder="vc.i18n('必填，请填写开店类型','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="地域编码" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.areaCode" type="text" :placeholder="vc.i18n('必填，请填写地域编码','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="审核意见" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.auditOpinion" type="text" :placeholder="vc.i18n('必填，请填写审核意见','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="申请原因" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.applyOpinion" type="text" :placeholder="vc.i18n('必填，请填写申请原因','editShopAudit')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="数据状态" namespace="editShopAudit"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopAuditInfo.statusCd" type="text" :placeholder="vc.i18n('必填，请填写数据状态','editShopAudit')" class="form-control">
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editShopAudit()"><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><vc:i18n name="取消" namespace="editShopAudit"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>