<div class="row">
    <div class="col-md-1 ">
        <div class="vc-line-y"></div>
    </div>
    <div class="col-md-11">
        <div>
            <p><span><vc:i18n name="摄像头信息" namespace="cameraControlInfo"></vc:i18n></span></p>
        </div>
        <div class="form-group">
            <label class="col-form-label"><span><vc:i18n name="设备编码" namespace="cameraControlInfo"></vc:i18n></span>：</label>
            <label class="">{{cameraControlInfo.machineCode}}</label>
        </div>
        <div class="form-group">
            <label class="col-form-label"><span><vc:i18n name="版本号" namespace="cameraControlInfo"></vc:i18n></span>：</label>
            <label class="">{{cameraControlInfo.machineVersion}}</label>
        </div>
        <div class="form-group">
            <label class="col-form-label"><span><vc:i18n name="设备名称" namespace="cameraControlInfo"></vc:i18n></span>：</label>
            <label class="">{{cameraControlInfo.machineName}}</label>
        </div>
        <div class="form-group">
            <label class="col-form-label"><span><vc:i18n name="设备类型" namespace="cameraControlInfo"></vc:i18n></span>：</label>
            <label class="">{{cameraControlInfo.machineTypeCd}}</label>
        </div>
        <div class="form-group">
            <label class="col-form-label"><span><vc:i18n name="设备" namespace="cameraControlInfo"></vc:i18n></span>IP：</label>
            <label class="">{{cameraControlInfo.machineIp}}</label>
        </div>
        <div class="form-group">
            <label class="col-form-label"><span><vc:i18n name="设备" namespace="cameraControlInfo"></vc:i18n></span>MAC：</label>
            <label class="">{{cameraControlInfo.machineMac}}</label>
        </div>
    </div>
</div>
