<div class="">
    <div class="row ">
        <div class="col-lg-12 text-right">

        </div>
    </div>

    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center">
                        <vc:i18n name="账单名称" namespace="feeDetailRuleBill"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="费用项" namespace="feeDetailRuleBill"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="应收时间段" namespace="feeDetailRuleBill"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="应收金额" namespace="feeDetailRuleBill"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="规则编号" namespace="feeDetailRuleBill"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="费用编号" namespace="feeDetailRuleBill"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="状态" namespace="feeDetailRuleBill"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="说明" namespace="feeDetailRuleBill"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="操作" namespace="feeDetailRuleBill"></vc:i18n>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="fee in feeDetailRuleBillInfo.bills">
                    <td class="text-center hand">
                        {{fee.billName}}
                    </td>
                    <td class="text-center hand">
                        {{fee.feeTypeCdName}}>{{fee.feeName}}
                    </td>
                    <td class="text-center">{{fee.endTime}}</br>~{{fee.deadlineTime}}</td>
                    <td class="text-center">{{fee.feeTotalPrice}}</td>
                    <td class="text-center">{{fee.ruleId}}</td>
                    <td class="text-center">{{fee.feeId}}</td>
                    <td class="text-center">{{fee.stateName}}</td>
                    <td class="text-center">
                        <div>
                            单价：{{fee.squarePrice}}
                        </div>
                        <div>
                            固定费：{{fee.additionalAmount}}
                        </div>
                    </td>
                    <td class="text-center">
                        <p>
                            <a target="_blank" :href="'/#/pages/fee/feeDetail?feeId='+fee.feeId">
                                <vc:i18n name="详情" namespace="feeDetailRuleBill"></vc:i18n>
                            </a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">
                <vc:create namespace="feeDetailRuleBill" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>