<div id="splitFeeModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <vc:i18n name="拆分费用" namespace="splitFee"></vc:i18n>
                </h3>
                <div class="ibox-content">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <vc:i18n name="时间段" namespace="splitFee"></vc:i18n>
                        </label>
                        <div class="col-sm-10">
                            <div class="form-control border-0" >
                                {{splitFeeInfo.endTime}}~{{splitFeeInfo.deadlineTime}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <vc:i18n name="拆分时间" namespace="splitFee"></vc:i18n>
                        </label>
                        <div class="col-sm-10">
                            <input v-model="splitFeeInfo.splitTime" type="text"
                                :placeholder="vc.i18n('必填，请填写拆分日期','splitFee')" class="form-control splitFeeTime">
                                <span style="color: red;">后段时间包含拆分时间</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <vc:i18n name="说明" namespace="splitFee"></vc:i18n>
                        </label>
                        <div class="col-sm-10">
                            <textarea v-model="splitFeeInfo.remark"
                                :placeholder="vc.i18n('必填，请填写说明','splitFee')" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <button class="btn btn-primary float-right" type="button" v-on:click="_doSplitFee()">
                            <i class="fa fa-check"></i>&nbsp;提交
                        </button>
                        <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                            data-dismiss="modal">
                            <i class="fa fa-times"></i>&nbsp;取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>