<!-- 弹出层 modal -->
<div>
    <div class="modal right fade" id="roomTreeModal" tabindex="-1" role="dialog" aria-labelledby="roomTreeLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 280px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">请选择房屋</h4>
                </div>
                <div class="modal-body">
                    <div id="jstree_floorUnitRoom">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end 弹出层 moda -->
</div>