<div class="margin-top">
    
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center">
                        <vc:i18n name="类型" namespace="ownerDetailComplaint"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="房屋" namespace="ownerDetailComplaint"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="联系人" namespace="ownerDetailComplaint"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="联系电话" namespace="ownerDetailComplaint"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="状态" namespace="ownerDetailComplaint"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="处理人" namespace="ownerDetailComplaint"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="处理人电话" namespace="ownerDetailComplaint"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="创建时间" namespace="ownerDetailComplaint"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <span><vc:i18n name="操作" namespace="ownerDetailComplaint"></vc:i18n></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="complaint in ownerDetailComplaintInfo.complaints">
                    <td class="text-center">{{complaint.typeCdName}}</td>
                    <td class="text-center">
                        {{complaint.floorNum}}-{{complaint.unitNum}}-{{complaint.roomNum}}
                    </td>
                    <td class="text-center">{{complaint.complaintName}}</td>
                    <td class="text-center">{{complaint.tel}}</td>
                    <td class="text-center">{{complaint.stateName}}</td>
                    <td class="text-center">{{complaint.currentUserName == '' ?
                        '无':complaint.currentUserName}}
                    </td>
                    <td class="text-center">{{complaint.currentUserTel ==
                        ''?'无':complaint.currentUserTel}}</td>
                    <td class="text-center">{{complaint.createTime}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" v-on:click="_openComplaintDetailModel(complaint)">
                                <span><vc:i18n name="详情" namespace="ownerDetailComplaint"></vc:i18n></span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" v-on:click="_openRunWorkflowImage(complaint)">
                                <span><vc:i18n name="流程图" namespace="ownerDetailComplaint"></vc:i18n></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">
                <vc:create namespace="ownerDetailComplaint" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
    <vc:create path="common/viewImage"></vc:create>
    <vc:create path="common/complaintDetail"></vc:create>
</div>