<div id="editPrestoreFeeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b "><vc:i18n name="修改预付费用" namespace="editPrestoreFee"></vc:i18n></h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{vc.i18n('房屋','editPrestoreFee')}}ID</label>
                <div class="col-sm-10">
                  <input disabled="disabled" v-model="editPrestoreFeeInfo.roomId" type="text" :placeholder="vc.i18n('必填，请填写房屋','editPrestoreFee')ID" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="预付类型" namespace="editPrestoreFee"></vc:i18n></label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editPrestoreFeeInfo.prestoreFeeType">
                    <option selected disabled value="">{{vc.i18n('必填','editPrestoreFee')}}，请选择预付类型</option>
                    <option value="8003">{{vc.i18n('水费','editPrestoreFee')}}</option>
                    <option value="8004">{{vc.i18n('电费','editPrestoreFee')}}</option>
                  </select> </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="预存对象类型" namespace="editPrestoreFee"></vc:i18n></label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editPrestoreFeeInfo.prestoreFeeObjType">
                    <option selected disabled value="">{{vc.i18n('必填','editPrestoreFee')}}，请选择预存对象类型</option>
                    <option value="3333">{{vc.i18n('房屋','editPrestoreFee')}}</option>
                    <option value="6666">{{vc.i18n('车位','editPrestoreFee')}}</option>
                  </select> </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="预付金额" namespace="editPrestoreFee"></vc:i18n></label>
                <div class="col-sm-10">
                  <input v-model="editPrestoreFeeInfo.prestoreFeeAmount" type="text" :placeholder="vc.i18n('必填，请填写预付金额','editPrestoreFee')"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="状态" namespace="editPrestoreFee"></vc:i18n></label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editPrestoreFeeInfo.state">
                    <option selected disabled value="">{{vc.i18n('必填','editPrestoreFee')}}，请选择状态</option>
                    <option value="1001">{{vc.i18n('未使用','editPrestoreFee')}}</option>
                    <option value="2002">{{vc.i18n('已使用','editPrestoreFee')}}</option>
                  </select> </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="editPrestoreFee"></vc:i18n></label>
                <div class="col-sm-10">
                  <input v-model="editPrestoreFeeInfo.remark" type="text" :placeholder="vc.i18n('必填，请填写备注','editPrestoreFee')" class="form-control">
                </div>
              </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="editPrestoreFee()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal"><vc:i18n name="取消" namespace="editPrestoreFee"></vc:i18n></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
