<div id="editPrestoreFeeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b ">修改预付费用</h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">房屋ID</label>
                <div class="col-sm-10">
                  <input disabled="disabled" v-model="editPrestoreFeeInfo.roomId" type="text" placeholder="必填，请填写房屋ID" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">预付类型</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editPrestoreFeeInfo.prestoreFeeType">
                    <option selected disabled value="">必填，请选择预付类型</option>
                    <option value="8003">水费</option>
                    <option value="8004">电费</option>
                  </select> </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">预存对象类型</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editPrestoreFeeInfo.prestoreFeeObjType">
                    <option selected disabled value="">必填，请选择预存对象类型</option>
                    <option value="3333">房屋</option>
                    <option value="6666">车位</option>
                  </select> </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">预付金额</label>
                <div class="col-sm-10">
                  <input v-model="editPrestoreFeeInfo.prestoreFeeAmount" type="text" placeholder="必填，请填写预付金额"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">状态</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editPrestoreFeeInfo.state">
                    <option selected disabled value="">必填，请选择状态</option>
                    <option value="1001">未使用</option>
                    <option value="2002">已使用</option>
                  </select> </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">备注</label>
                <div class="col-sm-10">
                  <input v-model="editPrestoreFeeInfo.remark" type="text" placeholder="必填，请填写备注" class="form-control">
                </div>
              </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="editPrestoreFee()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>