<div>
    <div>
        <table class="footable table table-stripped toggle-arrow-tiny" style="margin-top:10px" data-page-size="10">
            <thead>
            <tr>
                <th class="text-center"><span><vc:i18n name="业主名称" namespace="simplifyShopsHireLog"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="业主电话" namespace="simplifyShopsHireLog"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="开始时间" namespace="simplifyShopsHireLog"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="结束时间" namespace="simplifyShopsHireLog"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="创建时间" namespace="simplifyShopsHireLog"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="操作" namespace="simplifyShopsHireLog"></vc:i18n></span></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="owner in simplifyShopsHireLogInfo.owners">
                <td class="text-center">{{owner.name}}</td>
                <td class="text-center">{{owner.link}}</td>
                <td class="text-center">{{owner.startTime}}</td>
                <td class="text-center">{{owner.endTime}}</td>
                <td class="text-center">{{owner.createTime}}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn-white btn btn-xs"
                                v-on:click="_openShopsOwnerFee(owner)"><span><vc:i18n name="查看费用" namespace="simplifyShopsHireLog"></vc:i18n></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12 float-right">
                <vc:create namespace="simplifyShopsHireLog" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
    <!-- <vc:create path="property/editMachineTranslate"></vc:create> -->
</div>
