<div id="editWorkTypeModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <vc:i18n name="修改" namespace="editWorkType"></vc:i18n>
                </h3>
                <div class="ibox-content">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <vc:i18n name='类型名称' namespace='editWorkType'></vc:i18n>
                        </label>
                        <div class="col-sm-10">
                            <input v-model="editWorkTypeInfo.typeName" type="text"
                                :placeholder="vc.i18n('必填，请填写类型名称','editWorkType')" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <vc:i18n name='超时时间' namespace='editWorkType'></vc:i18n>
                        </label>
                        <div class="col-sm-10">
                            <input v-model="editWorkTypeInfo.timeout" type="number"
                                :placeholder="vc.i18n('必填，请填写超时时间','editWorkType')" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            <vc:i18n name='备注' namespace='editWorkType'></vc:i18n>
                        </label>
                        <div class="col-sm-10">
                            <textarea v-model="editWorkTypeInfo.remark"
                                :placeholder="vc.i18n('选填，请填写备注','editWorkType')" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <button class="btn btn-primary float-right" type="button" v-on:click="editWorkType()">
                            <vc:i18n name="保存"></vc:i18n>
                        </button>
                        <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                            data-dismiss="modal">
                            <vc:i18n name="取消"></vc:i18n>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>