<div id = "chooseMenuUserModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseMenuUserModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseMenuUserModelLabel"><span><vc:i18n name="选择常用菜单" namespace="chooseMenuUser"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')vc.i18n(' ','chooseMenuUser')<divvc.i18n(' ','chooseMenuUser')class="vc.i18n(' ','chooseMenuUser')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入常用菜单名称','chooseMenuUser')" type="text" v-model="chooseMenuUserInfo._currentMenuUserName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryMenuUsers()"><span><vc:i18n name="查询" namespace="chooseMenuUser"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name="编号" namespace="chooseMenuUser"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="菜单" namespace="chooseMenuUser"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="图标" namespace="chooseMenuUser"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="列顺序" namespace="chooseMenuUser"></vc:i18n></span>'</th>
                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseMenuUser"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="menuUser in chooseMenuUserInfo.menuUsers">
                                                                        <td class="text-center">{{menuUser.muId}}</td>
                            <td class="text-center">{{menuUser.mId}}</td>
                            <td class="text-center">{{menuUser.icon}}</td>
                            <td class="text-center">{{menuUser.seq}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseMenuUser(menuUser)"><span><vc:i18n name="选择" namespace="chooseMenuUser"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
