<div id = "chooseMenuUserModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseMenuUserModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseMenuUserModelLabel">选择常用菜单</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input placeholder="输入常用菜单名称" type="text" v-model="chooseMenuUserInfo._currentMenuUserName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryMenuUsers()">查询</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center">编号</th>
                            <th class="text-center">菜单</th>
                            <th class="text-center">图标</th>
                            <th class="text-center">列顺序'</th>
                            <th class="text-center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="menuUser in chooseMenuUserInfo.menuUsers">
                                                                        <td class="text-center">{{menuUser.muId}}</td>
                            <td class="text-center">{{menuUser.mId}}</td>
                            <td class="text-center">{{menuUser.icon}}</td>
                            <td class="text-center">{{menuUser.seq}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseMenuUser(menuUser)">选择</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
