<div id="editParkingAreaModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><span><vc:i18n name="修改信息" namespace="editParkingArea"></vc:i18n></span></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="停车场编号" namespace="editParkingArea"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editParkingAreaInfo.num" type="text" :placeholder="vc.i18n('必填，请填写停车场编号','editParkingArea')"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="停车场类型" namespace="editParkingArea"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editParkingAreaInfo.typeCd">
                                        <option selected disabled value="">{{vc.i18n('必填','editParkingArea')}}，请选择停车场类型</option>
                                        <option value="1001">{{vc.i18n('地上停车场','editParkingArea')}}</option>
                                        <option value="2001">{{vc.i18n('地下停车场','editParkingArea')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div v-for="(item,index) in editParkingAreaInfo.attrs">
                                <div class="form-group row" v-if="item.specType == '2233'">
                                    <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                                    <div class="col-sm-10">
                                        <input v-model="item.value" type="text" :placeholder="item.specHoldplace"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row" v-if="item.specType == '3344'">
                                    <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                                    <div class="col-sm-10">
                                        <select class="custom-select" v-model="item.value">
                                            <option selected disabled value="">{{item.specHoldplace}}</option>
                                            <option v-for="value in item.values" :label="value.valueName"
                                                :value="value.value">
                                                {{item.valueName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="备注" namespace="editParkingArea"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editParkingAreaInfo.remark" type="text" :placeholder="vc.i18n('可填，请填写备注','editParkingArea')"
                                        class="form-control">
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                    v-on:click="editParkingArea()"><i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal"><span><vc:i18n name="取消" namespace="editParkingArea"></vc:i18n></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
