<div>
    <div class="row margin-top">

        <div class="col-lg-10 text-right">
        </div>
        <div class="col-lg-2 text-right" v-if="simplifyOwnerRepairInfo.roomId != ''">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px"
                v-on:click="_openAddOwnerRepairModal()">
                <i class="fa fa-plus"></i>
                电话报修
            </button>
        </div>
    </div>
    <div>
        <table class="footable table table-stripped toggle-arrow-tiny" style="margin-top:10px" data-page-size="10">
            <thead>
            <tr>
                <th class="text-center"><span><vc:i18n name="工单编码" namespace="simplifyOwnerRepair"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="位置" namespace="simplifyOwnerRepair"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="报修类型" namespace="simplifyOwnerRepair"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="报修人" namespace="simplifyOwnerRepair"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="联系方式" namespace="simplifyOwnerRepair"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="预约时间" namespace="simplifyOwnerRepair"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="状态" namespace="simplifyOwnerRepair"></vc:i18n></span></th>
                <th class="text-center"><span><vc:i18n name="操作" namespace="simplifyOwnerRepair"></vc:i18n></span></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="repair in simplifyOwnerRepairInfo.repairs">
                <td class="text-center">{{repair.repairId}}</td>
                <td class="text-center">{{repair.repairObjName}}</td>
                <td class="text-center">{{repair.repairTypeName}}</td>
                <td class="text-center">{{repair.repairName}}</td>
                <td class="text-center">{{repair.tel}}</td>
                <td class="text-center">{{repair.appointmentTime}}</td>
                <td class="text-center">{{repair.stateName}}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn-white btn btn-xs" v-on:click="_openRepairDetail(repair)"><span><vc:i18n name="详情" namespace="simplifyOwnerRepair"></vc:i18n></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12 float-right">
                <vc:create namespace="simplifyOwnerRepair" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>
