<div id = "chooseMenuGroupCatalogModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseMenuGroupCatalogModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseMenuGroupCatalogModelLabel"><vc:i18n name="选择目录组" namespace="chooseMenuGroupCatalog"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')vc.i18n(' ','chooseMenuGroupCatalog')<divvc.i18n(' ','chooseMenuGroupCatalog')class="vc.i18n(' ','chooseMenuGroupCatalog')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入目录组名称','chooseMenuGroupCatalog')" type="text" v-model="chooseMenuGroupCatalogInfo._currentMenuGroupCatalogName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryMenuGroupCatalogs()"><vc:i18n name="查询" namespace="chooseMenuGroupCatalog"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="编号" namespace="chooseMenuGroupCatalog"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="菜单组" namespace="chooseMenuGroupCatalog"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseMenuGroupCatalog"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="menuGroupCatalog in chooseMenuGroupCatalogInfo.menuGroupCatalogs">
                                                                        <td class="text-center">{{menuGroupCatalog.gcId}}</td>
                            <td class="text-center">{{menuGroupCatalog.gId}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseMenuGroupCatalog(menuGroupCatalog)"><vc:i18n name="选择" namespace="chooseMenuGroupCatalog"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
