<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="巡检点信息" namespace="viewInspectionPointInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewInspectionPointInfo.index != 2" class="btn btn-primary btn-sm"
                            style="margin-right:10px;" v-on:click="_openSelectInspectionPointInfoModel()">
                        <i class="fa fa-search"></i> <vc:i18n name="选择巡检点" namespace="viewInspectionPointInfo"></vc:i18n>
                    </button>

                    <button type="button" v-if="viewInspectionPointInfo.index != 2" class="btn btn-primary btn-sm"
                            v-on:click="_openAddInspectionPointInfoModel()">
                        <i class="fa fa-plus"></i> <vc:i18n name="添加巡检点" namespace="viewInspectionPointInfo"></vc:i18n>
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="巡检点名称" namespace="viewInspectionPointInfo"></vc:i18n>：</label>
                            <label class="">{{viewInspectionPointInfo.inspection_name}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="备注" namespace="viewInspectionPointInfo"></vc:i18n>：</label>
                            <label class="">{{viewInspectionPointInfo.remark}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create path="property/addInspectionPoint"
               callBackListener="viewInspectionPointInfo"
               callBackFunction="chooseInspectionPoint"
    ></vc:create>


    <vc:create path="property/chooseInspectionPoint"
               emitChooseInspectionPoint="viewInspectionPointInfo"
               emitLoadData="viewInspectionPointInfo"
    ></vc:create>
</div>
