<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5><span><vc:i18n name="开发服务提供" namespace="serviceProvideRemarkView"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">

                </div>
            </div>
            <div class="ibox-content">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span><vc:i18n name="描述" namespace="serviceProvideRemarkView"></vc:i18n></span></label>
                    <div class="col-sm-10">
                        <textarea rows="10" :placeholder="vc.i18n('选填，请填写描述','serviceProvideRemarkView')" class="form-control"
                                  v-model="serviceProvideRemarkViewInfo.description"></textarea></div>
                </div>

            </div>
        </div>
    </div>
</div>
