<div id="complaintDetailModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">{{complaintDetailInfo.typeCdName}}详情</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房屋信息</label>
                                <div class="col-sm-10">
                                    <input v-model="complaintDetailInfo.roomName" type="text" readonly
                                        placeholder="必填，请填写投诉人" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">投诉编码</label>
                                <div class="col-sm-10">
                                    <input v-model="complaintDetailInfo.complaintId" type="text" readonly
                                        placeholder="必填，请填写投诉人" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">投诉类型</label>
                                <div class="col-sm-10">
                                    <input v-model="complaintDetailInfo.typeCdName" type="text" readonly
                                        placeholder="必填，请填写投诉人" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">投诉人</label>
                                <div class="col-sm-10">
                                    <input v-model="complaintDetailInfo.complaintName" type="text" readonly
                                        placeholder="必填，请填写投诉人" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">投诉人电话</label>
                                <div class="col-sm-10">
                                    <input v-model="complaintDetailInfo.tel" type="text" readonly
                                        placeholder="必填，请填写投诉人电话" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">投诉状态</label>
                                <div class="col-sm-10">
                                    <input v-model="complaintDetailInfo.stateName" type="text" readonly
                                        placeholder="必填，请填写投诉状态" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row" v-if="complaintDetailInfo.showCurrentUser">
                                <label class="col-sm-2 col-form-label">处理人</label>
                                <div class="col-sm-10">
                                    <input v-model="complaintDetailInfo.currentUserName" type="text" readonly
                                        placeholder="必填，请填写处理人" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row" v-if="complaintDetailInfo.showCurrentUser">
                                <label class="col-sm-2 col-form-label">处理人电话</label>
                                <div class="col-sm-10">
                                    <input v-model="complaintDetailInfo.currentUserTel" type="text" readonly
                                        placeholder="必填，请填写处理人电话" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row" v-if="complaintDetailInfo.showCurrentUser">
                                <label class="col-sm-2 col-form-label">处理人编号</label>
                                <div class="col-sm-10">
                                    <input v-model="complaintDetailInfo.currentUserId" type="text" readonly
                                        placeholder="必填，请填写处理人编号" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">投诉内容</label>
                                <div class="col-sm-10">
                                    <textarea placeholder="必填，请填写投诉内容" readonly class="form-control"
                                        v-model="complaintDetailInfo.context"></textarea></div>
                            </div>
                            <div class="form-group row" v-if="complaintDetailInfo.photos.length > 0">
                                <label class="col-sm-2 col-form-label">投诉图片</label>
                                <div class="col-sm-10">
                                    <span v-for="_photo in complaintDetailInfo.photos">
                                        <img style="width: 60px; height: 60px;" v-bind:src="_photo.url"
                                            v-on:click="openFile(_photo)"></img>
                                    </span>
                                </div>
                            </div>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">序号</th>
                                        <th scope="col">处理时间</th>
                                        <th scope="col">处理人</th>
                                        <th scope="col">耗时</th>
                                        <th scope="col">意见</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,index) in complaintDetailInfo.comments">
                                        <th scope="row">{{index+1}}</th>
                                        <td>{{item.auditTime}}</td>
                                        <td>{{item.auditName}}</td>
                                        <td>{{item.duration}}</td>
                                        <td>{{item.message}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="ibox-content">
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal">关闭
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <vc:create path="common/viewImage"></vc:create>
</div>