<div class="margin-top">
    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
        <thead>
            <tr>
                <th class="text-center">
                    <vc:i18n name='类型名称' namespace='workDetailType'></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name='超时时间' namespace='workDetailType'></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name='创建时间' namespace='workDetailType'></vc:i18n>
                </th>
                <th class="text-center">
                    <vc:i18n name='备注' namespace='workDetailType'></vc:i18n>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="type in workDetailTypeInfo.types">
                <!-- <td class="text-center">{{workDetailType.wtId}}</td> -->
                <td class="text-center">{{type.typeName}}</td>
                <td class="text-center">{{type.timeout}}</td>
                <td class="text-center">{{type.createTime}}</td>
                <td class="text-center">{{type.remark || '-'}}</td>
            </tr>
        </tbody>
    </table>
    <!-- 分页 -->
    <div class="text-right">
            <vc:create namespace="workDetailEvent" path="frame/paginationPlus"></vc:create>
    </div>
</div>