<div id="finishRepairModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><span><vc:i18n name="报修结单" namespace="finishRepair_back"></vc:i18n></span></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row" v-if="finishRepairInfo.repairObjType != '004'">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="是否用料" namespace="finishRepair_back"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="finishRepairInfo.maintenanceType">
                                        <option selected value="">{{vc.i18n('请选择是否用料','finishRepair_back')}}</option>
                                        <option v-for="(item,index) in finishRepairInfo.maintenanceTypes" :key="index"
                                                :value="item.statusCd"
                                                v-if="item.statusCd != '1001' && item.statusCd != '1002'">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" v-if="finishRepairInfo.repairObjType == '004'">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="维修类型" namespace="finishRepair_back"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="finishRepairInfo.maintenanceType">
                                        <option selected value="">{{vc.i18n('请选择维修类型','finishRepair_back')}}</option>
                                        <option v-for="(item,index) in finishRepairInfo.maintenanceTypes" :key="index"
                                                :value="item.statusCd"
                                                v-if="item.statusCd != '1003' && item.statusCd != '1004'">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" v-if="finishRepairInfo.maintenanceType == '1001' || finishRepairInfo.maintenanceType == '1003'">
                                <button class="btn btn-primary float-right" type="button" v-on:click="_openChooseSingleResourceModel()">
                                    <i class="fa fa-plus"></i>&nbsp;选择商品
                                </button>
                            </div>
                            <div v-if="finishRepairInfo.choosedGoodsList.length > 0">

                            </div>
                            <div class="form-group row" v-if="finishRepairInfo.maintenanceType == '1001'">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="商品总金额" namespace="finishRepair_back"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input cols="15" class="form-control" disabled="disabled" v-model="finishRepairInfo.totalPrice">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="处理意见" namespace="finishRepair_back"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <textarea :placeholder="vc.i18n('必填，请填写处理意见','finishRepair_back')" cols="15" class="form-control"
                                              v-model="finishRepairInfo.context">
                                    </textarea>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="_finishRepairInfo()">
                                    <i class="fa fa-check"></i>&nbsp;提交
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-close"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><vc:create path="common/chooseSingleResource" emitChooseSingleResource="finishRepairInfo"
            emitLoadData="finishRepairInfo"></vc:create>
    </div>
</div>
