<div id="unlicensedCarMachineQrCodeModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="无牌车辆进场" namespace="unlicensedCarMachineQrCode"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group text-center " style="margin-top: 50px;">
                                <div id="uncode" style="width:200px; height:200px;margin:0 auto "></div>
                                <div class="margin-top"><vc:i18n name="无牌车进场二维码" namespace="unlicensedCarMachineQrCode"></vc:i18n></div>
                            </div>
                            <div class="ibox-content">
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal"><vc:i18n name="取消" namespace="unlicensedCarMachineQrCode"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
