<div id="chooseAccountBondObjModel" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="chooseAccountBondObjModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseAccountBondObjModelLabel"><span><vc:i18n name="选择保证金对象" namespace="chooseAccountBondObj"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')vc.i18n(' ','chooseAccountBondObj')<divvc.i18n(' ','chooseAccountBondObj')class="vc.i18n(' ','chooseAccountBondObj')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入保证金对象名称','chooseAccountBondObj')" type="text"
                                            v-model="chooseAccountBondObjInfo._currentAccountBondObjName"
                                            class="form-control form-control-sm">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                v-on:click="queryAccountBondObjs()"><span><vc:i18n name="查询" namespace="chooseAccountBondObj"></vc:i18n></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><span><vc:i18n name="保证金对象" namespace="chooseAccountBondObj"></vc:i18n></span>ID</th>
                                            <th class="text-center"><span><vc:i18n name="保证金" namespace="chooseAccountBondObj"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="保证金对象" namespace="chooseAccountBondObj"></vc:i18n></span>ID</th>
                                            <th class="text-center"><span><vc:i18n name="应收金额" namespace="chooseAccountBondObj"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="实收金额" namespace="chooseAccountBondObj"></vc:i18n></span></th>
                                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseAccountBondObj"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="accountBondObj in chooseAccountBondObjInfo.accountBondObjs">
                                            <td class="text-center">{{accountBondObj.bobjId}}</td>
                                            <td class="text-center">{{accountBondObj.bondId}}</td>
                                            <td class="text-center">{{accountBondObj.objId}}</td>
                                            <td class="text-center">{{accountBondObj.receivableAmount}}</td>
                                            <td class="text-center">{{accountBondObj.receivedAmount}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs"
                                                    v-on:click="chooseAccountBondObj(accountBondObj)"><span><vc:i18n name="选择" namespace="chooseAccountBondObj"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
