<div id="notepadDetailModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span><vc:i18n name="跟进进度" namespace="notepadDetail"></vc:i18n></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">
                                    <span><vc:i18n name="序号" namespace="notepadDetail"></vc:i18n></span>
                                </th>
                                <th scope="col" class="text-center">
                                    <span><vc:i18n name="处理人" namespace="notepadDetail"></vc:i18n></span>
                                </th>
                                <th scope="col" class="text-center">
                                    <span><vc:i18n name="处理时间" namespace="notepadDetail"></vc:i18n></span>
                                </th>
                                <th scope="col" class="text-center">
                                    <span><vc:i18n name="处理内容" namespace="notepadDetail"></vc:i18n></span>
                                </th>
                                <th scope="col" class="text-center">
                                    <span><vc:i18n name="操作" namespace="notepadDetail"></vc:i18n></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item,index) in notepadDetailInfo.details">
                                <th scope="row" class="text-center">{{index+1}}</th>
                                <td class="text-center">{{item.createUserName }}</td>
                                <td class="text-center">{{item.createTime}}</td>
                                <td class="text-center">{{item.content}}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs" v-on:click="_doDeleteNotepadDetail(item)">
                                            <span><vc:i18n name='删除'></vc:i18n></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>