<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>商品信息信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewProductInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectProductInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择商品信息</button>

                    <button type="button" v-if="viewProductInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddProductInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加商品信息</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >商品大类：</label>
                            <label class="">{{viewProductInfo.categoryId}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >商品名称：</label>
                            <label class="">{{viewProductInfo.prodName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >商品简介：</label>
                            <label class="">{{viewProductInfo.prodDesc}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >关键词：</label>
                            <label class="">{{viewProductInfo.keyword}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >产品条码：</label>
                            <label class="">{{viewProductInfo.barCode}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >单位：</label>
                            <label class="">{{viewProductInfo.unitName}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >排序：</label>
                            <label class="">{{viewProductInfo.sort}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >是否包邮：</label>
                            <label class="">{{viewProductInfo.isPostage}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >邮费：</label>
                            <label class="">{{viewProductInfo.postage}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="goods/addProduct"
               callBackListener="viewProductInfo"
               callBackFunction="chooseProduct"
    ></vc:create>


    <vc:create path="goods/chooseProduct"
               emitChooseProduct="viewProductInfo"
               emitLoadData="viewProductInfo"
    ></vc:create>
</div>
