<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="经营范围信息" namespace="viewShopRangeInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewShopRangeInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectShopRangeInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <vc:i18n name="选择经营范围" namespace="viewShopRangeInfo"></vc:i18n></button>

                    <button type="button" v-if="viewShopRangeInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddShopRangeInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <vc:i18n name="添加经营范围" namespace="viewShopRangeInfo"></vc:i18n></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="店铺经营范围" namespace="viewShopRangeInfo"></vc:i18n>id：</label>
                            <label class="">{{viewShopRangeInfo.shopRangeId}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="店铺类型" namespace="viewShopRangeInfo"></vc:i18n>id：</label>
                            <label class="">{{viewShopRangeInfo.shopTypeId}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="范围名称" namespace="viewShopRangeInfo"></vc:i18n>：</label>
                            <label class="">{{viewShopRangeInfo.rangeName}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="是否展示" namespace="viewShopRangeInfo"></vc:i18n>：</label>
                            <label class="">{{viewShopRangeInfo.isShow}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="是否默认" namespace="viewShopRangeInfo"></vc:i18n>：</label>
                            <label class="">{{viewShopRangeInfo.isDefault}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="显示序号" namespace="viewShopRangeInfo"></vc:i18n>：</label>
                            <label class="">{{viewShopRangeInfo.seq}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="备注" namespace="viewShopRangeInfo"></vc:i18n>：</label>
                            <label class="">{{viewShopRangeInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="admin/addShopRange"
               callBackListener="viewShopRangeInfo"
               callBackFunction="chooseShopRange"
    ></vc:create>


    <vc:create path="admin/chooseShopRange"
               emitChooseShopRange="viewShopRangeInfo"
               emitLoadData="viewShopRangeInfo"
    ></vc:create>
</div>
