<div id = "chooseShopRangeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseShopRangeModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseShopRangeModelLabel"><span><vc:i18n name="选择经营范围" namespace="chooseShopRange"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')vc.i18n(' ','chooseShopRange')<divvc.i18n(' ','chooseShopRange')class="vc.i18n(' ','chooseShopRange')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入经营范围名称','chooseShopRange')" type="text" v-model="chooseShopRangeInfo._currentShopRangeName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryShopRanges()"><span><vc:i18n name="查询" namespace="chooseShopRange"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name="店铺经营范围" namespace="chooseShopRange"></vc:i18n></span>id</th>
                            <th class="text-center"><span><vc:i18n name="店铺经营范围" namespace="chooseShopRange"></vc:i18n></span>id</th>
                            <th class="text-center"><span><vc:i18n name="店铺类型" namespace="chooseShopRange"></vc:i18n></span>id</th>
                            <th class="text-center"><span><vc:i18n name="范围名称" namespace="chooseShopRange"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="是否展示" namespace="chooseShopRange"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="是否默认" namespace="chooseShopRange"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="显示序号" namespace="chooseShopRange"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="备注" namespace="chooseShopRange"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseShopRange"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="shopRange in chooseShopRangeInfo.shopRanges">
                                                                        <td class="text-center">{{shopRange.shopRangeId}}</td>
                            <td class="text-center">{{shopRange.shopRangeId}}</td>
                            <td class="text-center">{{shopRange.shopTypeId}}</td>
                            <td class="text-center">{{shopRange.rangeName}}</td>
                            <td class="text-center">{{shopRange.isShow}}</td>
                            <td class="text-center">{{shopRange.isDefault}}</td>
                            <td class="text-center">{{shopRange.seq}}</td>
                            <td class="text-center">{{shopRange.remark}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseShopRange(shopRange)"><span><vc:i18n name="选择" namespace="chooseShopRange"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
