<div id = "chooseReportCustomComponentFooterModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseReportCustomComponentFooterModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseReportCustomComponentFooterModelLabel"><vc:i18n name="选择组件统计" namespace="chooseReportCustomComponentFooter"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')vc.i18n(' ','chooseReportCustomComponentFooter')<divvc.i18n(' ','chooseReportCustomComponentFooter')class="vc.i18n(' ','chooseReportCustomComponentFooter')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入组件统计名称','chooseReportCustomComponentFooter')" type="text" v-model="chooseReportCustomComponentFooterInfo._currentReportCustomComponentFooterName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryReportCustomComponentFooters()"><vc:i18n name="查询" namespace="chooseReportCustomComponentFooter"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="统计" namespace="chooseReportCustomComponentFooter"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="组件" namespace="chooseReportCustomComponentFooter"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="名称" namespace="chooseReportCustomComponentFooter"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="查询方式" namespace="chooseReportCustomComponentFooter"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="执行" namespace="chooseReportCustomComponentFooter"></vc:i18n>java脚本代码</th>
                            <th class="text-center"><vc:i18n name="执行" namespace="chooseReportCustomComponentFooter"></vc:i18n>sql</th>
                            <th class="text-center"><vc:i18n name="描述" namespace="chooseReportCustomComponentFooter"></vc:i18n>'</th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseReportCustomComponentFooter"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="reportCustomComponentFooter in chooseReportCustomComponentFooterInfo.reportCustomComponentFooters">
                                                                        <td class="text-center">{{reportCustomComponentFooter.footerId}}</td>
                            <td class="text-center">{{reportCustomComponentFooter.componentId}}</td>
                            <td class="text-center">{{reportCustomComponentFooter.name}}</td>
                            <td class="text-center">{{reportCustomComponentFooter.queryModel}}</td>
                            <td class="text-center">{{reportCustomComponentFooter.javaScript}}</td>
                            <td class="text-center">{{reportCustomComponentFooter.componentSql}}</td>
                            <td class="text-center">{{reportCustomComponentFooter.remark}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseReportCustomComponentFooter(reportCustomComponentFooter)"><vc:i18n name="选择" namespace="chooseReportCustomComponentFooter"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
