<div>
    <div>
        <table class="footable table table-stripped toggle-arrow-tiny" style="margin-top:10px" data-page-size="10">
            <thead>
                <tr>
                    <th class="text-center">同步ID</th>
                    <th class="text-center">设备编码</th>
                    <th class="text-center">对象类型</th>
                    <th class="text-center">对象名称</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">同步时间</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="machineTranslate in simplifyOwnerAccessContolInfo.machineTranslates">
                    <td class="text-center">{{machineTranslate.machineTranslateId}}</td>
                    <td class="text-center">{{machineTranslate.machineCode}}</td>
                    <td class="text-center">{{machineTranslate.typeCdName}}</td>
                    <td class="text-center">{{machineTranslate.objName}}</td>
                    <td class="text-center">{{machineTranslate.stateName}}</td>
                    <td class="text-center">{{machineTranslate.updateTime}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs"
                                v-on:click="_openEditMachineTranslateModel(machineTranslate)">重新同步
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-sm-7 float-right">
            <vc:create path="frame/pagination"></vc:create>
        </div>
    </div>
    <!-- <vc:create path="property/editMachineTranslate"></vc:create> -->
</div>