<div id="editPropertyCompanyModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="修改" namespace="editPropertyCompany"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="名称" namespace="editPropertyCompany"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editPropertyCompanyInfo.name" type="text"
                                           :placeholder="vc.i18n('必填，请填写名称','editPropertyCompany')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="地址" namespace="editPropertyCompany"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editPropertyCompanyInfo.address" type="text"
                                           :placeholder="vc.i18n('必填，请填写地址','editPropertyCompany')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="电话" namespace="editPropertyCompany"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editPropertyCompanyInfo.tel" type="text"
                                           :placeholder="vc.i18n('必填，请填写电话','editPropertyCompany')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="公司法人" namespace="editPropertyCompany"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editPropertyCompanyInfo.corporation" type="text"
                                           :placeholder="vc.i18n('必填，请填写公司法人','editPropertyCompany')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="成立日期" namespace="editPropertyCompany"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editPropertyCompanyInfo.foundingTime" type="text"
                                           :placeholder="vc.i18n('必填，请填写成立日期','editPropertyCompany')"
                                           class="form-control editFoundingTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="地标" namespace="editPropertyCompany"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editPropertyCompanyInfo.nearByLandmarks" type="text"
                                           :placeholder="vc.i18n('必填，请填写地标','editPropertyCompany')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="editPropertyCompany()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <span><vc:i18n name="取消" namespace="editPropertyCompany"></vc:i18n></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>