<div class="">
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center">
                        <vc:i18n name="费用类型" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="收费项目" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="费用标识" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="催缴类型" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="付费类型" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="缴费周期(单位:月)" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="有效期" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="单位" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="计费单价(单位:元)" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="附加/固定费用(单位:元)" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="账户抵扣" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="手机缴费" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="保留小数位" namespace="feeDetailConfig"></vc:i18n>
                    </th>
                    
                    
                </tr>
            </thead>
            <tbody>
                <tr v-for="feeConfig in feeDetailConfigInfo.feeConfigs">
                    <td class="text-center">{{feeConfig.feeTypeCdName}}</td>
                    <td class="text-center">{{feeConfig.feeName}}</td>
                    <td class="text-center">{{feeConfig.feeFlagName}}</td>
                    <td class="text-center">{{feeConfig.billTypeName}}</td>
                    <td class="text-center">{{feeConfig.paymentCd == '1200' ? '预付费':'后付费'}}</td>
                    <td class="text-center">{{feeConfig.paymentCycle}}</td>
                    <td class="text-center">{{feeConfig.startTime}}<br /> {{feeConfig.endTime}}
                    </td>
                    <td class="text-center">{{feeConfig.units}}
                    </td>
                    <td class="text-center">{{feeConfig.computingFormula == '2002' ?
                        '-':feeConfig.squarePrice}}
                    </td>
                    <td class="text-center">{{feeConfig.additionalAmount}}</td>
                    <td class="text-center">{{feeConfig.deductFrom == 'Y' ? '是':'否'}}</td>
                    <td class="text-center">{{feeConfig.payOnline == 'Y' ? '是':'否'}}</td>
                    <td class="text-center">{{feeConfig.scale}}</td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">
                <vc:create namespace="feeDetailConfig" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>