<div id="editServiceRegisterModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="修改服务绑定" namespace="editServiceRegister"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="应用ID" namespace="editServiceRegister"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceRegisterInfo.appId" readonly type="text" :placeholder="vc.i18n('必填，请填写应用ID','editServiceRegister')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="服务ID" namespace="editServiceRegister"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceRegisterInfo.serviceId" readonly type="text" :placeholder="vc.i18n('必填，请填写服务ID','editServiceRegister')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="订单类型" namespace="editServiceRegister"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editServiceRegisterInfo.orderTypeCd">
                                        <option selected disabled value="">{{vc.i18n('必填','editServiceRegister')}}，请选择订单类型</option>
                                        <option value="Q">{{vc.i18n('查询','editServiceRegister')}}</option>
                                        <option value="D">{{vc.i18n('业务受理','editServiceRegister')}}</option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="调用次数" namespace="editServiceRegister"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceRegisterInfo.invokeLimitTimes" type="text" :placeholder="vc.i18n('必填，请填写调用次数','editServiceRegister')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="调用方式" namespace="editServiceRegister"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editServiceRegisterInfo.invokeModel">
                                        <option selected disabled value="">{{vc.i18n('必填','editServiceRegister')}}，请选择调用方式</option>
                                        <option value="S">{{vc.i18n('同步方式','editServiceRegister')}}</option>
                                        <option value="A">{{vc.i18n('异步方式','editServiceRegister')}}</option>
                                    </select></div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editServiceRegister()"><i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><span><vc:i18n name="取消" namespace="editServiceRegister"></vc:i18n></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
