<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{{viewOrgInfo.componentName}}</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewOrgInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;" v-on:click="_openSelectOrgInfoModel()">
                        <i class="fa fa-search"></i> {{viewOrgInfo.buttonName}}
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><span><vc:i18n name="组织名称" namespace="viewOrgInfo"></vc:i18n></span></span>：</label>
                            <label class="">{{viewOrgInfo.orgName}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><span><vc:i18n name="组织级别" namespace="viewOrgInfo"></vc:i18n></span></span>：</label>
                            <label class="">{{viewOrgInfo.orgLevelName}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><span><vc:i18n name="上级组织" namespace="viewOrgInfo"></vc:i18n></span></span>：</label>
                            <label class="">{{viewOrgInfo.parentOrgName}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><span><vc:i18n name="组织" namespace="viewOrgInfo"></vc:i18n></span></span>ID：</label>
                            <label class="">{{viewOrgInfo.orgId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><span><vc:i18n name="描述" namespace="viewOrgInfo"></vc:i18n></span></span>：</label>
                            <label class="">{{viewOrgInfo.description}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create path="frame/chooseOrg" emitChooseOrg="viewOrgInfo" emitLoadData="viewOrgInfo"></vc:create>
</div>
