<div id = "chooseDataPrivilegeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseDataPrivilegeModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseDataPrivilegeModelLabel"> <span><vc:i18n name="选择数据权限" namespace="chooseDataPrivilege"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入数据权限名称','chooseDataPrivilege')" type="text" v-model="chooseDataPrivilegeInfo._currentDataPrivilegeName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryDataPrivileges()">
                                                    <span><vc:i18n name="查询"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name='编号' namespace='choosedataPrivilege'></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name='名称' namespace='choosedataPrivilege'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='编号' namespace='choosedataPrivilege'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='communityId' namespace='choosedataPrivilege'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='备注' namespace='choosedataPrivilege'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='操作'></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="dataPrivilege in chooseDataPrivilegeInfo.dataPrivileges">
                                                                        <td class="text-center">{{dataPrivilege.dpId}}</td>
                            <td class="text-center">{{dataPrivilege.name}}</td>
                            <td class="text-center">{{dataPrivilege.code}}</td>
                            <td class="text-center">{{dataPrivilege.communityId}}</td>
                            <td class="text-center">{{dataPrivilege.remark}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseDataPrivilege(dataPrivilege)">
                                                    <span><vc:i18n name="选择"></vc:i18n></span>
                                                    </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
