<div id="editReportCustomComponentModel" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b ">修改</h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">组件名称</label>
                <div class="col-sm-10">
                  <input v-model="editReportCustomComponentInfo.name" type="text" placeholder="必填，请填写组件名称"
                    class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">组件类型</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editReportCustomComponentInfo.componentType">
                    <option selected disabled value="">必填，请选择组件类型</option>
                    <option value="1001">表格</option>
                    <option value="2002">饼状图</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">查询方式</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editReportCustomComponentInfo.queryModel">
                    <option selected disabled value="">必填，请选择查询方式</option>
                    <option value="1">sql</option>
                    <option value="2">java</option>
                  </select>
                </div>
              </div>
              <div class="form-group row" v-if="editReportCustomComponentInfo.queryModel == 1">
                <label class="col-sm-2 col-form-label">sql</label>
                <div class="col-sm-10">
                  <textarea v-model="editReportCustomComponentInfo.componentSql" rows="15" placeholder="选填，请填写执行sql"
                    class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group row" v-if="editReportCustomComponentInfo.queryModel == 2">
                <label class="col-sm-2 col-form-label">java</label>
                <div class="col-sm-10">
                  <textarea v-model="editReportCustomComponentInfo.javaScript" rows="15" placeholder="选填，请填写执行java脚本代码"
                    class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">描述</label>
                <div class="col-sm-10">
                  <textarea v-model="editReportCustomComponentInfo.remark" type="text" placeholder="选填，请填写描述"
                    class="form-control"></textarea>
                </div>
              </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="editReportCustomComponent()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>