<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="店铺类型信息" namespace="viewShopTypeInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewShopTypeInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectShopTypeInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <vc:i18n name="选择店铺类型" namespace="viewShopTypeInfo"></vc:i18n></button>

                    <button type="button" v-if="viewShopTypeInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddShopTypeInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <vc:i18n name="添加店铺类型" namespace="viewShopTypeInfo"></vc:i18n></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="店铺类型" namespace="viewShopTypeInfo"></vc:i18n>id：</label>
                            <label class="">{{viewShopTypeInfo.shopTypeId}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="店铺类型" namespace="viewShopTypeInfo"></vc:i18n>：</label>
                            <label class="">{{viewShopTypeInfo.typeName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="是否展示" namespace="viewShopTypeInfo"></vc:i18n>：</label>
                            <label class="">{{viewShopTypeInfo.isShow}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="是否默认" namespace="viewShopTypeInfo"></vc:i18n>：</label>
                            <label class="">{{viewShopTypeInfo.isDefault}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="显示序号" namespace="viewShopTypeInfo"></vc:i18n>：</label>
                            <label class="">{{viewShopTypeInfo.seq}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="备注" namespace="viewShopTypeInfo"></vc:i18n>：</label>
                            <label class="">{{viewShopTypeInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="admin/addShopType"
               callBackListener="viewShopTypeInfo"
               callBackFunction="chooseShopType"
    ></vc:create>


    <vc:create path="admin/chooseShopType"
               emitChooseShopType="viewShopTypeInfo"
               emitLoadData="viewShopTypeInfo"
    ></vc:create>
</div>
