<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="属性值信息" namespace="viewAttrValueInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewAttrValueInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectAttrValueInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <vc:i18n name="选择属性值" namespace="viewAttrValueInfo"></vc:i18n></button>

                    <button type="button" v-if="viewAttrValueInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddAttrValueInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <vc:i18n name="添加属性值" namespace="viewAttrValueInfo"></vc:i18n></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="值" namespace="viewAttrValueInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrValueInfo.value}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="值名称" namespace="viewAttrValueInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrValueInfo.valueName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="显示" namespace="viewAttrValueInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrValueInfo.valueShow}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="dev/addAttrValue"
               callBackListener="viewAttrValueInfo"
               callBackFunction="chooseAttrValue"
    ></vc:create>


    <vc:create path="dev/chooseAttrValue"
               emitChooseAttrValue="viewAttrValueInfo"
               emitLoadData="viewAttrValueInfo"
    ></vc:create>
</div>
