<div class="row" >
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{{feeConfigUpHireInfo.feeName}}<span><vc:i18n name="信息" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="openConfigParkingSpaceFeeModel(feeConfigUpHireInfo)">
                        <i class="fa fa-plus"></i> <span><vc:i18n name="编辑" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="地上停车费配置" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>ID：</label>
                            <label class="">{{feeConfigUpHireInfo.configId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="每月费用" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>：</label>
                            <label class="">{{feeConfigUpHireInfo.additionalAmount}} 元</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{{feeConfigDownHireInfo.feeName}}<span><vc:i18n name="信息" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="openConfigParkingSpaceFeeModel(feeConfigDownHireInfo)">
                        <i class="fa fa-plus"></i> <span><vc:i18n name="编辑" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="地下停车费配置" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>ID：</label>
                            <label class="">{{feeConfigDownHireInfo.configId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="每月费用" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>：</label>
                            <label class="">{{feeConfigDownHireInfo.additionalAmount}} 元</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{{feeConfigUpSellInfo.feeName}}<span><vc:i18n name="信息" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="openConfigParkingSpaceFeeModel(feeConfigUpSellInfo)">
                        <i class="fa fa-plus"></i> <span><vc:i18n name="编辑" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="地上停车费配置" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>ID：</label>
                            <label class="">{{feeConfigUpSellInfo.configId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="每月费用" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>：</label>
                            <label class="">{{feeConfigUpSellInfo.additionalAmount}} 元</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{{feeConfigDownSellInfo.feeName}}<span><vc:i18n name="信息" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="openConfigParkingSpaceFeeModel(feeConfigDownSellInfo)">
                        <i class="fa fa-plus"></i> <span><vc:i18n name="编辑" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="地下停车费配置" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>ID：</label>
                            <label class="">{{feeConfigDownSellInfo.configId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="每月费用" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>：</label>
                            <label class="">{{feeConfigDownSellInfo.additionalAmount}} 元</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!------- 临时停车费 --------->
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{{feeConfigDownTempInfo.feeName}}<span><vc:i18n name="信息" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="openConfigParkingSpaceTempFeeModel(feeConfigDownTempInfo)">
                        <i class="fa fa-plus"></i> <span><vc:i18n name="编辑" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="地下临时配置" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>ID：</label>
                            <label class="">{{feeConfigDownTempInfo.configId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="每小时单价" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>：</label>
                            <label class="">{{feeConfigDownTempInfo.squarePrice}} 元</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><span><vc:i18n name="首两个小时" namespace="viewParkingSpaceFeeConfig"></vc:i18n></span>：</label>
                            <label class="">{{feeConfigDownTempInfo.additionalAmount}} 元</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <vc:create path="property/configParkingSpaceFee"></vc:create>
    <vc:create path="property/configParkingSpaceTempFee"></vc:create>
</div>
