<div id="ownerCarsModel" class="modal fade" role="dialog" aria-labelledby="ownerCarsModelLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="ownerCarsModelLabel">
                    <span><vc:i18n name="业主车辆" namespace="ownerCars"></vc:i18n></span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            <span><vc:i18n name="车牌号" namespace="ownerCars"></vc:i18n></span>
                                        </th>
                                        <!-- <th class="text-center">
                                            <span><vc:i18n name="房屋号" namespace="ownerCars"></vc:i18n></span>
                                        </th> -->
                                        <!-- <th data-hide="phone" class="text-center">
                                            <span><vc:i18n name="车辆品牌" namespace="ownerCars"></vc:i18n></span>
                                        </th> -->
                                        <th data-hide="phone" class="text-center">
                                            <span><vc:i18n name="车牌类型" namespace="ownerCars"></vc:i18n></span>
                                        </th>
                                        <th data-hide="phone" class="text-center">
                                            <span><vc:i18n name="车辆类型" namespace="ownerCars"></vc:i18n></span>
                                        </th>
                                        <th data-hide="phone" class="text-center">
                                            <span><vc:i18n name="颜色" namespace="ownerCars"></vc:i18n></span>
                                        </th>
                                        <th data-hide="phone" class="text-center">
                                            <span><vc:i18n name="业主" namespace="ownerCars"></vc:i18n></span>
                                        </th>
                                        <th data-hide="phone" class="text-center">
                                            <span><vc:i18n name="车位" namespace="ownerCars"></vc:i18n></span>
                                        </th>
                                        <th data-hide="phone" class="text-center">
                                            <span><vc:i18n name="有效期" namespace="ownerCars"></vc:i18n></span>
                                        </th>
                                        <!-- <th class="text-center">
                                            <span><vc:i18n name="操作" namespace="ownerCars"></vc:i18n></span>
                                        </th> -->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="car in ownerCarsInfo.cars">
                                        <td class="text-center">
                                            {{car.carNum}}
                                        </td>
                                        <!-- <td class="text-center">
                                            {{car.roomName}}
                                        </td> -->
                                        <!-- <td class="text-center">
                                            {{car.carBrand}}
                                        </td> -->
                                        <td class="text-center" v-if="car.leaseType == 'T'">
                                            临时车
                                        </td>
                                        <td class="text-center" v-else>
                                            {{car.leaseTypeName}}
                                        </td>
                                        <td class="text-center">
                                            {{car.carTypeName}}
                                        </td>
                                        <td class="text-center">
                                            {{car.carColor}}
                                        </td>
                                        <td class="text-center">
                                            {{car.ownerName}}({{car.link}})
                                        </td>
                                        <td v-if="car.areaNum && car.state == '1001'" class="text-center">
                                            {{car.areaNum}}
                                            <span><vc:i18n name="车场" namespace="listOwnerCar"></vc:i18n></span>{{car.num}}
                                            <span><vc:i18n name="车位" namespace="listOwnerCar"></vc:i18n></span>
                                        </td>
                                        <td v-else class="text-center">
                                            车位已释放
                                        </td>
                                        <td class="text-center" v-if="car.leaseType == 'H'">
                                            {{car.startTime}}</br>~{{car.endTime}}
                                        </td>
                                        <td class="text-center" v-else>
                                            -
                                        </td>
                                        <!-- <td class="text-center">
                                            <button class="btn btn-primary btn-xs" v-on:click="chooseRoom(room)">
                                                <span><vc:i18n name="选择" namespace="ownerCars"></vc:i18n></span>
                                            </button>
                                        </td> -->
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <ul class="pagination float-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <vc:create namespace="ownerCars" path="frame/paginationPlus"></vc:create>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
