<div class="modal fade" id="deleteWechatMenuModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span><vc:i18n name="请确认您的操作" namespace="deleteWechatMenu"></vc:i18n></span>!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <tr align="center"><th><span><vc:i18n name="确定删除公众号菜单" namespace="deleteWechatMenu"></vc:i18n></span></th></tr>
                <tr align="center"><th>{{deleteWechatMenuInfo.msg}}</th></tr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="closeDeleteWechatMenuModel()"><span><vc:i18n name="点错了" namespace="deleteWechatMenu"></vc:i18n></span></button>
                <button type="button" class="btn btn-primary" v-on:click="deleteWechatMenu()"><span><vc:i18n name="确认删除" namespace="deleteWechatMenu"></vc:i18n></span></button>
            </div>
        </div>
    </div>
</div>
