<div id="viewDataModel" class="modal fade"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span>{{viewDataInfo.title}}</span>
                </h3>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4" v-for="(val,key,i) in viewDataInfo.data" :key="i">
                            <div class="form-group" v-if="key != 'undefined'">
                                <label class="col-form-label">{{key}}：</label>
                                <label class="">{{val}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <button type="button" class="btn btn-white float-right" data-dismiss="modal"><span><vc:i18n name="关闭" ></vc:i18n></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>