<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>人工托收信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewFeeManualCollectionInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectFeeManualCollectionInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择人工托收</button>

                    <button type="button" v-if="viewFeeManualCollectionInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddFeeManualCollectionInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加人工托收</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >规格：</label>
                            <label class="">{{viewFeeManualCollectionInfo.roomName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >业主名称：</label>
                            <label class="">{{viewFeeManualCollectionInfo.ownerName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >业主电话：</label>
                            <label class="">{{viewFeeManualCollectionInfo.link}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >房屋面积：</label>
                            <label class="">{{viewFeeManualCollectionInfo.roomArea}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >房屋单价：</label>
                            <label class="">{{viewFeeManualCollectionInfo.squarePrice}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >备注：</label>
                            <label class="">{{viewFeeManualCollectionInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="property/addFeeManualCollection"
               callBackListener="viewFeeManualCollectionInfo"
               callBackFunction="chooseFeeManualCollection"
    ></vc:create>


    <vc:create path="property/chooseFeeManualCollection"
               emitChooseFeeManualCollection="viewFeeManualCollectionInfo"
               emitLoadData="viewFeeManualCollectionInfo"
    ></vc:create>
</div>
