<div id="editRoomRenovationModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房屋</label>
                                <div class="col-sm-10">
                                    <input v-model="editRoomRenovationInfo.roomName" disabled="disabled" type="text"
                                           placeholder="必填，请填写房屋" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">联系人</label>
                                <div class="col-sm-10">
                                    <input v-model="editRoomRenovationInfo.personName" type="text"
                                           placeholder="必填，请填写联系人" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">联系电话</label>
                                <div class="col-sm-10">
                                    <input v-model="editRoomRenovationInfo.personTel" type="text" maxlength="11"
                                           placeholder="必填，请填写联系电话" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">装修时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editRoomRenovationInfo.startTime" type="text"
                                           placeholder="必填，请填写装修时间" class="form-control editStartTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">结束时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editRoomRenovationInfo.endTime" type="text" placeholder="必填，请填写结束时间"
                                           class="form-control editEndTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">是否延期</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editRoomRenovationInfo.isPostpone">
                                        <option selected disabled value="">必填，请选择是否延期</option>
                                        <option value="Y">是</option>
                                        <option value="N">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" v-show="editRoomRenovationInfo.isPostpone == 'Y'">
                                <label class="col-sm-2 col-form-label">延期时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editRoomRenovationInfo.postponeTime" type="text"
                                           placeholder="选填，请填写延期时间" class="form-control addPostponeTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">装修单位</label>
                                <div class="col-sm-10">
                                    <input v-model="editRoomRenovationInfo.renovationCompany" type="text"
                                           placeholder="必填，请填写装修单位" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">装修负责人</label>
                                <div class="col-sm-10">
                                    <input v-model="editRoomRenovationInfo.personMain" type="text"
                                           placeholder="必填，请填写装修负责人" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">装修负责人电话</label>
                                <div class="col-sm-10">
                                    <input v-model="editRoomRenovationInfo.personMainTel" type="text"
                                           placeholder="必填，请填写装修负责人电话" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">状态</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editRoomRenovationInfo.state">
                                        <option selected disabled value="">必填，请选择状态</option>
                                        <option value="1000">待审核</option>
                                        <option value="2000">审核不通过</option>
                                        <option value="3000">装修中</option>
                                        <option value="4000">待验收</option>
                                        <option value="5000">验收成功</option>
                                        <option value="6000">验收失败</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">是否违规</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editRoomRenovationInfo.isViolation">
                                        <option selected disabled value="">必填，请选择是否违规</option>
                                        <option value="Y">是</option>
                                        <option value="N">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" v-if="editRoomRenovationInfo.isViolation == 'Y'">
                                <label class="col-sm-2 col-form-label">违规说明</label>
                                <div class="col-sm-10">
                                    <textarea v-model="editRoomRenovationInfo.violationDesc" placeholder="选填，请填写违规说明"
                                              class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">备注</label>
                                <div class="col-sm-10">
                                     <textarea v-model="editRoomRenovationInfo.remark" placeholder="选填，请填写备注"
                                               class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="editRoomRenovation()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-times"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>