<div id="addMachineModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="添加设备" namespace="addMachine"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="设备编码" namespace="addMachine"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addMachineInfo.machineCode" type="text" :placeholder="vc.i18n('必填，请填写设备编码','addMachine')"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="版本号" namespace="addMachine"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addMachineInfo.machineVersion" type="text" :placeholder="vc.i18n('必填，请填写版本号','addMachine')"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="设备名称" namespace="addMachine"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addMachineInfo.machineName" type="text" :placeholder="vc.i18n('必填，请填写设备名称','addMachine')"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="设备类型" namespace="addMachine"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addMachineInfo.typeId" @change="setAddMachineTypeCd(addMachineInfo.typeId)">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="addMachine"></vc:i18n>，请选择设备类型</option>
                                        <option v-for="(item,index) in addMachineInfo.machineTypes" :key="index" :value="item.typeId">
                                            {{item.machineTypeName}}</option>
                                        </select>
                                    </select></div>
                            </div>
                            <div class="form-group row" v-if="addMachineInfo.isShow == 'true'">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="设备方向" namespace="addMachine"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addMachineInfo.direction">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="addMachine"></vc:i18n>，请选择设备方向</option>
                                        <option value="3306"><vc:i18n name="进场" namespace="addMachine"></vc:i18n></option>
                                        <option value="3307"><vc:i18n name="出场" namespace="addMachine"></vc:i18n></option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="厂家" namespace="addMachine"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addMachineInfo.authCode" type="text" :placeholder="vc.i18n('必填，请填写厂家','addMachine')"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="设备位置" namespace="addMachine"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addMachineInfo.locationTypeCd"
                                        @change="onAddChangeLocation">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="addMachine"></vc:i18n>，请选择设备位置</option>
                                        <option v-for="item in addMachineInfo.locations" :label="item.locationName"
                                            :value="item.locationId">{{item.locationName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row"
                            v-show="addMachineInfo.locationType == '2000' 
                            || addMachineInfo.locationType == '3000' 
                            || addMachineInfo.locationType == '6000' ">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="归属楼栋" namespace="addMachine"></vc:i18n></label>
                            <div class="col-sm-10">
                                <vc:create path="property/floorSelect2" parentModal="addMachineModel"
                                    namespace="addMachine"></vc:create>
                            </div>
                        </div>
                        <div class="form-group row"
                            v-show="addMachineInfo.locationType == '2000' || addMachineInfo.locationType == '3000'  ">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="归属单元" namespace="addMachine"></vc:i18n></label>
                            <div class="col-sm-10">
                                <vc:create path="property/unitSelect2" parentModal="addMachineModel"
                                    callBackListener="addMachine" callBackFunction="notify" namespace="addMachine">
                                </vc:create>
                            </div>
                        </div>
                        <div class="form-group row" v-show="addMachineInfo.locationType == '3000'  ">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="归属房屋" namespace="addMachine"></vc:i18n></label>
                            <div class="col-sm-10">
                                <vc:create path="property/roomSelect2" parentModal="addMachineModel"
                                    callBackListener="addMachine" callBackFunction="notify" namespace="addMachine">
                                </vc:create>
                            </div>
                        </div>
                        <div class="form-group row" v-show="addMachineInfo.locationType == '4000'  ">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="归属岗亭" namespace="addMachine"></vc:i18n></label>
                            <div class="col-sm-10">
                                <vc:create path="property/parkingBoxSelect2" parentModal="addMachineModel"
                                    callBackListener="addMachine" callBackFunction="notify" namespace="addMachine">
                                </vc:create>
                            </div>
                        </div>
                        <div class="form-group row" v-show="addMachineInfo.locationType == '7000'  ">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="归属停车场" namespace="addMachine"></vc:i18n></label>
                            <div class="col-sm-10">
                                <vc:create path="property/parkingAreaSelect2" parentModal="addMachineModel"
                                    callBackListener="addMachine" callBackFunction="notify" namespace="addMachine">
                                </vc:create>
                            </div>
                        </div>

                        <div class="form-group row" v-show="addMachineInfo.locationType == '5000'  ">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="归属部门" namespace="addMachine"></vc:i18n></label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                      <vc:create path="frame/orgSelect2" parentModal="addMachineModel"
                                        callBackListener="addMachine" callBackFunction="notify"
                                        namespace="addMachine"></vc:create>
                                    </div>
                                    <div class="col-sm-6">
                                      <vc:create path="frame/departmentSelect2" parentModal="addMachineModel"
                                        callBackListener="addMachine" callBackFunction="notify"
                                        namespace="addMachine"></vc:create>
                                    </div>
                                  </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="设备" namespace="addMachine"></vc:i18n>IP</label>
                            <div class="col-sm-10">
                                <input v-model="addMachineInfo.machineIp" type="text" :placeholder="vc.i18n('选填，请填写设备','addMachine')IP,如 192.168.1.10:8090"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"><vc:i18n name="设备" namespace="addMachine"></vc:i18n>MAC</label>
                            <div class="col-sm-10">
                                <input v-model="addMachineInfo.machineMac" type="text" :placeholder="vc.i18n('选填，请填写设备','addMachine')MAC"
                                    class="form-control">
                            </div>
                        </div>

                        <div v-for="(item,index) in addMachineInfo.attrs">

                            <div class="form-group row" v-if="item.specType == '2233'">
                                <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                                <div class="col-sm-10">
                                    <input v-model="item.value" type="text" :placeholder="item.specHoldplace"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row" v-if="item.specType == '3344'">
                                <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="item.value">
                                        <option selected disabled value="">{{item.specHoldplace}}</option>
                                        <option v-for="value in item.values" :label="value.valueName"
                                            :value="value.value">
                                            {{item.valueName}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="ibox-content">
                            <button class="btn btn-primary float-right" type="button" v-on:click="saveMachineInfo()"><i
                                    class="fa fa-check"></i>&nbsp;保存
                            </button>
                            <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                data-dismiss="modal"><vc:i18n name="取消" namespace="addMachine"></vc:i18n>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
