<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>岗亭信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewParkingBoxInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectParkingBoxInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择岗亭</button>

                    <button type="button" v-if="viewParkingBoxInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddParkingBoxInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加岗亭</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >岗亭名称：</label>
                            <label class="">{{viewParkingBoxInfo.boxName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >临时车是否进场：</label>
                            <label class="">{{viewParkingBoxInfo.tempCarIn}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >是否收费：</label>
                            <label class="">{{viewParkingBoxInfo.fee}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >蓝牌车进场：</label>
                            <label class="">{{viewParkingBoxInfo.blueCarIn}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >黄牌车进场：</label>
                            <label class="">{{viewParkingBoxInfo.yelowCarIn}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >备注：</label>
                            <label class="">{{viewParkingBoxInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="property/addParkingBox"
               callBackListener="viewParkingBoxInfo"
               callBackFunction="chooseParkingBox"
    ></vc:create>


    <vc:create path="property/chooseParkingBox"
               emitChooseParkingBox="viewParkingBoxInfo"
               emitLoadData="viewParkingBoxInfo"
    ></vc:create>
</div>
