<div id="chooseContractModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseContractModelLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseContractModelLabel">
                    <span><vc:i18n name="选择合同信息" namespace="chooseContract"></vc:i18n></span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">
                                <div class="col-sm-7 m-b-xs"></div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入合同信息名称','chooseContract')" type="text"
                                               v-model="chooseContractInfo._currentContractName"
                                               class="form-control form-control-sm">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    v-on:click="queryContracts()">
                                                <span><vc:i18n name="查询" namespace="chooseContract"></vc:i18n></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            <span><vc:i18n name="合同名称" namespace="chooseContract"></vc:i18n></span>
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="合同编号" namespace="chooseContract"></vc:i18n></span>
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="合同类型" namespace="chooseContract"></vc:i18n></span>
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="甲方" namespace="chooseContract"></vc:i18n></span>
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="乙方" namespace="chooseContract"></vc:i18n></span>
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="签订时间" namespace="chooseContract"></vc:i18n></span>
                                        </th>
                                        <th class="text-center">
                                            <span><vc:i18n name="操作" namespace="chooseContract"></vc:i18n></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="contract in chooseContractInfo.contracts">
                                        <td class="text-center">{{contract.contractName}}</td>
                                        <td class="text-center">{{contract.contractCode}}</td>
                                        <td class="text-center">{{contract.contractTypeName}}</td>
                                        <td class="text-center">{{contract.partyA}}</td>
                                        <td class="text-center">{{contract.partyB}}</td>
                                        <td class="text-center">{{contract.signingTime}}</td>
                                        <td class="text-center">
                                            <button class="btn btn-primary btn-xs"
                                                    v-on:click="chooseContract(contract)">
                                                <span><vc:i18n name="选择" namespace="chooseContract"></vc:i18n></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            <ul class="pagination float-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <vc:create namespace="chooseContract" path="frame/paginationPlus"></vc:create>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
