<div id="chooseAppModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseAppModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseAppModelLabel">
                    <vc:i18n name="选择应用" namespace="chooseApp"></vc:i18n>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入应用名称','chooseApp')" type="text" v-model="chooseAppInfo._currentAppName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryApps()"><vc:i18n name="查询" namespace="chooseApp"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <vc:i18n name="应用" namespace="chooseApp"></vc:i18n>Id</th>
                                            <th>
                                                <vc:i18n name="应用名称" namespace="chooseApp"></vc:i18n>
                                            </th>
                                            <th>
                                                <vc:i18n name="操作" namespace="chooseApp"></vc:i18n>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="app in chooseAppInfo.apps">
                                            <td>{{app.appId}}</td>
                                            <td>{{app.name}}</td>
                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseApp(app)"><vc:i18n name="选择" namespace="chooseApp"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 分页 -->
                                <vc:create namespace="chooseApp" path="frame/paginationPlus"></vc:create>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>