<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>
                    <span><vc:i18n name="单元信息" namespace="viewUnitInfo"></vc:i18n></span>
                </h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewUnitInfo.index != 2 && viewUnitInfo.floorId !='' && viewUnitInfo.floorId !='-1'" class="btn btn-primary btn-sm" style="margin-right:10px;" v-on:click="_openSelectUnitInfoModel()">
                        <i class="fa fa-search"></i> <span><vc:i18n name="选择单元" namespace="viewUnitInfo"></vc:i18n></span>
                    </button>

                    <button type="button" v-if="viewUnitInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddUnitInfoModel()">
                        <i class="fa fa-plus"></i> <span><vc:i18n name="添加单元" namespace="viewUnitInfo"></vc:i18n></span>
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="单元ID" namespace="viewUnitInfo"></vc:i18n></span></label>：
                            <label class="">{{viewUnitInfo.unitId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="单元编号" namespace="viewUnitInfo"></vc:i18n></span></label>：
                            <label class="">{{viewUnitInfo.unitNum}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="总层数" namespace="viewUnitInfo"></vc:i18n></span></label>：
                            <label class="">{{viewUnitInfo.layerCount}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="电梯" namespace="viewUnitInfo"></vc:i18n></span></label>：
                            <label class="">{{viewUnitInfo.lift == '1010'?'有':'无'}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="面积" namespace="viewUnitInfo"></vc:i18n></span></label>：
                            <label class="">{{viewUnitInfo.unitArea}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><span><vc:i18n name="备注" namespace="viewUnitInfo"></vc:i18n></span></label>：
                            <label class="">{{viewUnitInfo.remark}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <vc:create path="property/addUnit" callBackListener="viewUnitInfo" callBackFunction="chooseUnit">
    </vc:create>
    <vc:create path="property/chooseUnit" emitChooseUnit="viewUnitInfo" emitLoadData="viewUnitInfo">
    </vc:create>
</div>
