<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="采购申请信息" namespace="viewPurchaseApplyInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewPurchaseApplyInfo.index != 2" class="btn btn-primary btn-sm"
                            style="margin-right:10px;" v-on:click="_openSelectPurchaseApplyInfoModel()">
                        <i class="fa fa-search"></i> <vc:i18n name="选择采购申请" namespace="viewPurchaseApplyInfo"></vc:i18n>
                    </button>

                    <button type="button" v-if="viewPurchaseApplyInfo.index != 2" class="btn btn-primary btn-sm"
                            v-on:click="_openAddPurchaseApplyInfoModel()">
                        <i class="fa fa-plus"></i> <vc:i18n name="添加采购申请" namespace="viewPurchaseApplyInfo"></vc:i18n>
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="订单状态" namespace="viewPurchaseApplyInfo"></vc:i18n>：</label>
                            <label class="">{{viewPurchaseApplyInfo.state}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create path="property/addPurchaseApply"
               callBackListener="viewPurchaseApplyInfo"
               callBackFunction="choosePurchaseApply"
    ></vc:create>


    <vc:create path="property/choosePurchaseApply"
               emitChoosePurchaseApply="viewPurchaseApplyInfo"
               emitLoadData="viewPurchaseApplyInfo"
    ></vc:create>
</div>
