<div>
    <div class="row margin-top">
        <div class="col-lg-10 text-right">
        </div>
        <div class="col-lg-2 text-right" v-if="simplifyOwnerMemberInfo.ownerId">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px" v-on:click="openAddMemberModel()">
                <i class="fa fa-plus"></i>
                添加成员
            </button>
        </div>
    </div>
    <div>
        <table class="footable table table-stripped toggle-arrow-tiny" style="margin-top:10px" data-page-size="10">
            <thead>
                <tr>
                    <th class="text-center">
                        <vc:i18n name="成员" namespace="simplifyOwnerMember"></vc:i18n>ID</th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="名称" namespace="simplifyOwnerMember"></vc:i18n>
                    </th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="性别" namespace="simplifyOwnerMember"></vc:i18n>
                    </th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="年龄" namespace="simplifyOwnerMember"></vc:i18n>
                    </th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="类型" namespace="simplifyOwnerMember"></vc:i18n>
                    </th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="身份证" namespace="simplifyOwnerMember"></vc:i18n>
                    </th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="联系方式" namespace="simplifyOwnerMember"></vc:i18n>
                    </th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="创建员工" namespace="simplifyOwnerMember"></vc:i18n>
                    </th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="备注" namespace="simplifyOwnerMember"></vc:i18n>
                    </th>
                    <th v-for="(item,index) in simplifyOwnerMemberInfo.listColumns">{{item}}</th>
                    <th class="text-center">
                        <vc:i18n name="操作" namespace="simplifyOwnerMember"></vc:i18n>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="owner in simplifyOwnerMemberInfo.members">
                    <td class="text-center">
                        {{owner.memberId}}
                    </td>
                    <td class="text-center">
                        {{owner.name}}
                    </td>
                    <td class="text-center">
                        {{owner.sex == 0 ? '男' : '女'}}
                    </td>
                    <td class="text-center">
                        {{owner.age}}
                    </td>
                    <td class="text-center">
                        {{owner.ownerTypeName}}
                    </td>
                    <td class="text-center">
                        {{owner.idCard}}
                    </td>
                    <td class="text-center">
                        {{owner.link}}
                    </td>
                    <td class="text-center">
                        {{owner.userName}}
                    </td>
                    <td class="text-center">
                        {{owner.remark}}
                    </td>
                    <td v-for="item in owner.listValues">
                        {{item}}
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" v-on:click="_openEditOwnerModel(owner)"><vc:i18n name="修改" namespace="simplifyOwnerMember"></vc:i18n></button>
                        </div>
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" v-on:click="_openDeleteOwnerModel(owner)"><vc:i18n name="删除" namespace="simplifyOwnerMember"></vc:i18n></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <vc:create path="property/addOwner" notifyLoadDataComponentName="simplifyOwnerMember" componentTitle="成员"></vc:create>
    <vc:create path="property/editOwner" notifyLoadDataComponentName="simplifyOwnerMember" componentTitle="成员"></vc:create>
    <vc:create path="property/deleteOwner" notifyLoadDataComponentName="simplifyOwnerMember"></vc:create>
</div>
