<div>
    <div class="row margin-top">


        <div class="col-lg-10 text-right">
        </div>
        <div class="col-lg-2 text-right" v-if="simplifyOwnerMemberInfo.ownerId">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px"
                v-on:click="openAddMemberModel()">
                <i class="fa fa-plus"></i>
                添加成员
            </button>
        </div>
    </div>
    <div>
        <table class="footable table table-stripped toggle-arrow-tiny" style="margin-top:10px" data-page-size="10">
            <thead>
                <tr>
                    <th>成员ID</th>
                    <th data-hide="phone">名称</th>
                    <th data-hide="phone">性别</th>
                    <th data-hide="phone">年龄</th>
                    <th data-hide="phone">类型</th>
                    <th data-hide="phone">身份证</th>
                    <th data-hide="phone">联系方式</th>
                    <th data-hide="phone">创建员工</th>
                    <th data-hide="phone">备注</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="owner in simplifyOwnerMemberInfo.members">
                    <td>
                        {{owner.memberId}}
                    </td>

                    <td>
                        {{owner.name}}
                    </td>
                    <td>
                        {{owner.sex == 0 ? '男' : '女'}}
                    </td>
                    <td>
                        {{owner.age}}
                    </td>
                    <td>
                        {{owner.ownerTypeName}}
                    </td>
                    <td>
                        {{owner.idCard}}
                    </td>
                    <td>
                        {{owner.link}}
                    </td>
                    <td>
                        {{owner.userName}}
                    </td>
                    <td>
                        {{owner.remark}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" v-on:click="_openEditOwnerModel(owner)">修改</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" v-on:click="_openDeleteOwnerModel(owner)">删除</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <vc:create path="property/addOwner" notifyLoadDataComponentName="simplifyOwnerMember" componentTitle="成员"></vc:create>
    <vc:create path="property/editOwner" notifyLoadDataComponentName="simplifyOwnerMember" componentTitle="成员"></vc:create>
    <vc:create path="property/deleteOwner" notifyLoadDataComponentName="simplifyOwnerMember"></vc:create>
</div>