<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>合同信息信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewContractInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectContractInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择合同信息</button>

                    <button type="button" v-if="viewContractInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddContractInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加合同信息</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >合同名称：</label>
                            <label class="">{{viewContractInfo.contractName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >合同编号：</label>
                            <label class="">{{viewContractInfo.contractCode}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >合同类型：</label>
                            <label class="">{{viewContractInfo.contractType}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >甲方：</label>
                            <label class="">{{viewContractInfo.partyA}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >乙方：</label>
                            <label class="">{{viewContractInfo.partyB}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >甲方联系人：</label>
                            <label class="">{{viewContractInfo.aContacts}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >乙方联系人：</label>
                            <label class="">{{viewContractInfo.bContacts}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >甲方联系电话：</label>
                            <label class="">{{viewContractInfo.aLink}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >乙方联系电话：</label>
                            <label class="">{{viewContractInfo.bLink}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >经办人：</label>
                            <label class="">{{viewContractInfo.operator}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >联系电话：</label>
                            <label class="">{{viewContractInfo.operatorLink}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >合同金额：</label>
                            <label class="">{{viewContractInfo.amount}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >开始时间：</label>
                            <label class="">{{viewContractInfo.startTime}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >结束时间：</label>
                            <label class="">{{viewContractInfo.endTime}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >签订时间：</label>
                            <label class="">{{viewContractInfo.signingTime}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="admin/addContract"
               callBackListener="viewContractInfo"
               callBackFunction="chooseContract"
    ></vc:create>


    <vc:create path="admin/chooseContract"
               emitChooseContract="viewContractInfo"
               emitLoadData="viewContractInfo"
    ></vc:create>
</div>
