<div id="editResourceSupplierModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><span><vc:i18n name="修改供应商" namespace="editResourceSupplier"></vc:i18n></span></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="供应商名称" namespace="editResourceSupplier"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceSupplierInfo.supplierName" type="text"
                                           :placeholder="vc.i18n('必填，请填写供应商名称','editResourceSupplier')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="供应商地址" namespace="editResourceSupplier"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceSupplierInfo.address" type="text"
                                           :placeholder="vc.i18n('必填，请填写供应商地址','editResourceSupplier')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="供应商联系方式" namespace="editResourceSupplier"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceSupplierInfo.tel" type="text"
                                           :placeholder="vc.i18n('必填，请填写供应商联系方式','editResourceSupplier')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="联系人姓名" namespace="editResourceSupplier"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceSupplierInfo.contactName" type="text"
                                           :placeholder="vc.i18n('必填，请填写联系人姓名','editResourceSupplier')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="开户行" namespace="editResourceSupplier"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceSupplierInfo.accountBank" type="text"
                                           :placeholder="vc.i18n('选填，请填写开户行','editResourceSupplier')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="开户行账号" namespace="editResourceSupplier"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceSupplierInfo.bankAccountNumber" type="text"
                                           :placeholder="vc.i18n('选填，请填写开户行账号','editResourceSupplier')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="备注" namespace="editResourceSupplier"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editResourceSupplierInfo.remark" type="text" :placeholder="vc.i18n('选填，请填写备注','editResourceSupplier')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="editResourceSupplier()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-times"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
