<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>房屋产权信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewPropertyRightRegistrationInfo.index != 2"
                            class="btn btn-primary btn-sm" style="margin-right:10px;"
                            v-on:click="_openSelectPropertyRightRegistrationInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择房屋产权
                    </button>

                    <button type="button" v-if="viewPropertyRightRegistrationInfo.index != 2"
                            class="btn btn-primary btn-sm" v-on:click="_openAddPropertyRightRegistrationInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加房屋产权
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">房屋id：</label>
                            <label class="">{{viewPropertyRightRegistrationInfo.roomId}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">姓名：</label>
                            <label class="">{{viewPropertyRightRegistrationInfo.name}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">联系方式：</label>
                            <label class="">{{viewPropertyRightRegistrationInfo.link}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">身份证号：</label>
                            <label class="">{{viewPropertyRightRegistrationInfo.idCard}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label">地址：</label>
                            <label class="">{{viewPropertyRightRegistrationInfo.address}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create path="property/addPropertyRightRegistration"
               callBackListener="viewPropertyRightRegistrationInfo"
               callBackFunction="choosePropertyRightRegistration"
    ></vc:create>


    <vc:create path="property/choosePropertyRightRegistration"
               emitChoosePropertyRightRegistration="viewPropertyRightRegistrationInfo"
               emitLoadData="viewPropertyRightRegistrationInfo"
    ></vc:create>
</div>
