<div id="editFeeFormulaModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="修改公式" namespace="editFeeFormula"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="公式" namespace="editFeeFormula"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editFeeFormulaInfo.formulaValue" type="text" :placeholder="vc.i18n('必填，请填写公式','editFeeFormula')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="单价" namespace="editFeeFormula"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input :placeholder="vc.i18n('必填，请填写单价','editFeeFormula')" type="text" class="form-control" v-model="editFeeFormulaInfo.price">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="描述" namespace="editFeeFormula"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="editFeeFormulaInfo.formulaDesc" type="text" :placeholder="vc.i18n('选填，请填写描述','editFeeFormula')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="说明" namespace="editFeeFormula"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <div>T 代表总量，如电费总使用量</div>
                                    <div>C 代表房屋对应小区面积</div>
                                    <div>F 代表房屋对应楼栋面积</div>
                                    <div>U 代表房屋对应单元面积</div>
                                    <div>R 代表房屋面积</div>
                                    <div>X 代表房屋收费系数（房屋管理中配置）</div>
                                    <div>L 代表房屋对应楼栋房屋数</div>
                                    <div>D 代表房屋对应单元房屋数</div>
                                    <div>
                                        <span><vc:i18n name="举例" namespace="editFeeFormula"></vc:i18n></span>：公共区域公摊电费 电量/楼栋面积*房屋面积
                                    </div>
                                    <div>
                                        <span><vc:i18n name="公式" namespace="editFeeFormula"></vc:i18n></span>：T/F * R
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editFeeFormula()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">
                                    <span><vc:i18n name="取消" namespace="editFeeFormula"></vc:i18n></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>