<!-- 弹出层 modal -->
<div>
    <div class="modal right fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{documentInfo.title}}</h4>
                </div>
                <div class="modal-body">
                    <div v-html="documentInfo.context"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end 弹出层 moda -->
</div>