<div class="bg-white margin-top-xs padding border-radius">
    <div class=" ">
        <button type="button" class="btn btn-white btn-sm" v-on:click="_openAddIntegralRuleModal()">
            添加
        </button>
        <button type="button" class="btn btn-white btn-sm" v-on:click="_openEditIntegralRuleModel()">
            修改
        </button>
        <button type="button" class="btn btn-white btn-sm" v-on:click="_openDeleteIntegralRuleModel()" >
            删除
        </button>
    </div>
    <div class="vc-org margin-top">
        <ul>
            <li v-for="(rule,index) in integralRuleDivInfo.integralRules" @click="_switchIntegralRule(rule)"
                :class="{'active':rule.ruleId == integralRuleDivInfo.curIntegralRule.ruleId}">{{rule.ruleName}}
            </li>
        </ul>
    </div>
    <vc:create path="scm/addIntegralRule" callBackListener="" callBackFunction=""></vc:create>
    <vc:create path="scm/editIntegralRule"></vc:create>
    <vc:create path="scm/deleteIntegralRule"></vc:create>
</div>