<div id="editPurchaseApplyModel" class="modal fade"  role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="修改采购申请" namespace="editPurchaseApply"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="订单状态" namespace="editPurchaseApply"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editPurchaseApplyInfo.state">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="editPurchaseApply"></vc:i18n>，请选择订单状态</option>
                                        <option value="1001"><vc:i18n name="面积" namespace="editPurchaseApply"></vc:i18n>*单价+附加费</option>
                                        <option value="2002"><vc:i18n name="固定费用" namespace="editPurchaseApply"></vc:i18n></option>
                                    </select> </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                    v-on:click="editPurchaseApply()"><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal"><vc:i18n name="取消" namespace="editPurchaseApply"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
