<div v-for=" roomInfo in showOwnerRoomInfo.rooms">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>{{roomInfo.roomNum}}房屋信息</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-primary btn-sm"
                                v-if="showOwnerRoomInfo.deleteOwnerRoomFlag == 'false'"
                                v-on:click="showPropertyFee(roomInfo)">
                            <i class="glyphicon glyphicon-remove"></i> 物业费
                        </button>
                        <button type="button" class="btn btn-primary btn-sm"
                                v-if="showOwnerRoomInfo.deleteOwnerRoomFlag == 'true'"
                                v-on:click="ownerExitRoomModel(roomInfo.roomId)">
                            <i class="glyphicon glyphicon-remove"></i> 我要退房
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">楼栋：</label>
                                <label class="">{{roomInfo.floorNum}}号楼</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">单元：</label>
                                <label class="">{{roomInfo.unitNum}}单元</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">房屋编号：</label>
                                <label class="">{{roomInfo.roomNum}}室</label>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">房屋ID：</label>
                                <label class="">{{roomInfo.roomId}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">楼层：</label>
                                <label class="">{{roomInfo.layer}}层</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">房间数：</label>
                                <label class="">{{roomInfo.section}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">户型：</label>
                                <label class="">{{roomInfo.apartment}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">建筑面积：</label>
                                <label class="">{{roomInfo.builtUpArea}}平方米</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">单价：</label>
                                <label class="">{{roomInfo.unitPrice}}元/平方米</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">创建员工：</label>
                                <label class="">{{roomInfo.userName}}</label>
                            </div>
                        </div>

                    </div>
                    <div v-for="(item,index) in roomInfo.roomAttrDto">

                        <div class="row" v-if="index % 3 == 0">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label">{{item.specName}}：</label>
                                    <label class="">{{item.valueName}}</label>
                                </div>
                            </div>
                            <div class="col-sm-4" v-if="index < roomInfo.roomAttrDto.length-1">
                                <div class="form-group">
                                    <label class="col-form-label">{{roomInfo.roomAttrDto[index+1].specName}}：</label>
                                    <label class="">{{roomInfo.roomAttrDto[index+1].valueName}}</label>
                                </div>
                            </div>
                            <div class="col-sm-4" v-if="index < roomInfo.roomAttrDto.length-2">
                                <div class="form-group">
                                    <label class="col-form-label">{{roomInfo.roomAttrDto[index+2].specName}}：</label>
                                    <label class="">{{roomInfo.roomAttrDto[index+2].valueName}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="showOwnerRoomInfo.deleteOwnerRoomFlag == 'true'">
            <vc:create path="property/ownerExitRoom"></vc:create>
        </div>
    </div>
</div>
