<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>活动规则信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewActivitiesRuleInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectActivitiesRuleInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择活动规则</button>

                    <button type="button" v-if="viewActivitiesRuleInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddActivitiesRuleInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加活动规则</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >活动类型：</label>
                            <label class="">{{viewActivitiesRuleInfo.ruleType}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >规则名称：</label>
                            <label class="">{{viewActivitiesRuleInfo.ruleName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >开始时间：</label>
                            <label class="">{{viewActivitiesRuleInfo.startTime}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >结束时间：</label>
                            <label class="">{{viewActivitiesRuleInfo.endTime}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >活动对象：</label>
                            <label class="">{{viewActivitiesRuleInfo.activitiesObj}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >规则说明：</label>
                            <label class="">{{viewActivitiesRuleInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="property/addActivitiesRule"
               callBackListener="viewActivitiesRuleInfo"
               callBackFunction="chooseActivitiesRule"
    ></vc:create>


    <vc:create path="property/chooseActivitiesRule"
               emitChooseActivitiesRule="viewActivitiesRuleInfo"
               emitLoadData="viewActivitiesRuleInfo"
    ></vc:create>
</div>
