<div id="addInspectionItemTitleModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="添加题目" namespace="addInspectionItemTitle"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="题目" namespace="addInspectionItemTitle"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addInspectionItemTitleInfo.itemTitle" type="text" :placeholder="vc.i18n('必填，请填写题目','addInspectionItemTitle')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="题目类型" namespace="addInspectionItemTitle"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addInspectionItemTitleInfo.titleType" @change="_changeAddTitleType()">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="addInspectionItemTitle"></vc:i18n>，请选择题目类型</option>
                                        <option value="1001"><vc:i18n name="单选" namespace="addInspectionItemTitle"></vc:i18n></option>
                                        <option value="2002"><vc:i18n name="多选" namespace="addInspectionItemTitle"></vc:i18n></option>
                                        <option value="3003"><vc:i18n name="简答题" namespace="addInspectionItemTitle"></vc:i18n></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" v-for="(item,index) in addInspectionItemTitleInfo.titleValues">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="选项" namespace="addInspectionItemTitle"></vc:i18n>{{item.seq}}</label>
                                <div class="col-sm-8">
                                    <input v-model="item.itemValue" type="text" :placeholder="vc.i18n('必填，请填写选项内容','addInspectionItemTitle')" class="form-control">
                                </div>
                                <div class="col-sm-2" v-if="index == addInspectionItemTitleInfo.titleValues.length-1">
                                    <button class="btn btn-link float-right" type="button" v-on:click="_addTitleValue()"><vc:i18n name="增加选项" namespace="addInspectionItemTitle"></vc:i18n></button>
                                </div>
                                <div class="col-sm-2" v-else>
                                    <button class="btn btn-link float-right" type="button" v-on:click="_deleteTitleValue(item.seq)"><vc:i18n name="删除选项" namespace="addInspectionItemTitle"></vc:i18n></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="顺序" namespace="addInspectionItemTitle"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addInspectionItemTitleInfo.seq" type="text" :placeholder="vc.i18n('必填，请填写顺序','addInspectionItemTitle')" class="form-control">
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="saveInspectionItemTitleInfo()"><i
                                        class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><vc:i18n name="取消" namespace="addInspectionItemTitle"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
