<div class="row ">
    <div class="col-lg-9">
        <div class="ibox-title margin-top border-radius-top">
            <h5>
                <vc:i18n name="关联组织" namespace="staffDetailOrgPrivilege"></vc:i18n>
            </h5>
        </div>
        <div class="ibox-content border-radius-bottom">
            <div class="row" v-for="(item,index) in staffDetailOrgPrivilegeInfo.orgs">
                <div class="col-md-6">组织：{{item.orgName}}</div>
                <div class="col-md-6">岗位：{{item.relCdName}}</div>
            </div>
        </div>
        <div class="ibox-title margin-top border-radius-top">
            <h5>
                <vc:i18n name="关联角色及小区" namespace="staffDetailOrgPrivilege"></vc:i18n>
            </h5>
        </div>
        <div class="ibox-content border-radius-bottom">
            <div class="row" v-for="(item,index) in staffDetailOrgPrivilegeInfo.roles">
                <div class="col-md-12">
                    <p v-if="item.roleCommunityDtoList.length>0">
                        {{item.roleName}} (
                        <span v-for="(item1,index1) in item.roleCommunityDtoList">
                            {{item1.communityName}}
                            {{index1 === item.roleCommunityDtoList.length-1 ? " ":" 、 "}}
                        </span> )
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 margin-top padding-l-0">
        <div class="mail-box-header border-radius-top">
            <h2>员工权限</h2>
        </div>
        <div class="mail-box border-radius-bottom">
            <div id="jstree_privilege"></div>
        </div>
    </div>
</div>