<div class="margin-top">
    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
        <thead>
            <tr>
                <th class="text-center">车牌号</th>
                <th class="text-center">房屋号</th>
                <th data-hide="phone" class="text-center">车辆品牌</th>
                <th data-hide="phone" class="text-center">车辆类型</th>
                <th data-hide="phone" class="text-center">颜色</th>
                <th data-hide="phone" class="text-center">业主</th>
                <th data-hide="phone" class="text-center">车位</th>
                <th data-hide="phone" class="text-center">起租时间</th>
                <th data-hide="phone" class="text-center">截止时间</th>
                <th data-hide="phone" class="text-center">状态</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="car in parkingAreaControlOwnerCar.cars">
                <td class="text-center">
                    {{car.carNum}}
                </td>
                <td class="text-center">
                    {{car.roomName}}
                </td>
                <td class="text-center">
                    {{car.carBrand}}
                </td>
                <td class="text-center">
                    {{car.carTypeName}}
                </td>
                <td class="text-center">
                    {{car.carColor}}
                </td>
                <td class="text-center">
                    {{car.ownerName}}({{car.link}})
                </td>
                <td v-if="car.areaNum && car.state == '1001'" class="text-center">
                    {{car.areaNum}}车场{{car.num}}车位
                </td>
                <td v-else class="text-center">
                    车位已释放
                </td>
                <td class="text-center">
                    {{car.startTime}}
                </td>
                <td class="text-center">
                    {{car.endTime}}
                </td>
                <td class="text-center">
                    {{_getCarState(car)}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <ul class="pagination float-right"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
    <!-- 分页 -->
    <vc:create path="frame/paginationPlus" namespace="parkingAreaControlOwnerCar"></vc:create>
</div>