<div class="bg-white margin-top-xs padding border-radius">
    <div class=" ">
        <button type="button" class="btn btn-primary btn-sm" v-on:click="openPrivilegeGroupModel()"
                v-if="vc.hasPrivilege('502022082992870004,502022101896600200')">
            <i class="fa fa-plus"></i>添加
        </button>
        <button type="button" class="btn btn-primary btn-sm" v-on:click="openEditPrivilegeGroupModel()"
                v-if="vc.hasPrivilege('502022082900130005,502022101845230203')">
            <i class="fa fa-edit"></i>修改
        </button>
        <button type="button" class="btn btn-primary btn-sm" v-on:click="openDeletePrivilegeGroupModel()"
                v-if="vc.hasPrivilege('502022082926310006,502022101872720201')">
            <i class="fa fa-close"></i>删除
        </button>
    </div>
    <div class="vc-org margin-top">
        <ul>
            <li v-for="(role,index) in roleDivInfo.roles" @click="_switchRole(role)"
                :class="{'active':role.pgId == roleDivInfo.curRole.pgId}">{{role.name}}
            </li>
        </ul>
    </div>
    <vc:create path="dev/addPrivilegeGroup"></vc:create>
    <vc:create path="dev/editPrivilegeGroup"></vc:create>
    <vc:create path="dev/deletePrivilegeGroup"></vc:create>
</div>