<div>
    <div class="vc-index-nav">
        <span><i class="fa fa-home margin-right-sm"></i>首页</span><span
            class="margin-left-sm margin-right-sm">/</span><span>开发中心</span>
    </div>

    <div class="row">
        <div class="col-lg-2 margin-bottom" v-for="(item,index) in devIndexInfo.datas" :key="index">
            <div class="white-bg text-center padding-top-sm" style="height:140px;border: 1px solid #e0e5eb;">
                <div style="font-size: 38px;font-weight: 600;" :style="{'color':item.color}">{{item.value}}</div>
                <div class="margin-top-lg" style="font-size: 20px;font-weight: 100;">{{item.name}}</div>
            </div>
        </div>
    </div>
    
    <div class="row ">
        <div class="col-lg-6 ">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>常用功能</h5>
                </div>
                <div class="ibox-content">
                    <div class="row white-bg padding margin-xs">
                        <div class="col-md-3 text-center  margin-top margin-bottom" style="cursor:pointer" v-for="(item,index) in devIndexInfo.pages" @click="newFlow(item)">
                            <div>
                                <img :src="item.icon" width="60px" />
                            </div>
                            <div class="margin-top-sm">
                                <span>{{item.name}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="appServiceCharts" style="height:400px;width: 100%;" class="bg-white padding">

            </div>
        </div>
    </div>
</div>