<div id="breadcrumb" class="border-bottom white-bg breadcrumb" v-if="breadCrumbs.length > 0 && indexPage == '1'">
    <ul class="nav nav-tabs">
        <li class="nav-item" v-for="(item,index) in breadCrumbs">
            <span class="nav-link nav-link-breadcrumb" v-bind:class="{'active':item.active=='1'}" aria-current="page" @click="_changeSmallTab(item)">{{item.pageName}}
                <i class="fa fa-remove margin-left-sm" @click.stop="_deleteSmallTab(item)"></i>
            </span>
        </li>
    </ul>
</div>