<div class="modal fade" id="mergeFeeModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <vc:i18n name="请确认您的操作!" namespace="mergeFee"></vc:i18n>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <tr align="center">
                    <th>
                        <vc:i18n name="合并拆分费用，合并后，将结束拆分后的费用，启用原费用" namespace="mergeFee"></vc:i18n>
                    </th>
                </tr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="closeMergeFeeModel()">
                    <vc:i18n name="点错了" namespace="mergeFee"></vc:i18n>
                </button>
                <button type="button" class="btn btn-primary" v-on:click="_doMergeFee()">
                    <vc:i18n name="确认合并" namespace="mergeFee"></vc:i18n>
                </button>
            </div>
        </div>
    </div>
</div>
