<div id="editServiceImplModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="修改服务实现" namespace="editServiceImpl"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="业务名称" namespace="editServiceImpl"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceImplInfo.name" type="text" :placeholder="vc.i18n('必填，请填写业务名称','editServiceImpl')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="调用类型" namespace="editServiceImpl"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editServiceImplInfo.invokeType">
                                        <option selected disabled value=""><vc:i18n name="必填" namespace="editServiceImpl"></vc:i18n>，请选择调用类型</option>
                                        <option value="1"><vc:i18n name="微服务" namespace="editServiceImpl"></vc:i18n>POST方式</option>
                                        <option value="2">webservice方式</option>
                                        <option value="3">http post方式</option>
                                    </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="调用地址" namespace="editServiceImpl"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceImplInfo.url" type="text" :placeholder="vc.i18n('必填，请填写调用地址','editServiceImpl')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">kafka主题</label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceImplInfo.messageTopic" type="text" :placeholder="vc.i18n('选填，请填写','editServiceImpl')kafka主题" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="超时时间" namespace="editServiceImpl"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceImplInfo.timeout" type="text" :placeholder="vc.i18n('必填，请填写超时时间','editServiceImpl')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="重试次数" namespace="editServiceImpl"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editServiceImplInfo.retryCount" type="text" :placeholder="vc.i18n('必填，请填写重试次数','editServiceImpl')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="描述" namespace="editServiceImpl"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <textarea :placeholder="vc.i18n('选填，请填写描述','editServiceImpl')" class="form-control" v-model="editServiceImplInfo.description"></textarea></div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editServiceImpl()"><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><vc:i18n name="取消" namespace="editServiceImpl"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
