<div id = "chooseChainSupplierModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseChainSupplierModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseChainSupplierModelLabel"> <span><vc:i18n name="选择供应商" namespace="chooseChainSupplier"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入供应商名称','chooseChainSupplier')" type="text" v-model="chooseChainSupplierInfo._currentChainSupplierName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryChainSuppliers()">
                                                    <span><vc:i18n name="查询"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name='供应商ID' namespace='choosechainSupplier'></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name='供应商名称' namespace='choosechainSupplier'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='接口应用ID' namespace='choosechainSupplier'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='接口秘钥' namespace='choosechainSupplier'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='商户ID' namespace='choosechainSupplier'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='秘钥' namespace='choosechainSupplier'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='接口地址' namespace='choosechainSupplier'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='备注' namespace='choosechainSupplier'></vc:i18n></span> </th>
                            <th class="text-center"><span><vc:i18n name='操作'></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="chainSupplier in chooseChainSupplierInfo.chainSuppliers">
                                                                        <td class="text-center">{{chainSupplier.csId}}</td>
                            <td class="text-center">{{chainSupplier.name}}</td>
                            <td class="text-center">{{chainSupplier.appId}}</td>
                            <td class="text-center">{{chainSupplier.appSecure}}</td>
                            <td class="text-center">{{chainSupplier.mchId}}</td>
                            <td class="text-center">{{chainSupplier.mchKey}}</td>
                            <td class="text-center">{{chainSupplier.url}}</td>
                            <td class="text-center">{{chainSupplier.remark}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseChainSupplier(chainSupplier)">
                                                    <span><vc:i18n name="选择"></vc:i18n></span>
                                                    </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
