<div id="batchAddParkingSpaceModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="添加" namespace="batchAddParkingSpace"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="编号前缀" namespace="batchAddParkingSpace"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="batchAddParkingSpaceInfo.preNum" type="text" :placeholder="vc.i18n('选填，不是纯数字时前面字母 如A12 时填写A','batchAddParkingSpace')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="开始编号" namespace="batchAddParkingSpace"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="batchAddParkingSpaceInfo.startNum" type="number" :placeholder="vc.i18n('必填，请填写编码中数字部分开始编号','batchAddParkingSpace')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="结束编号" namespace="batchAddParkingSpace"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="batchAddParkingSpaceInfo.endNum" type="number" :placeholder="vc.i18n('必填，请填写编码中数字部分结束编号','batchAddParkingSpace')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="停车场" namespace="batchAddParkingSpace"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="batchAddParkingSpaceInfo.paId">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择停车场','batchAddParkingSpace')}}
                                        </option>
                                        <option :value="item.paId"
                                                v-for="(item,index) in batchAddParkingSpaceInfo.parkingAreas">{{item.num}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="车位类型" namespace="batchAddParkingSpace"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="batchAddParkingSpaceInfo.parkingType">
                                        <option selected value="">{{vc.i18n('必填，请选择车位类型','batchAddParkingSpace')}}</option>
                                        <option v-for="(item,index) in batchAddParkingSpaceInfo.parkingTypes" :key="index"
                                                :value="item.statusCd" v-if="item.statusCd != '2'">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="_batchSaveParkingSpaceInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-times"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
