<div>
    <div class="margin-top">
        <div class="row">
            <div class="col-sm-12 margin-lr-0 padding-lr-0">
                <table class="footable table table-stripped " style="margin-top:10px" data-page-size="10">
                    <thead>
                        <tr>
                            <th class="text-center " style="border-bottom: none;"><vc:i18n name="楼栋号" namespace="reportHuaningPayFeeTwo"></vc:i18n></th>
                            <th class="text-center" style="border-bottom: none;"><vc:i18n name="应收" namespace="reportHuaningPayFeeTwo"></vc:i18n></th>
                            <th class="text-center " style="border-bottom: none;"><vc:i18n name="已收" namespace="reportHuaningPayFeeTwo"></vc:i18n></th>
                            <th class="text-center " style="border-bottom: none;"><vc:i18n name="促收优惠" namespace="reportHuaningPayFeeTwo"></vc:i18n></th>
                            <th class="text-center " style="border-bottom: none;"><vc:i18n name="未收" namespace="reportHuaningPayFeeTwo"></vc:i18n></th>
                            <th class="text-center " style="border-bottom: none;"><vc:i18n name="预收" namespace="reportHuaningPayFeeTwo"></vc:i18n></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="fee in reportHuaningPayFeeTwoInfo.fees">
                            <td class="text-center ">{{fee.floorNum}}</td>
                            <td class="text-center ">{{fee.receivableAmount || 0}}</td>
                            <td class="text-center ">{{fee.receivedAmount || 0}}</td>
                            <td class="text-center">{{fee.receivedAmount1 || 0}}</td>
                            <td class="text-center">{{_getOweFeeTwo(fee)}}</td>
                            <td class="text-center">{{fee.receivedAmount2 || 0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <span> </span>
            </div>
            <div class="col-sm-7 float-right">
                <vc:create namespace="reportHuaningPayFeeTwo" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>
