<div class="">
    <div class="row ">
        <div class="col-lg-12 text-right">
           
        </div>
    </div>

    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center">
                        <vc:i18n name="进场图" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="进出场编号" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="车辆状态" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="车牌号" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="停车场" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="计费规则" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="车牌类型" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="进场时间" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="出场时间" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                       <vc:i18n name="停车时间" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="收费金额" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                    <th class="text-center">
                        <vc:i18n name="说明" namespace="carDetailCarInout"></vc:i18n>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="carIn in carDetailCarInoutInfo.carIns">
                    <td class="text-center" style="white-space: nowrap;">
                        <img style="width: 60px; height: 60px;" class="border-radius" v-if="carIn.photoJpg"
                             v-bind:src="carIn.photoJpg" v-on:click="_carInoutOpenFile(carIn.photoJpg)"/>
                        <img style="width: 60px; height: 60px;" class="border-radius" v-else src="/img/noPhoto.jpg"/>
                    </td>
                    <td class="text-center">{{carIn.inoutId}}</td>
                    <td class="text-center">{{carIn.carInout == '3306'?'进场':'出场'}}({{carIn.stateName}})</td>
                    <td class="text-center">{{carIn.carNum}}
                    </td>
                    <td class="text-center">{{carIn.areaNum}}</td>
                    <td class="text-center" @click="_viewTempFeeConfigInOutCar(carIn.configId)">{{carIn.feeName}}
                        <span class="fa fa-info-circle"></span>
                    </td>
                    <td class="text-center">{{carIn.carTypeName}}</td>
                    <td class="text-center">{{carIn.inTime}}</td>
                    <td class="text-center" v-if="carIn.carInout != '3307'">-</td>
                    <td class="text-center" v-else>{{carIn.outTime}}</td>
                    <td class="text-center">{{carIn.hours}}
                        <span><vc:i18n name="小时" namespace="carDetailCarInout"></vc:i18n></span>{{carIn.min}}
                        <span><vc:i18n name="分" namespace="carDetailCarInout"></vc:i18n></span>
                    </td>
                    <td class="text-center" v-if="carIn.carType != 'T'">-</td>
                    <!-- <td class="text-center" v-else-if="carIn.carInout != '3307">{{carIn.payCharge}}</td> -->
                    <!-- <td class="text-center" v-else>{{carIn.realCharge}}</td> -->
                    <td class="text-center" v-else>{{carIn.payCharge}}
                    </td>
                    <td class="text-center">{{carIn.remark}}</td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">
                <vc:create namespace="carDetailCarInout" path="frame/paginationPlus"></vc:create>
            </div>
        </div>
    </div>
</div>