<div id="returnPayFeeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="填写退费原因" namespace="returnPayFee"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="缴费" namespace="returnPayFee"></vc:i18n>ID</label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.detailId" type="text" readonly
                                           placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="周期" namespace="returnPayFee"></vc:i18n>(单位月)</label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.cycles" type="text" readonly
                                           placeholder="" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="应收金额" namespace="returnPayFee"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.receivableAmount" type="text" readonly
                                           placeholder="" class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="实收金额" namespace="returnPayFee"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.receivedAmount" type="text" readonly
                                           placeholder="" class="form-control">
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="打折率" namespace="returnPayFee"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.primeRate" type="text" readonly
                                        placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="returnPayFee"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.remark" type="text" readonly
                                        placeholder="" class="form-control">
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="缴费时间" namespace="returnPayFee"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.payTime" type="text" readonly
                                           placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span style="color: red">*</span><vc:i18n name="退费原因" namespace="returnPayFee"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <textarea placeholder="" class="form-control"
                                              v-model="returnFeeDetailInfo.reason"></textarea></div>
                            </div>
                            <div class="ibox-content">
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal"><vc:i18n name="取消" namespace="returnPayFee"></vc:i18n>
                                </button>
                                <button v-on:click="submitReturnPayFee()" type="button"
                                        class="btn btn-primary float-right" style="margin-right:20px;"><vc:i18n name="提交退费申请" namespace="returnPayFee"></vc:i18n>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
