<div id="returnPayFeeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">填写退费原因</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">缴费ID</label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.detailId" type="text" readonly
                                        placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">周期(单位月)</label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.cycles" type="text" readonly
                                        placeholder="" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">应收金额</label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.receivableAmount" type="text" readonly
                                        placeholder="" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">实收金额</label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.receivedAmount" type="text" readonly
                                        placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">打折率</label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.primeRate" type="text" readonly
                                        placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">备注</label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.remark" type="text" readonly
                                        placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">缴费时间</label>
                                <div class="col-sm-10">
                                    <input v-model="returnFeeDetailInfo.payTime" type="text" readonly
                                        placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span style="color: red">*</span>退费原因</label>
                                <div class="col-sm-10">
                                    <textarea placeholder="" class="form-control"
                                        v-model="returnFeeDetailInfo.reason"></textarea></div>
                            </div>

                            <div class="ibox-content">
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal">取消
                                </button>
                                <button v-on:click="submitReturnPayFee()" type="button" class="btn btn-primary float-right" style="margin-right:20px;">提交退费申请</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
