<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>业务轨迹信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewBusinessTableHisInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectBusinessTableHisInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择业务轨迹</button>

                    <button type="button" v-if="viewBusinessTableHisInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddBusinessTableHisInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加业务轨迹</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >业务类型：</label>
                            <label class="">{{viewBusinessTableHisInfo.businessTypeCd}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >动作：</label>
                            <label class="">{{viewBusinessTableHisInfo.action}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >表名：</label>
                            <label class="">{{viewBusinessTableHisInfo.actionObj}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >轨迹表名：</label>
                            <label class="">{{viewBusinessTableHisInfo.actionObjHis}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >备注：</label>
                            <label class="">{{viewBusinessTableHisInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="dev/addBusinessTableHis"
               callBackListener="viewBusinessTableHisInfo"
               callBackFunction="chooseBusinessTableHis"
    ></vc:create>


    <vc:create path="dev/chooseBusinessTableHis"
               emitChooseBusinessTableHis="viewBusinessTableHisInfo"
               emitLoadData="viewBusinessTableHisInfo"
    ></vc:create>
</div>
