<div id = "choosePayFeeConfigDiscountModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choosePayFeeConfigDiscountModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="choosePayFeeConfigDiscountModelLabel"><vc:i18n name="选择费用折扣" namespace="choosePayFeeConfigDiscount"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')vc.i18n(' ','choosePayFeeConfigDiscount')<divvc.i18n(' ','choosePayFeeConfigDiscount')class="vc.i18n(' ','choosePayFeeConfigDiscount')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入费用折扣名称','choosePayFeeConfigDiscount')" type="text" v-model="choosePayFeeConfigDiscountInfo._currentPayFeeConfigDiscountName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryPayFeeConfigDiscounts()"><vc:i18n name="查询" namespace="choosePayFeeConfigDiscount"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="费用折扣" namespace="choosePayFeeConfigDiscount"></vc:i18n>ID</th>
                            <th class="text-center"><vc:i18n name="折扣名称" namespace="choosePayFeeConfigDiscount"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="折扣名称" namespace="choosePayFeeConfigDiscount"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="操作" namespace="choosePayFeeConfigDiscount"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="payFeeConfigDiscount in choosePayFeeConfigDiscountInfo.payFeeConfigDiscounts">
                                                                        <td class="text-center">{{payFeeConfigDiscount.configDiscountId}}</td>
                            <td class="text-center">{{payFeeConfigDiscount.discountId}}</td>
                            <td class="text-center">{{payFeeConfigDiscount.discountId}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="choosePayFeeConfigDiscount(payFeeConfigDiscount)"><vc:i18n name="选择" namespace="choosePayFeeConfigDiscount"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
