<div class="dropdown">
    <button class="btn btn-default" type="button" data-toggle="dropdown">
        请选择员工
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a tabindex="0">Action</a></li>
        <li class="dropdown-submenu">
            <a tabindex="0" data-toggle="dropdown">二级菜单</a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Dropdown header</li>
                <li><a tabindex="0">二级菜单项</a></li>
                <li class="disabled"><a tabindex="0">二级菜单项</a></li>
                <li><a tabindex="0">二级菜单项</a></li>
            </ul>
        </li>
        <li><a tabindex="0">一级菜单项</a></li>
        <li class="divider"></li>
        <li><a tabindex="0">一级菜单项</a></li>
    </ul>
</div>