<div class="modal fade" id="selectStaffModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-4 border-right padding-0">
                        <div class="text-center">
                            <vc:i18n name="公司信息" namespace="selectStaff"></vc:i18n>
                        </div>
                        <div class=" staff padding padding-top-xs">
                            <div class=" padding overflow-hidden" :class="{'select':selectStaffInfo.curCompanyId == item.orgId}" v-for="(item,index) in selectStaffInfo.companys" @click="_changeCompany(item)" style="cursor:pointer">
                                <span>
                                    <i class="fa fa-building-o margin-right-xs" aria-hidden="true"></i>
                                    {{item.orgName}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border-right padding-0">
                        <div class="text-center">
                            <vc:i18n name="部门信息" namespace="selectStaff"></vc:i18n>
                        </div>
                        <div class="padding-left staff padding  padding-top-xs">
                            <div class=" padding overflow-hidden" :class="{'select':selectStaffInfo.curDepartmentId == item.orgId}" v-for="(item,index) in selectStaffInfo.departments" @click="_changeDepartment(item)" style="cursor:pointer">
                                <span>
                                    <i class="fa fa-sitemap margin-right-xs" aria-hidden="true"></i>
                                    {{item.orgName}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 padding-0">
                        <div class="text-center">
                            <vc:i18n name="员工信息" namespace="selectStaff"></vc:i18n>
                        </div>
                        <div class="padding-left staff padding padding-top-xs">
                            <div class=" padding overflow-hidden" :class="{'select':selectStaffInfo.curStaffId == item.staffId}" v-for="(item,index) in selectStaffInfo.staffs" @click="_changeStaff(item)" style="cursor:pointer">
                                <span>
                                    <i class="fa fa-user margin-right-xs" aria-hidden="true"></i>
                                    {{item.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right" v-if="selectStaffInfo.staff.from == 'bpmn' || selectStaffInfo.staff.from == 'purchase' || selectStaffInfo.staff.from == 'contract'">
                    <button type="button" class="btn btn-white btn-sm" @click="_firstUser()"><vc:i18n name="提交者" namespace="selectStaff"></vc:i18n></button>
                    <button type="button" class="btn btn-white btn-sm" @click="_customUser()"><vc:i18n name="动态指定" namespace="selectStaff"></vc:i18n></button>
                </div>
            </div>
        </div>
    </div>
</div>