<div class="modal fade" id="selectStaffModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="text-center">公司信息</div>
                        <div>青海开机公司</div>
                        <div>青海开机公司</div>
                        <div>青海开机公司</div>
                        <div>青海开机公司</div>
                        <div>青海开机公司</div>
                        <div>青海开机公司</div>

                        <div>青海开机公司</div>
                         <div>青海开机公司</div>
                         <div>青海开机公司</div>
                         <div>青海开机公司</div>
                         <div>青海开机公司</div>
                    </div>
                    <div class="col-md-4 border-right">
                        <div class="text-center">部门信息</div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">员工信息</div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>