<div id = "chooseStorehouseModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseStorehouseModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseStorehouseModelLabel"><vc:i18n name="选择仓库" namespace="chooseStorehouse"></vc:i18n></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')vc.i18n(' ','chooseStorehouse')<divvc.i18n(' ','chooseStorehouse')class="vc.i18n(' ','chooseStorehouse')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入仓库名称','chooseStorehouse')" type="text" v-model="chooseStorehouseInfo._currentStorehouseName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryStorehouses()"><vc:i18n name="查询" namespace="chooseStorehouse"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><vc:i18n name="仓库编号" namespace="chooseStorehouse"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="仓库名称" namespace="chooseStorehouse"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="仓库类型" namespace="chooseStorehouse"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="描述" namespace="chooseStorehouse"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseStorehouse"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="storehouse in chooseStorehouseInfo.storehouses">
                                                                        <td class="text-center">{{storehouse.shId}}</td>
                            <td class="text-center">{{storehouse.shName}}</td>
                            <td class="text-center">{{storehouse.shType}}</td>
                            <td class="text-center">{{storehouse.shDesc}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseStorehouse(storehouse)"><vc:i18n name="选择" namespace="chooseStorehouse"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
