<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>旧货信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewJunkRequirementInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectJunkRequirementInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择旧货</button>

                    <button type="button" v-if="viewJunkRequirementInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddJunkRequirementInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加旧货</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >类别：</label>
                            <label class="">{{viewJunkRequirementInfo.classification}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >巡检计划：</label>
                            <label class="">{{viewJunkRequirementInfo.inspectionPlanId}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >内容：</label>
                            <label class="">{{viewJunkRequirementInfo.context}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >参考价格：</label>
                            <label class="">{{viewJunkRequirementInfo.referencePrice}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >发布人：</label>
                            <label class="">{{viewJunkRequirementInfo.publishUserName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >联系方式：</label>
                            <label class="">{{viewJunkRequirementInfo.publishUserLink}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >状态：</label>
                            <label class="">{{viewJunkRequirementInfo.state}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="proxy/addJunkRequirement/addJunkRequirement"
               callBackListener="viewJunkRequirementInfo"
               callBackFunction="chooseJunkRequirement"
    ></vc:create>


    <vc:create path="proxy/chooseJunkRequirement/chooseJunkRequirement"
               emitChooseJunkRequirement="viewJunkRequirementInfo"
               emitLoadData="viewJunkRequirementInfo"
    ></vc:create>
</div>
