<div id = "chooseSmallWeChatModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseSmallWeChatModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseSmallWeChatModelLabel"><span><vc:i18n name="选择小程序管理" namespace="chooseSmallWeChat"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')vc.i18n(' ','chooseSmallWeChat')<divvc.i18n(' ','chooseSmallWeChat')class="vc.i18n(' ','chooseSmallWeChat')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入小程序管理名称','chooseSmallWeChat')" type="text" v-model="chooseSmallWeChatInfo._currentSmallWeChatName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="querySmallWeChats()"><span><vc:i18n name="查询" namespace="chooseSmallWeChat"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name="编码" namespace="chooseSmallWeChat"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="小程序名称" namespace="chooseSmallWeChat"></vc:i18n></span></th>
                            <th class="text-center">appId</th>
                            <th class="text-center"><span><vc:i18n name="应用密钥" namespace="chooseSmallWeChat"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="支付密码" namespace="chooseSmallWeChat"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseSmallWeChat"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="smallWeChat in chooseSmallWeChatInfo.smallWeChats">
                                                                        <td class="text-center">{{smallWeChat.weChatId}}</td>
                            <td class="text-center">{{smallWeChat.name}}</td>
                            <td class="text-center">{{smallWeChat.appId}}</td>
                            <td class="text-center">{{smallWeChat.appSecret}}</td>
                            <td class="text-center">{{smallWeChat.payPassword}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseSmallWeChat(smallWeChat)"><span><vc:i18n name="选择" namespace="chooseSmallWeChat"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
