<div id="addTempCarFeeConfigModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b">
                    <span><vc:i18n name="添加标准" namespace="addTempCarFeeConfig"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label padding-lr-sm text-right">
                                            <span><vc:i18n name="标准名称" namespace="addTempCarFeeConfig"></vc:i18n></span>
                                        </label>
                                        <div class="col-sm-9">
                                            <input v-model="addTempCarFeeConfigInfo.feeName" type="text"
                                                   :placeholder="vc.i18n('必填，请填写标准名称','addTempCarFeeConfig')"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label padding-lr-sm text-right">
                                            <span><vc:i18n name="停车场" namespace="addTempCarFeeConfig"></vc:i18n></span>
                                        </label>
                                        <div class="col-sm-9">
                                            <vc:create path="property/parkingAreaSelect2"
                                                       parentModal="addTempCarFeeConfigModel"
                                                       callBackListener="addTempCarFeeConfig" callBackFunction="notify"
                                                       namespace="addTempCarFeeConfig">
                                            </vc:create>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label padding-lr-sm text-right">
                                            <span><vc:i18n name="车辆类型" namespace="addTempCarFeeConfig"></vc:i18n></span>
                                        </label>
                                        <div class="col-sm-9">
                                            <select class="custom-select" v-model="addTempCarFeeConfigInfo.carType">
                                                <option selected disabled value="">
                                                    {{vc.i18n('必填','addTempCarFeeConfig')}}，请选择车辆类型
                                                </option>
                                                <option v-for="(item,index) in addTempCarFeeConfigInfo.carTypes"
                                                        :key="index" :value="item.statusCd">{{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label padding-lr-sm text-right">
                                            <span><vc:i18n name="收费规则" namespace="addTempCarFeeConfig"></vc:i18n></span>
                                        </label>
                                        <div class="col-sm-9">
                                            <select class="custom-select" v-model="addTempCarFeeConfigInfo.ruleId"
                                                    @change="_changeAddTempCarFeeConfigRule()">
                                                <option selected disabled value="">
                                                    {{vc.i18n('必填','addTempCarFeeConfig')}}，请选择收费规则
                                                </option>
                                                <option :value="rule.ruleId"
                                                        v-for="(rule,index) in addTempCarFeeConfigInfo.rules"
                                                        :key="index">{{rule.ruleName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label padding-lr-sm text-right">
                                            <span><vc:i18n name="开始时间" namespace="addTempCarFeeConfig"></vc:i18n></span>
                                        </label>
                                        <div class="col-sm-9">
                                            <input v-model="addTempCarFeeConfigInfo.startTime" type="text"
                                                   :placeholder="vc.i18n('必填，请填写开始时间','addTempCarFeeConfig')"
                                                   class="form-control addTempCarFeeConfigStartTime">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label padding-lr-sm text-right">
                                            <span><vc:i18n name="结束时间" namespace="addTempCarFeeConfig"></vc:i18n></span>
                                        </label>
                                        <div class="col-sm-9">
                                            <input v-model="addTempCarFeeConfigInfo.endTime" type="text"
                                                   :placeholder="vc.i18n('必填，请填写结束时间','addTempCarFeeConfig')"
                                                   class="form-control addTempCarFeeConfigEndTime">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-for="(item,index) in addTempCarFeeConfigInfo.attrs">
                                <div class="row" v-if="index % 2 == 0">
                                    <div class="col-sm-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label padding-lr-sm text-right">{{item.specName}}</label>
                                            <div class="col-sm-9 ">
                                                <input v-model="item.value" type="text" :placeholder="item.remark"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" v-if="index < addTempCarFeeConfigInfo.attrs.length-1">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label padding-lr-sm text-right">
                                                {{addTempCarFeeConfigInfo.attrs[index+1].specName}}
                                            </label>
                                            <div class="col-sm-9 ">
                                                <input v-model="addTempCarFeeConfigInfo.attrs[index+1].value"
                                                       type="text"
                                                       :placeholder="addTempCarFeeConfigInfo.attrs[index+1].remark"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="saveTempCarFeeConfigInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-close"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
