<div id="editApplyRoomDiscountRecordModel" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改优惠申请</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">申请ID</label>
                                <div class="col-sm-10">
                                    <input v-model="editApplyRoomDiscountRecordInfo.ardId" type="text" disabled
                                           placeholder="必填，请填写申请ID" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">房屋(楼栋-单元-房屋)</label>
                                <div class="col-sm-10">
                                    <input v-model="editApplyRoomDiscountRecordInfo.roomName" type="text" disabled
                                           placeholder="必填，请填写房屋" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">申请类型</label>
                                <div class="col-sm-10">
                                    <input v-model="editApplyRoomDiscountRecordInfo.applyTypeName" type="text" disabled
                                           placeholder="必填，请填写申请类型" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">申请人</label>
                                <div class="col-sm-10">
                                    <input v-model="editApplyRoomDiscountRecordInfo.createUserName" type="text" disabled
                                           placeholder="必填，请填写申请人" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">申请电话</label>
                                <div class="col-sm-10">
                                    <input v-model="editApplyRoomDiscountRecordInfo.createUserTel" type="text" disabled
                                           placeholder="必填，请填写申请电话" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">开始时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editApplyRoomDiscountRecordInfo.startTime" type="text" placeholder="必填，请填写开始时间"
                                           class="form-control startTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">结束时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editApplyRoomDiscountRecordInfo.endTime" type="text" placeholder="必填，请填写结束时间"
                                           class="form-control endTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">状态</label>
                                <div class="col-sm-10">
                                    <input v-model="editApplyRoomDiscountRecordInfo.stateName" type="text" disabled
                                           placeholder="选填，请填写状态" class="form-control">
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="editApplyRoomDiscountRecord()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
