<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>报表组件信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewReportCustomComponentInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectReportCustomComponentInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择报表组件</button>

                    <button type="button" v-if="viewReportCustomComponentInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddReportCustomComponentInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加报表组件</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >组件名称：</label>
                            <label class="">{{viewReportCustomComponentInfo.name}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >组件类型：</label>
                            <label class="">{{viewReportCustomComponentInfo.componentType}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >查询方式：</label>
                            <label class="">{{viewReportCustomComponentInfo.queryModel}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >执行sql：</label>
                            <label class="">{{viewReportCustomComponentInfo.sql}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >执行java脚本代码：</label>
                            <label class="">{{viewReportCustomComponentInfo.javaScript}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >描述：</label>
                            <label class="">{{viewReportCustomComponentInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="dev/addReportCustomComponent"
               callBackListener="viewReportCustomComponentInfo"
               callBackFunction="chooseReportCustomComponent"
    ></vc:create>


    <vc:create path="dev/chooseReportCustomComponent"
               emitChooseReportCustomComponent="viewReportCustomComponentInfo"
               emitLoadData="viewReportCustomComponentInfo"
    ></vc:create>
</div>
