<div id = "chooseBusinessDatabusModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseBusinessDatabusModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseBusinessDatabusModelLabel"><vc:i18n name="选择" namespace="chooseBusinessDatabus"></vc:i18n>databus</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')vc.i18n(' ','chooseBusinessDatabus')<divvc.i18n(' ','chooseBusinessDatabus')class="vc.i18n(' ','chooseBusinessDatabus')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入','chooseBusinessDatabus')databus名称" type="text" v-model="chooseBusinessDatabusInfo._currentBusinessDatabusName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryBusinessDatabuss()"><vc:i18n name="查询" namespace="chooseBusinessDatabus"></vc:i18n></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center">Databus ID</th>
                            <th class="text-center"><vc:i18n name="业务类型" namespace="chooseBusinessDatabus"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="适配器" namespace="chooseBusinessDatabus"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="顺序" namespace="chooseBusinessDatabus"></vc:i18n></th>
                            <th class="text-center"><vc:i18n name="操作" namespace="chooseBusinessDatabus"></vc:i18n></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="businessDatabus in chooseBusinessDatabusInfo.businessDatabuss">
                                                                        <td class="text-center">{{businessDatabus.databusId}}</td>
                            <td class="text-center">{{businessDatabus.businessTypeCd}}</td>
                            <td class="text-center">{{businessDatabus.beanName}}</td>
                            <td class="text-center">{{businessDatabus.seq}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseBusinessDatabus(businessDatabus)"><vc:i18n name="选择" namespace="chooseBusinessDatabus"></vc:i18n></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
