<div class="bg-white margin-top-xs padding border-radius">
    <div class=" ">
        <button type="button" class="btn btn-white btn-sm" v-on:click="_openAddOrgModal()"
                v-if="vc.hasPrivilege('502022082984960001')">
            添加
        </button>
        <button type="button" class="btn btn-white btn-sm" v-on:click="_openEditOrgModel()"
                v-if="vc.hasPrivilege('502022082949810002')">
            修改
        </button>
        <button type="button" class="btn btn-white btn-sm" v-on:click="_openDeleteOrgModel()"
                v-if="vc.hasPrivilege('502022082943170003')">
            删除
        </button>
    </div>
    <div id="jstree_org" class="margin-top">
    </div>
    <vc:create path="frame/addOrg" callBackListener="" callBackFunction=""></vc:create>
    <vc:create path="frame/editOrg"></vc:create>
    <vc:create path="frame/deleteOrg"></vc:create>
</div>