<div id="editStaffModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="修改员工" namespace="editStaff"></vc:i18n></h3>
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-sm-6">
                            <div>
                                <p style="color:red;">{{editStaffInfo.errorInfo}}</p>
                                <div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><vc:i18n name="名称" namespace="editStaff"></vc:i18n></label>
                                        <div class="col-sm-10">
                                            <input v-model="editStaffInfo.username" type="text" :placeholder="vc.i18n('必填，请填写员工名称','editStaff')" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><vc:i18n name="岗位" namespace="editStaff"></vc:i18n></label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" v-model="editStaffInfo.relCd">
                                                <option selected disabled value=""><vc:i18n name="必填" namespace="editStaff"></vc:i18n>，请选择岗位</option>
                                                <option v-for="(item,index) in editStaffInfo.relCds" :key="index"
                                                        v-bind:value="item.statusCd">
                                                    {{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><vc:i18n name="邮箱" namespace="editStaff"></vc:i18n></label>
                                        <div class="col-sm-10">
                                            <input v-model="editStaffInfo.email" type="email" :placeholder="vc.i18n('可选，请填写员工名称','editStaff')" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><vc:i18n name="手机" namespace="editStaff"></vc:i18n></label>
                                        <div class="col-sm-10">
                                            <input v-model="editStaffInfo.tel" type="tel" :placeholder="vc.i18n('必填，请填写手机号码','editStaff')" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><vc:i18n name="性别" namespace="editStaff"></vc:i18n></label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" v-model="editStaffInfo.sex">
                                                <option selected value=""><vc:i18n name="必填" namespace="editStaff"></vc:i18n>，请选择员工性别</option>
                                                <option value="0"><vc:i18n name="男" namespace="editStaff"></vc:i18n></option>
                                                <option value="1"><vc:i18n name="女" namespace="editStaff"></vc:i18n></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><vc:i18n name="公司" namespace="editStaff"></vc:i18n></label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" v-model="editStaffInfo.parentOrgId" @change="_editChangeBrach()">
                                                <option selected value=""><vc:i18n name="必填" namespace="editStaff"></vc:i18n>，请选择公司</option>
                                                <option v-for="branchOrg in editStaffInfo.branchOrgs" :value="branchOrg.orgId">
                                                    {{branchOrg.orgName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><vc:i18n name="部门" namespace="editStaff"></vc:i18n></label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" v-model="editStaffInfo.orgId">
                                                <option selected value=""><vc:i18n name="必填" namespace="editStaff"></vc:i18n>，请选择部门</option>
                                                <option v-for="departmentOrg in editStaffInfo.departmentOrgs"
                                                        :value="departmentOrg.orgId">
                                                    {{departmentOrg.orgName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><vc:i18n name="住址" namespace="editStaff"></vc:i18n></label>
                                        <div class="col-sm-10">
                                            <input v-model="editStaffInfo.address" type="text" :placeholder="vc.i18n('请填写家庭住址','editStaff')" class="form-control">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6" style="text-align:center">
                            <div style="background-color: black;">
                                <video id="staffPhotoForEdit" style="width: 100%;"></video>
                            </div>
                            <canvas id="canvasForEdit" style="display:none;"></canvas>
                            <div style="margin-top:20px">
                                <button class="btn btn-primary" type="button" v-on:click="_takePhotoForEdit()">
                                    <span class="fa fa-camera"></span> <vc:i18n name="拍照" namespace="editStaff"></vc:i18n>
                                </button>
                                <span class="btn btn-default btn-file" v-on:click="_uploadEditPhoto($event)">
                                    <span class="fileinput-new"><vc:i18n name="上传照片" namespace="editStaff"></vc:i18n></span>
                                </span>
                                <input type="file" class="file" accept="images/*" id="uploadEditStaffPhoto" hidden v-on:change="_chooseEditPhoto($event)">
                            </div>
                            <div class="form-group row margin-top">
                                <div class="col-sm-12 text-left">
                                    <img width="100%" height="150" v-bind:src="editStaffInfo.photo" onerror="this.src='/img/noPhoto.jpg';" alt="vc.i18n('员工照片','editStaff')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <button class="btn btn-primary float-right" type="button" v-on:click="editStaffSubmit()">
                            <i class="fa fa-check"></i>&nbsp;修改
                        </button>
                        <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">
                            <i class="fa fa-close"></i>&nbsp;取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
