<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>添加员工</h5>
                <div class="ibox-tools" style="top:10px;">
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5" style="text-align:center">
                        <video id="staffPhoto" style="width: 100%;"></video>
                        <canvas id="canvas" style="display:none;"></canvas>
                        <div style="margin-top:20px">
                            <button class="btn btn-primary" type="button" v-on:click="_takePhoto()"><span
                                    class="glyphicon glyphicon-camera"></span> 拍照
                            </button>
                            <span class="btn btn-default btn-file" v-on:click="_uploadPhoto($event)">
                                <span class="fileinput-new">上传照片</span>
                            </span>
                            <input type="file" class="file" accept="images/*" id="uploadStaffPhoto" hidden
                                   v-on:change="_choosePhoto($event)">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">员工名称(2-10位)</label>
                            <div class="col-sm-10">
                                <input v-model="addStaffViewInfo.username" type="text" placeholder="必填，请填写员工名称（2-10位）"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">员工性别</label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="addStaffViewInfo.sex">
                                    <option selected disabled value="">必填，请选择员工性别</option>
                                    <option value="0">男</option>
                                    <option value="1">女</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">员工岗位</label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="addStaffViewInfo.relCd">
                                    <option selected disabled value="">必填，请选择岗位</option>
                                    <option v-for="(item,index) in addStaffViewInfo.relCds" :key="index"
                                            v-bind:value="item.statusCd">{{item.name}}
                                    </option>
                                </select></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">员工邮箱</label>
                            <div class="col-sm-10">
                                <input v-model="addStaffViewInfo.email" type="text" placeholder="可选，请填写员工邮箱"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">手机</label>
                            <div class="col-sm-10">
                                <input v-model="addStaffViewInfo.tel" type="text" placeholder="必填，请填写手机"
                                       class="form-control" maxlength="11">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">家庭住址</label>
                            <div class="col-sm-10">
                                <input v-model="addStaffViewInfo.address" type="text" placeholder="必填，请填写家庭住址"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">照片</label>
                            <div class="col-sm-10">
                                <img width="150" height="150"
                                     v-bind:src="addStaffViewInfo.photo" alt="员工照片">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>