<div id = "chooseShopAuditModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseShopAuditModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseShopAuditModelLabel"><span><vc:i18n name="选择店铺审核" namespace="chooseShopAudit"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')vc.i18n(' ','chooseShopAudit')<divvc.i18n(' ','chooseShopAudit')class="vc.i18n(' ','chooseShopAudit')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入店铺审核名称','chooseShopAudit')" type="text" v-model="chooseShopAuditInfo._currentShopAuditName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryShopAudits()"><span><vc:i18n name="查询" namespace="chooseShopAudit"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name="审核店铺" namespace="chooseShopAudit"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="审核" namespace="chooseShopAudit"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="店铺" namespace="chooseShopAudit"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="店铺" namespace="chooseShopAudit"></vc:i18n></span>logo</th>
                            <th class="text-center"><span><vc:i18n name="商户" namespace="chooseShopAudit"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="店铺名称" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="店铺描述" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="地区" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="地区" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="发货地址" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="退货地址" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="退货联系人" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="退货联系电话" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="状态" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="店铺类型" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="开店类型" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="地域编码" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="审核意见" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="申请原因" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="数据状态" namespace="chooseShopAudit"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseShopAudit"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="shopAudit in chooseShopAuditInfo.shopAudits">
                                                                        <td class="text-center">{{shopAudit.auditId}}</td>
                            <td class="text-center">{{shopAudit.auditId}}</td>
                            <td class="text-center">{{shopAudit.shopId}}</td>
                            <td class="text-center">{{shopAudit.shopLogo}}</td>
                            <td class="text-center">{{shopAudit.storeId}}</td>
                            <td class="text-center">{{shopAudit.shopName}}</td>
                            <td class="text-center">{{shopAudit.shopDesc}}</td>
                            <td class="text-center">{{shopAudit.mapX}}</td>
                            <td class="text-center">{{shopAudit.mapY}}</td>
                            <td class="text-center">{{shopAudit.sendAddress}}</td>
                            <td class="text-center">{{shopAudit.returnAddress}}</td>
                            <td class="text-center">{{shopAudit.returnPerson}}</td>
                            <td class="text-center">{{shopAudit.returnLink}}</td>
                            <td class="text-center">{{shopAudit.state}}</td>
                            <td class="text-center">{{shopAudit.shopType}}</td>
                            <td class="text-center">{{shopAudit.openType}}</td>
                            <td class="text-center">{{shopAudit.areaCode}}</td>
                            <td class="text-center">{{shopAudit.auditOpinion}}</td>
                            <td class="text-center">{{shopAudit.applyOpinion}}</td>
                            <td class="text-center">{{shopAudit.statusCd}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseShopAudit(shopAudit)"><span><vc:i18n name="选择" namespace="chooseShopAudit"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
