<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>收款计划信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewContractCollectionPlanInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectContractCollectionPlanInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择收款计划</button>

                    <button type="button" v-if="viewContractCollectionPlanInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddContractCollectionPlanInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加收款计划</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >计划名称：</label>
                            <label class="">{{viewContractCollectionPlanInfo.planName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >合同号：</label>
                            <label class="">{{viewContractCollectionPlanInfo.contractCode}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >费用：</label>
                            <label class="">{{viewContractCollectionPlanInfo.feeName}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >备注：</label>
                            <label class="">{{viewContractCollectionPlanInfo.remark}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="admin/addContractCollectionPlan"
               callBackListener="viewContractCollectionPlanInfo"
               callBackFunction="chooseContractCollectionPlan"
    ></vc:create>


    <vc:create path="admin/chooseContractCollectionPlan"
               emitChooseContractCollectionPlan="viewContractCollectionPlanInfo"
               emitLoadData="viewContractCollectionPlanInfo"
    ></vc:create>
</div>
