<div id="editShopsModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="修改商铺" namespace="editShops"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="商铺" namespace="editShops"></vc:i18n></span>ID</label>
                                <div class="col-sm-10">
                                    <input v-model="editShopsInfo.roomId" disabled="disabled" type="text" :placeholder="vc.i18n('必填，请填写商铺ID','editShops')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="商铺编号" namespace="editShops"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopsInfo.roomNum" type="text" :placeholder="vc.i18n('必填，请填写商铺编号','editShops')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="商铺楼层" namespace="editShops"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopsInfo.layer" type="number" :placeholder="vc.i18n('必填，请填写商铺楼层','editShops')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row" v-show="editShopsInfo.state == '2006'">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="起租时间" namespace="editShops"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopsInfo.startTime" type="text" :placeholder="vc.i18n('必填，请填写起租时间','editShops')" class="form-control startTime">
                                </div>
                            </div>
                            <div class="form-group row" v-show="editShopsInfo.state == '2006'">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="截租时间" namespace="editShops"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopsInfo.endTime" type="text" :placeholder="vc.i18n('必填，请填写截租时间','editShops')" class="form-control endTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="租金" namespace="editShops"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopsInfo.roomRent" type="text" :placeholder="vc.i18n('必填，请填写租金','editShops')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="建筑面积" namespace="editShops"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopsInfo.builtUpArea" type="number" :placeholder="vc.i18n('必填，请填写商铺建筑面积','editShops')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="室内面积" namespace="editShops"></vc:i18n></span>(平方)</label>
                                <div class="col-sm-10">
                                    <input v-model="editShopsInfo.roomArea" type="text" :placeholder="vc.i18n('必填，请填写室内面积','editShops')" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="算费系数" namespace="editShops"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopsInfo.feeCoefficient" type="text" :placeholder="vc.i18n('请填写算费系数','editShops')" class="form-control">
                                </div>
                            </div>
                            <div v-for="(item,index) in editShopsInfo.attrs">
                                <div class="form-group row" v-if="item.specType == '2233'">
                                    <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                                    <div class="col-sm-10">
                                        <input v-model="item.value" type="text" :placeholder="item.specHoldplace" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row" v-if="item.specType == '3344'">
                                    <label class="col-sm-2 col-form-label">{{item.specName}}</label>
                                    <div class="col-sm-10">
                                        <select class="custom-select" v-model="item.value">
                                            <option selected disabled value="">{{item.specHoldplace}}</option>
                                            <option v-for="value in item.values" :label="value.valueName"
                                                    :value="value.value">
                                                {{item.valueName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="备注" namespace="editShops"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editShopsInfo.remark" type="text" :placeholder="vc.i18n('请填写备注信息','editShops')" class="form-control">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editShops()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">
                                    <i class="fa fa-close"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
