<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>公众号菜单信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewWechatMenuInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectWechatMenuInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择公众号菜单</button>

                    <button type="button" v-if="viewWechatMenuInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddWechatMenuInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加公众号菜单</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >菜单名称：</label>
                            <label class="">{{viewWechatMenuInfo.menuName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >菜单类型：</label>
                            <label class="">{{viewWechatMenuInfo.menuType}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >菜单级别：</label>
                            <label class="">{{viewWechatMenuInfo.menuLevel}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >值：</label>
                            <label class="">{{viewWechatMenuInfo.menuValue}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >AppId：</label>
                            <label class="">{{viewWechatMenuInfo.appId}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >小程序地址：</label>
                            <label class="">{{viewWechatMenuInfo.pagepath}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="property/addWechatMenu"
               callBackListener="viewWechatMenuInfo"
               callBackFunction="chooseWechatMenu"
    ></vc:create>


    <vc:create path="property/chooseWechatMenu"
               emitChooseWechatMenu="viewWechatMenuInfo"
               emitLoadData="viewWechatMenuInfo"
    ></vc:create>
</div>
