<div id = "chooseQuestionAnswerTitleModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseQuestionAnswerTitleModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseQuestionAnswerTitleModelLabel"><span><vc:i18n name="选择问卷题目" namespace="chooseQuestionAnswerTitle"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')vc.i18n(' ','chooseQuestionAnswerTitle')<divvc.i18n(' ','chooseQuestionAnswerTitle')class="vc.i18n(' ','chooseQuestionAnswerTitle')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入问卷题目名称','chooseQuestionAnswerTitle')" type="text" v-model="chooseQuestionAnswerTitleInfo._currentQuestionAnswerTitleName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryQuestionAnswerTitles()"><span><vc:i18n name="查询" namespace="chooseQuestionAnswerTitle"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name="题目" namespace="chooseQuestionAnswerTitle"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="题目类型" namespace="chooseQuestionAnswerTitle"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="问卷题目" namespace="chooseQuestionAnswerTitle"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="顺序" namespace="chooseQuestionAnswerTitle"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseQuestionAnswerTitle"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="questionAnswerTitle in chooseQuestionAnswerTitleInfo.questionAnswerTitles">
                                                                        <td class="text-center">{{questionAnswerTitle.titleId}}</td>
                            <td class="text-center">{{questionAnswerTitle.titleType}}</td>
                            <td class="text-center">{{questionAnswerTitle.qaTitle}}</td>
                            <td class="text-center">{{questionAnswerTitle.seq}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseQuestionAnswerTitle(questionAnswerTitle)"><span><vc:i18n name="选择" namespace="chooseQuestionAnswerTitle"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
