<div id = "chooseAdvertModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseAdvertModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseAdvertModelLabel"><span><vc:i18n name="选择发布广告" namespace="chooseAdvert"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')vc.i18n(' ','chooseAdvert')<divvc.i18n(' ','chooseAdvert')class="vc.i18n(' ','chooseAdvert')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入发布广告名称','chooseAdvert')" type="text" v-model="chooseAdvertInfo._currentAdvertName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryAdverts()"><span><vc:i18n name="查询" namespace="chooseAdvert"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name="广告" namespace="chooseAdvert"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="广告名称" namespace="chooseAdvert"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="广告类型" namespace="chooseAdvert"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="广告分类" namespace="chooseAdvert"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="投放位置" namespace="chooseAdvert"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="具体位置" namespace="chooseAdvert"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="广告状态" namespace="chooseAdvert"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="播放顺序" namespace="chooseAdvert"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="投放时间" namespace="chooseAdvert"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="结束时间" namespace="chooseAdvert"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseAdvert"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="advert in chooseAdvertInfo.adverts">
                                                                        <td class="text-center">{{advert.advertId}}</td>
                            <td class="text-center">{{advert.adName}}</td>
                            <td class="text-center">{{advert.adTypeCd}}</td>
                            <td class="text-center">{{advert.classify}}</td>
                            <td class="text-center">{{advert.locationTypeCd}}</td>
                            <td class="text-center">{{advert.locationObjId}}</td>
                            <td class="text-center">{{advert.state}}</td>
                            <td class="text-center">{{advert.seq}}</td>
                            <td class="text-center">{{advert.startTime}}</td>
                            <td class="text-center">{{advert.endTime}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseAdvert(advert)"><span><vc:i18n name="选择" namespace="chooseAdvert"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
