<div class="margin-top">
    <div class="row margin-top-lg">
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-right-xl">

        </div>
        <div class="col-lg-8 text-right">

        </div>
    </div>
    <div class="margin-top">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th scope="col">
                        <vc:i18n name="序号" namespace="contractDetailFlow"></vc:i18n>
                    </th>
                    <th scope="col">
                        <vc:i18n name="处理人" namespace="contractDetailFlow"></vc:i18n>
                    </th>
                    <th scope="col">
                        <vc:i18n name="状态" namespace="contractDetailFlow"></vc:i18n>
                    </th>
                    <th scope="col">
                        <vc:i18n name="处理时间" namespace="contractDetailFlow"></vc:i18n>
                    </th>
                    <th scope="col">
                        <vc:i18n name="耗时" namespace="contractDetailFlow"></vc:i18n>
                    </th>
                    <th scope="col">
                        <vc:i18n name="意见" namespace="contractDetailFlow"></vc:i18n>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(tItem,index) in contractDetailFlowInfo.auditUsers">
                    <td>{{index+1}}</td>
                    <td>{{tItem.userName?tItem.userName:tItem.auditName}}</td>
                    <td>{{tItem.stateName}}</td>
                    <td>{{tItem.auditTime}}</td>
                    <td>{{tItem.duration}}</td>
                    <td>{{tItem.message}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>