<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="活动信息" namespace="viewActivitiesInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewActivitiesInfo.index != 2" class="btn btn-primary btn-sm"
                            style="margin-right:10px;" v-on:click="_openSelectActivitiesInfoModel()">
                        <i class="fa fa-search"></i> <vc:i18n name="选择活动" namespace="viewActivitiesInfo"></vc:i18n>
                    </button>

                    <button type="button" v-if="viewActivitiesInfo.index != 2" class="btn btn-primary btn-sm"
                            v-on:click="_openAddActivitiesInfoModel()">
                        <i class="fa fa-plus"></i> <vc:i18n name="添加活动" namespace="viewActivitiesInfo"></vc:i18n>
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="活动标题" namespace="viewActivitiesInfo"></vc:i18n>：</label>
                            <label class="">{{viewActivitiesInfo.title}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="活动类型" namespace="viewActivitiesInfo"></vc:i18n>：</label>
                            <label class="">{{viewActivitiesInfo.typeCd}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="头部照片" namespace="viewActivitiesInfo"></vc:i18n>：</label>
                            <label class="">{{viewActivitiesInfo.headerImg}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="活动内容" namespace="viewActivitiesInfo"></vc:i18n>：</label>
                            <label class="">{{viewActivitiesInfo.context}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="开始时间" namespace="viewActivitiesInfo"></vc:i18n>：</label>
                            <label class="">{{viewActivitiesInfo.startTime}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="结束时间" namespace="viewActivitiesInfo"></vc:i18n>：</label>
                            <label class="">{{viewActivitiesInfo.endTime}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create path="common/addActivities"
               callBackListener="viewActivitiesInfo"
               callBackFunction="chooseActivities"
    ></vc:create>


    <vc:create path="common/chooseActivities"
               emitChooseActivities="viewActivitiesInfo"
               emitLoadData="viewActivitiesInfo"
    ></vc:create>
</div>
