<div id="addLocationModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><span><vc:i18n name="添加位置" namespace="addLocation"></vc:i18n></span></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="位置名称" namespace="addLocation"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="addLocationInfo.locationName" type="text" :placeholder="vc.i18n('必填，请填写位置名称','addLocation')"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="位置类型" namespace="addLocation"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addLocationInfo.locationType">
                                        <option selected disabled value="">{{vc.i18n('必填','addLocation')}}，请选择位置类型</option>
                                        <option value="1000">{{vc.i18n('小区','addLocation')}}</option>
                                        <option value="6000">{{vc.i18n('楼栋','addLocation')}}</option>
                                        <option value="2000">{{vc.i18n('单元','addLocation')}}</option>
                                        <option value="3000">{{vc.i18n('房屋','addLocation')}}</option>
                                        <option value="4000">{{vc.i18n('岗亭','addLocation')}}</option>
                                        <option value="5000">{{vc.i18n('部门','addLocation')}}</option>
                                        <option value="7000">{{vc.i18n('停车场','addLocation')}}</option>
                                    </select> </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                    v-on:click="saveLocationInfo()"><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal"><span><vc:i18n name="取消" namespace="addLocation"></vc:i18n></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
