<div id="addReportInfoSettingTitleModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">添加题目</h3>
                <div class="ibox-content">
                    <div>
                        <div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">问卷题目</label>
                                <div class="col-sm-10">
                                    <input v-model="addReportInfoSettingTitleInfo.title" type="text"
                                        placeholder="必填，请填写问卷题目" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">题目类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addReportInfoSettingTitleInfo.titleType"
                                        @change="_changeAddTitleType()">
                                        <option selected disabled value="">必填，请选择题目类型</option>
                                        <option value="1001">单选</option>
                                        <option value="2002">多选</option>
                                        <option value="3003">简答题</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" v-for="(item,index) in addReportInfoSettingTitleInfo.titleValues">
                                <label class="col-sm-2 col-form-label">选项{{item.seq}}</label>
                                <div class="col-sm-8">
                                    <input v-model="item.qaValue" type="text" placeholder="必填，请填写选项内容"
                                        class="form-control">
                                </div>
                                <div class="col-sm-2" v-if="index == addReportInfoSettingTitleInfo.titleValues.length-1">
                                    <button class="btn btn-link float-right" type="button"
                                        v-on:click="_addTitleValue()">增加选项</button>
                                </div>
                                <div class="col-sm-2" v-else>
                                    <button class="btn btn-link float-right" type="button"
                                        v-on:click="_deleteTitleValue(item.seq)">删除选项</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">顺序</label>
                                <div class="col-sm-10">
                                    <input v-model="addReportInfoSettingTitleInfo.seq" type="text" placeholder="必填，请填写顺序"
                                        class="form-control">
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                    v-on:click="saveReportInfoSettingTitleInfo()"><i
                                        class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>