<div id="roomContractsModel" class="modal fade" role="dialog" aria-labelledby="roomContractsModelLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="roomContractsModelLabel">
                        <vc:i18n name="房屋合同" namespace="roomContracts"></vc:i18n>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <span><vc:i18n name="合同名称" namespace="roomContracts"></vc:i18n></span>
                                            </th>
                                            <th class="text-center">
                                                <span><vc:i18n name="合同编号" namespace="roomContracts"></vc:i18n></span>
                                            </th>
                                            <th class="text-center">
                                                <span><vc:i18n name="父合同编号" namespace="roomContracts"></vc:i18n></span>
                                            </th>
                                            <th class="text-center">
                                                <span><vc:i18n name="合同类型" namespace="roomContracts"></vc:i18n></span>
                                            </th>
                                            <th class="text-center">
                                                <span><vc:i18n name="经办人" namespace="roomContracts"></vc:i18n></span>
                                            </th>
                                            <th class="text-center">
                                                <span><vc:i18n name="合同金额" namespace="roomContracts"></vc:i18n></span>
                                            </th>
                                            <th class="text-center">
                                                <span><vc:i18n name="开始时间" namespace="roomContracts"></vc:i18n></span>
                                            </th>
                                            <th class="text-center">
                                                <span><vc:i18n name="结束时间" namespace="roomContracts"></vc:i18n></span>
                                            </th>
                                            <th class="text-center">
                                                <span><vc:i18n name="起草时间" namespace="roomContracts"></vc:i18n></span>
                                            </th>
                                            <th class="text-center">
                                                <span><vc:i18n name="状态" namespace="roomContracts"></vc:i18n></span>
                                            </th>
                                            <!-- <th class="text-center">
                                            <span><vc:i18n name="操作" namespace="roomContracts"></vc:i18n></span>
                                        </th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="contract in roomContractsInfo.contracts">
                                            <td class="text-center">{{contract.contractName}}</td>
                                            <td class="text-center">{{contract.contractCode}}</td>
                                            <td class="text-center">
                                                {{contract.parentContractCode?contract.parentContractCode:'-'}}
                                            </td>
                                            <td class="text-center">{{contract.contractTypeName}}</td>
                                            <td class="text-center">{{contract.operator}}</td>
                                            <td class="text-center">{{contract.amount}}</td>
                                            <td class="text-center">{{contract.startTime}}</td>
                                            <td class="text-center">{{contract.endTime}}</td>
                                            <td class="text-center">{{contract.createTime}}</td>
                                            <td class="text-center">{{contract.stateName}}</td>
                                            <!-- <td class="text-center">
                                            <button class="btn btn-primary btn-xs" v-on:click="chooseRoom(room)">
                                                <span><vc:i18n name="选择" namespace="roomContracts"></vc:i18n></span>
                                            </button>
                                        </td> -->
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <ul class="pagination float-right"></ul>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <vc:create namespace="roomContracts" path="frame/paginationPlus"></vc:create>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>