<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="菜单信息" namespace="viewMenuInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewMenuInfo.index != 2" class="btn btn-primary btn-sm"
                            style="margin-right:10px;" v-on:click="_openSelectMenuInfoModel()">
                        <i class="fa fa-search"></i> <vc:i18n name="选择菜单" namespace="viewMenuInfo"></vc:i18n>
                    </button>

                    <button type="button" v-if="viewMenuInfo.index != 2" class="btn btn-primary btn-sm"
                            v-on:click="_openAddMenuInfoModel()">
                        <i class="fa fa-plus"></i> <vc:i18n name="添加菜单" namespace="viewMenuInfo"></vc:i18n>
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="菜单名称" namespace="viewMenuInfo"></vc:i18n>：</label>
                            <label class="">{{viewMenuInfo.name}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="菜单地址" namespace="viewMenuInfo"></vc:i18n>：</label>
                            <label class="">{{viewMenuInfo.url}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="序列" namespace="viewMenuInfo"></vc:i18n>：</label>
                            <label class="">{{viewMenuInfo.seq}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="菜单显示" namespace="viewMenuInfo"></vc:i18n>：</label>
                            <label class="">{{viewMenuInfo.isShow}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label"><vc:i18n name="描述" namespace="viewMenuInfo"></vc:i18n>：</label>
                            <label class="">{{viewMenuInfo.description}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <vc:create path="dev/addMenu"
               callBackListener="viewMenuInfo"
               callBackFunction="chooseMenu"
    ></vc:create>


    <vc:create path="dev/chooseMenu"
               emitChooseMenu="viewMenuInfo"
               emitLoadData="viewMenuInfo"
    ></vc:create>
</div>
