<div id="addContractCollectionPlanModel" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="添加计划" namespace="addContractCollectionPlan"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="计划名称" namespace="addContractCollectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addContractCollectionPlanInfo.planName" type="text"
                                        :placeholder="vc.i18n('必填，请填写计划名称','addContractCollectionPlan')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="合同号" namespace="addContractCollectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="addContractCollectionPlanInfo.contractCode" type="text"
                                        :placeholder="vc.i18n('必填，请填写合同号','addContractCollectionPlan')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="费用" namespace="addContractCollectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addContractCollectionPlanInfo.feeName">
                                        <option selected disabled value="">{{vc.i18n('必填','addContractCollectionPlan')}}，请选择费用</option>
                                        <option value="111">{{vc.i18n('计划费用','addContractCollectionPlan')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="备注" namespace="addContractCollectionPlan"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <textarea v-model="addContractCollectionPlanInfo.remark" :placeholder="vc.i18n('选填，请填写备注','addContractCollectionPlan')"
                                        class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                    v-on:click="saveContractCollectionPlanInfo()"><i
                                        class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal"><vc:i18n name="取消" namespace="addContractCollectionPlan"></vc:i18n></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
