<div id = "chooseAttendanceClassesModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseAttendanceClassesModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseAttendanceClassesModelLabel">选择考勤班组</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input placeholder="输入考勤班组名称" type="text" v-model="chooseAttendanceClassesInfo._currentAttendanceClassesName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryAttendanceClassess()">查询</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center">班组ID</th>
                            <th class="text-center">班次名称</th>
                            <th class="text-center">打卡范围</th>
                            <th class="text-center">打卡次数</th>
                            <th class="text-center">打卡类型</th>
                            <th class="text-center">打卡规则</th>
                            <th class="text-center">迟到范围</th>
                            <th class="text-center">早退范围</th>
                            <th class="text-center">班次对象类型</th>
                            <th class="text-center">班次对象</th>
                            <th class="text-center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="attendanceClasses in chooseAttendanceClassesInfo.attendanceClassess">
                                                                        <td class="text-center">{{attendanceClasses.classesId}}</td>
                            <td class="text-center">{{attendanceClasses.classesName}}</td>
                            <td class="text-center">{{attendanceClasses.timeOffset}}</td>
                            <td class="text-center">{{attendanceClasses.clockCount}}</td>
                            <td class="text-center">{{attendanceClasses.clockType}}</td>
                            <td class="text-center">{{attendanceClasses.clockTypeValue}}</td>
                            <td class="text-center">{{attendanceClasses.leaveOffset}}</td>
                            <td class="text-center">{{attendanceClasses.lateOffset}}</td>
                            <td class="text-center">{{attendanceClasses.classesObjType}}</td>
                            <td class="text-center">{{attendanceClasses.classesObjId}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseAttendanceClasses(attendanceClasses)">选择</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
