<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><vc:i18n name="属性配置信息" namespace="viewAttrSpecInfo"></vc:i18n></h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewAttrSpecInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectAttrSpecInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> <vc:i18n name="选择属性配置" namespace="viewAttrSpecInfo"></vc:i18n></button>

                    <button type="button" v-if="viewAttrSpecInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddAttrSpecInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> <vc:i18n name="添加属性配置" namespace="viewAttrSpecInfo"></vc:i18n></button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="属性表" namespace="viewAttrSpecInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrSpecInfo.tableName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="规格名称" namespace="viewAttrSpecInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrSpecInfo.specName}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="说明" namespace="viewAttrSpecInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrSpecInfo.specHoldplace}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="必填" namespace="viewAttrSpecInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrSpecInfo.required}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="展示" namespace="viewAttrSpecInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrSpecInfo.specShow}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="值类型" namespace="viewAttrSpecInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrSpecInfo.specValueType}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="规格类型" namespace="viewAttrSpecInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrSpecInfo.specType}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" ><vc:i18n name="查询显示" namespace="viewAttrSpecInfo"></vc:i18n>：</label>
                            <label class="">{{viewAttrSpecInfo.listShow}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="dev/addAttrSpec"
               callBackListener="viewAttrSpecInfo"
               callBackFunction="chooseAttrSpec"
    ></vc:create>


    <vc:create path="dev/chooseAttrSpec"
               emitChooseAttrSpec="viewAttrSpecInfo"
               emitLoadData="viewAttrSpecInfo"
    ></vc:create>
</div>
