<div id = "chooseReportInfoBackCityModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chooseReportInfoBackCityModelLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseReportInfoBackCityModelLabel"><span><vc:i18n name="选择返省上报" namespace="chooseReportInfoBackCity"></vc:i18n></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')vc.i18n(' ','chooseReportInfoBackCity')<divvc.i18n(' ','chooseReportInfoBackCity')class="vc.i18n(' ','chooseReportInfoBackCity')row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="row">

                                <div class="col-sm-7 m-b-xs">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input :placeholder="vc.i18n('输入返省上报名称','chooseReportInfoBackCity')" type="text" v-model="chooseReportInfoBackCityInfo._currentReportInfoBackCityName" class="form-control form-control-sm">
                                        <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" v-on:click="queryReportInfoBackCitys()"><span><vc:i18n name="查询" namespace="chooseReportInfoBackCity"></vc:i18n></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                                                        <th class="text-center"><span><vc:i18n name="返回" namespace="chooseReportInfoBackCity"></vc:i18n></span>ID</th>
                            <th class="text-center"><span><vc:i18n name="姓名" namespace="chooseReportInfoBackCity"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="身份证" namespace="chooseReportInfoBackCity"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="手机号" namespace="chooseReportInfoBackCity"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="来源地" namespace="chooseReportInfoBackCity"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="城市名称" namespace="chooseReportInfoBackCity"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="返回时间" namespace="chooseReportInfoBackCity"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="备注" namespace="chooseReportInfoBackCity"></vc:i18n></span></th>
                            <th class="text-center"><span><vc:i18n name="操作" namespace="chooseReportInfoBackCity"></vc:i18n></span></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="reportInfoBackCity in chooseReportInfoBackCityInfo.reportInfoBackCitys">
                                                                        <td class="text-center">{{reportInfoBackCity.backId}}</td>
                            <td class="text-center">{{reportInfoBackCity.name}}</td>
                            <td class="text-center">{{reportInfoBackCity.idCard}}</td>
                            <td class="text-center">{{reportInfoBackCity.tel}}</td>
                            <td class="text-center">{{reportInfoBackCity.source}}</td>
                            <td class="text-center">{{reportInfoBackCity.sourceCityName}}</td>
                            <td class="text-center">{{reportInfoBackCity.backTime}}</td>
                            <td class="text-center">{{reportInfoBackCity.remark}}</td>

                                            <td>
                                                <button class="btn btn-primary btn-xs" v-on:click="chooseReportInfoBackCity(reportInfoBackCity)"><span><vc:i18n name="选择" namespace="chooseReportInfoBackCity"></vc:i18n></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
