<div class="margin-top">
    <div class="row margin-top-lg">
        <div class="col-lg-3 padding-right-xs padding-left-xl">
            <input v-model="parkingAreaControlManualOpenDoorLog.staffName" type="text" :placeholder="vc.i18n('请填写员工','parkingAreaControlManualOpenDoorLog')" class="form-control">

        </div>
        <div class="col-lg-3 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-left-xl">

        </div>
        <div class="col-lg-2 padding-right-xs padding-right-xl text-right">
            <button type="button" class="btn btn-primary btn-sm" style="margin-left:10px" v-on:click="_qureyParkingAreaControlManualOpenDoorLog()">
                查询
            </button>
        </div>
    </div>
    <div class="margin-top">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center"><span><vc:i18n name="抓拍图" namespace="parkingAreaControlCarInouts"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="开闸时间" namespace="parkingAreaControlManualOpenDoorLog"></vc:i18n></span>ID</th>
                    <th class="text-center"><span><vc:i18n name="员工" namespace="parkingAreaControlManualOpenDoorLog"></vc:i18n></span></th>
                    <th class="text-center"><span><vc:i18n name="摄像头名称" namespace="parkingAreaControlManualOpenDoorLog"></vc:i18n></span></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="log in parkingAreaControlManualOpenDoorLog.logs">
                    <td class="text-center" style="white-space: nowrap;">
                        <img style="width: 60px; height: 60px;" class="border-radius" v-if="carIn.photoJpg" v-bind:src="log.photoJpg" v-on:click="_openDoorLogOpenFile(log.photoJpg)" />
                        <img style="width: 60px; height: 60px;" class="border-radius" v-else src="/img/noPhoto.jpg" />
                    </td>
                    <td class="text-center">{{log.createTime}}</td>
                    <td class="text-center">{{log.staffName}}</td>
                    <td class="text-center">{{log.machineName}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- 分页 -->
        <vc:create path="frame/paginationPlus" namespace="parkingAreaControlManualOpenDoorLog"></vc:create>
    </div>
</div>