<div id="editReportCustomComponentRelModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><span><vc:i18n name="修改报表组件" namespace="editReportCustomComponentRel"></vc:i18n></span></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="组件" namespace="editReportCustomComponentRel"></vc:i18n></span>ID</label>
                                <div class="col-sm-10">
                                    <input v-model="editReportCustomComponentRelInfo.componentId" type="text" :placeholder="vc.i18n('必填，请填写组件ID','editReportCustomComponentRel')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="报表编号" namespace="editReportCustomComponentRel"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editReportCustomComponentRelInfo.customId" type="text" :placeholder="vc.i18n('必填，请填写报表编号','editReportCustomComponentRel')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="组件序号" namespace="editReportCustomComponentRel"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editReportCustomComponentRelInfo.seq" type="text" :placeholder="vc.i18n('必填，请填写组件序号','editReportCustomComponentRel')" class="form-control">
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editReportCustomComponentRel()"><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><span><vc:i18n name="取消" namespace="editReportCustomComponentRel"></vc:i18n></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>