<div id="editPropertyRightRegistrationDetailModel" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b "><vc:i18n name="修改房屋产权详情" namespace="editPropertyRightRegistrationDetail"></vc:i18n></h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="材料类型" namespace="editPropertyRightRegistrationDetail"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <input v-model="editPropertyRightRegistrationDetailInfo.securitiesName" type="text"
                                           :placeholder="vc.i18n('必填，请填写材料类型','editPropertyRightRegistrationDetail')" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group row" v-if="editPropertyRightRegistrationDetailInfo.securities == '001'">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="身份证照片上传" namespace="editPropertyRightRegistrationDetail"></vc:i18n></label>
                                <div class="content-img col-sm-10">
                                    <vc:create path="frame/uploadImage"
                                               callBackListener="editPropertyRightRegistrationDetail"
                                               callBackFunction="notifyUploadIdCardImage" imageCount="2"
                                               namespace="editPropertyRightRegistrationDetail1">
                                    </vc:create>
                                    <p class="help-block">*请上传正反两张身份证照片*</p>
                                </div>
                            </div>
                            <div class="form-group row" v-if="editPropertyRightRegistrationDetailInfo.securities == '002'">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="购房合同图片上传" namespace="editPropertyRightRegistrationDetail"></vc:i18n></label>
                                <div class="content-img col-sm-10">
                                    <vc:create path="frame/uploadImage"
                                               callBackListener="editPropertyRightRegistrationDetail"
                                               callBackFunction="notifyUploadHousePurchaseImage" imageCount="10"
                                               namespace="editPropertyRightRegistrationDetail2">
                                    </vc:create>
                                    <p class="help-block">*请上传不超过十张购房合同图片*</p>
                                </div>
                            </div>
                            <div class="form-group row" v-if="editPropertyRightRegistrationDetailInfo.securities == '003'">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="维修基金是否缴纳" namespace="editPropertyRightRegistrationDetail"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select"
                                            v-model="editPropertyRightRegistrationDetailInfo.isTrue">
                                        <option selected disabled value=""><vc:i18n name="请选择维修基金是否缴纳" namespace="editPropertyRightRegistrationDetail"></vc:i18n></option>
                                        <option value="true"><vc:i18n name="是" namespace="editPropertyRightRegistrationDetail"></vc:i18n></option>
                                        <option value="false"><vc:i18n name="否" namespace="editPropertyRightRegistrationDetail"></vc:i18n></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row"
                                 v-if="editPropertyRightRegistrationDetailInfo.securities == '003' && editPropertyRightRegistrationDetailInfo.isTrue == 'true'">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="维修基金图片上传" namespace="editPropertyRightRegistrationDetail"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <vc:create path="frame/uploadImage" callBackListener="editPropertyRightRegistrationDetail"
                                               callBackFunction="notifyUploadRepairImage" imageCount="3"
                                               namespace="editPropertyRightRegistrationDetail3">
                                    </vc:create>
                                </div>
                            </div>
                            <div class="form-group row" v-if="editPropertyRightRegistrationDetailInfo.securities == '004'">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="契税是否缴纳" namespace="editPropertyRightRegistrationDetail"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <select class="custom-select"
                                            v-model="editPropertyRightRegistrationDetailInfo.isTrue">
                                        <option selected disabled value=""><vc:i18n name="请选择契税是否缴纳" namespace="editPropertyRightRegistrationDetail"></vc:i18n></option>
                                        <option value="true"><vc:i18n name="是" namespace="editPropertyRightRegistrationDetail"></vc:i18n></option>
                                        <option value="false"><vc:i18n name="否" namespace="editPropertyRightRegistrationDetail"></vc:i18n></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row"
                                 v-if="editPropertyRightRegistrationDetailInfo.securities == '004' && editPropertyRightRegistrationDetailInfo.isTrue == 'true'">
                                <label class="col-sm-2 col-form-label"><vc:i18n name="契税证明图片上传" namespace="editPropertyRightRegistrationDetail"></vc:i18n></label>
                                <div class="col-sm-10">
                                    <vc:create path="frame/uploadImage" callBackListener="editPropertyRightRegistrationDetail"
                                               callBackFunction="notifyUploadDeedTaxImage" imageCount="3"
                                               namespace="editPropertyRightRegistrationDetail4">
                                    </vc:create>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="editPropertyRightRegistrationDetail()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <i class="fa fa-close"></i>&nbsp;取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
