<div id="addMaintainanceItemModel" class="modal fade"  role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="添加" namespace="addMaintainanceItem"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="名称" namespace="addMaintainanceItem"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addMaintainanceItemInfo.itemTitle" type="text"
                                           :placeholder="vc.i18n('必填，请填写名称','addMaintainanceItem')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="类型" namespace="addMaintainanceItem"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="addMaintainanceItemInfo.titleType"
                                            @change="_changeAddTitleType()">
                                        <option selected disabled value="">
                                            {{vc.i18n('必填，请选择类型','addMaintainanceItem')}}
                                        </option>
                                        <option value="1001">{{vc.i18n('单选','addMaintainanceItem')}}</option>
                                        <option value="2002">{{vc.i18n('多选','addMaintainanceItem')}}</option>
                                        <option value="3003">{{vc.i18n('简答题','addMaintainanceItem')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" v-for="(item,index) in addMaintainanceItemInfo.titleValues">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="选项" namespace="addMaintainanceItem"></vc:i18n></span>{{item.seq}}
                                </label>
                                <div class="col-sm-8">
                                    <input v-model="item.itemValue" type="text"
                                           :placeholder="vc.i18n('必填，请填写选项内容','addMaintainanceItem')"
                                           class="form-control">
                                </div>
                                <div class="col-sm-2" v-if="index == addMaintainanceItemInfo.titleValues.length-1">
                                    <button class="btn btn-link float-right" type="button"
                                            v-on:click="_addTitleValue()">
                                        <span><vc:i18n name="增加选项" namespace="addMaintainanceItem"></vc:i18n></span>
                                    </button>
                                </div>
                                <div class="col-sm-2" v-else>
                                    <button class="btn btn-link float-right" type="button"
                                            v-on:click="_deleteTitleValue(item.seq)">
                                        <span><vc:i18n name="删除选项" namespace="addMaintainanceItem"></vc:i18n></span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    <span><vc:i18n name="顺序" namespace="addMaintainanceItem"></vc:i18n></span>
                                </label>
                                <div class="col-sm-10">
                                    <input v-model="addMaintainanceItemInfo.seq" type="text"
                                           :placeholder="vc.i18n('必填，请填写顺序','addMaintainanceItem')"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                        v-on:click="saveInspectionItemTitleInfo()">
                                    <i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                        data-dismiss="modal">
                                    <span><vc:i18n name="取消" namespace="addMaintainanceItem"></vc:i18n></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
