<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>商品信息</h5>
          <div class="ibox-tools" style="top:10px;">

          </div>
        </div>
        <div class="ibox-content">

          <div class="form-group row">
            <label class="col-sm-1 col-form-label text-right">商品名称</label>
            <div class="col-sm-5">
              <input v-model="editProductInfo.prodName" type="text" disabled="disabled" placeholder="必填，请填写商品名称" class="form-control">
            </div>
            <label class="col-sm-1 col-form-label text-right">商品分组</label>
            <div class="col-sm-5">
              <select class="custom-select" disabled="disabled" v-model="editProductInfo.categoryId">
                <option selected disabled value="">必填，请选择商品分组</option>
                <option v-for="(item,index) in productManageInfo.productCategorys" :value="item.categoryId">
                  {{item.categoryName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label text-right">单位</label>
            <div class="col-sm-5">
              <input v-model="editProductInfo.unitName" type="text" disabled="disabled" placeholder="选填，请填写单位" class="form-control">
            </div>
            <label class="col-sm-1 col-form-label text-right">排序</label>
            <div class="col-sm-5">
              <input v-model="editProductInfo.sort" type="text" disabled="disabled" placeholder="选填，请填写排序" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label text-right">关键词</label>
            <div class="col-sm-7">
              <input v-model="editProductInfo.keyword" type="text" disabled="disabled" placeholder="必填，请填写关键词,多个关键词用;分隔"
                class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label text-right">商品简介</label>
            <div class="col-sm-11">
              <textarea v-model="editProductInfo.prodDesc" disabled="disabled" placeholder="必填，请填写商品简介" maxlength="250"
                class="form-control"></textarea>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>商品图片</h5>
          <div class="ibox-tools" style="top:10px;">

          </div>
        </div>
        <div class="ibox-content">
          <div class="form-group row">
            <label class="col-sm-1 col-form-label text-right">商品封面</label>
            <div class="content-img col-sm-11">
                <img style="width: 60px; height: 60px; border-radius: 5px;"
                v-bind:src="editProductInfo.coverPhoto"></img>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label text-right">商品轮播</label>
            <div class="content-img col-sm-11">
                <img style="width: 60px; height: 60px; border-radius: 5px;" v-for="(item) in editProductInfo.carouselFigurePhoto"
                v-bind:src="item"></img>
              </vc:create>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>商品规格</h5>
        </div>
        <div class="ibox-content">
          <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
              <tr>
                <th class="text-center">规格名称</th>
                <th class="text-center">规格值</th>
                <th class="text-center">库存</th>
                <th class="text-center">销量</th>
                <th class="text-center">金额</th>
                <th class="text-center">成本价</th>
                <th class="text-center">会员价格</th>
                <th class="text-center">市场价</th>
                <!--<th class="text-right">操作</th>-->
              </tr>
            </thead>
            <tbody>
              <tr v-for="productSpec in editProductInfo.productSpecs">
                <td class="text-center">{{productSpec.specName}}</td>
                <td class="text-center">
                  <span v-html="productSpec.specValue"></span>
                </td>
                <td class="text-center">{{productSpec.stock}}</td>
                <td class="text-center">
                  {{productSpec.sales}}
                </td>
                <td class="text-center">
                  {{productSpec.price}}
                </td>
                <td class="text-center">
                  {{productSpec.costPrice}}
                </td>
                <td class="text-center">
                  {{productSpec.vipPrice}}
                </td>
                <td class="text-center">
                  {{productSpec.otPrice}}
                </td>
                <!--<td class="text-right">
                  <div class="btn-group">
                    <button class="btn-white btn btn-xs"
                      v-on:click="_openEditDeleteProductSpec(productSpec)">删除</button>
                  </div>
                  <div class="btn-group" v-if="productSpec.isDefault != 'T'">
                    <button class="btn-white btn btn-xs"
                      v-on:click="_doEditDefaultProductSpec(editProductInfo,productSpec)">默认规格</button>
                  </div>
                </td>-->

              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7">
                  <ul class="pagination float-right"></ul>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>商品扩展</h5>
          <div class="ibox-tools" style="top:10px;">

          </div>
        </div>
        <div class="ibox-content">
          <div class="form-group row">
            <label class="col-sm-1 col-form-label text-right">商品状态</label>
            <div class="col-sm-11">
              <select class="custom-select" disabled="disabled" v-model="editProductInfo.state">
                <option selected disabled value="">选填，请选择状态</option>
                <option value="1001">未上架</option>
                <option value="2002">上架</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-1 col-form-label text-right">商品详情</label>
            <div class="col-sm-11 ">
              <div class=" no-padding">
                <div class="editSummernote"></div>
              </div>
              <!--<textarea v-model="addNoticeViewInfo.context" cols="3"  type="text" placeholder="必填，请填写公告内容" class="form-control"></textarea>-->
            </div>
          </div>

          <div class="ibox-content">
            <!--<button class="btn btn-primary float-right" type="button" v-on:click="_editProductInfo()"><i
                class="fa fa-check"></i>&nbsp;保存</button>-->
            <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
              v-on:click="_closeEditProduct()">取消</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>