<div id="editSmallWeChatModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    <span><vc:i18n name="修改" namespace="editSmallWeChat"></vc:i18n></span>
                </h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="名称" namespace="editSmallWeChat"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editSmallWeChatInfo.name" type="text" :placeholder="vc.i18n('必填，请填写名称','editSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">appId</label>
                                <div class="col-sm-10">
                                    <input v-model="editSmallWeChatInfo.appId" type="text" :placeholder="vc.i18n('必填，请填写appId','editSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="应用密钥" namespace="editSmallWeChat"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editSmallWeChatInfo.appSecret" type="text" :placeholder="vc.i18n('必填，请填写应用密钥','editSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="支付密码" namespace="editSmallWeChat"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editSmallWeChatInfo.payPassword" type="text" :placeholder="vc.i18n('必填，请填写支付密码','editSmallWeChat')" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="商户ID" namespace="editSmallWeChat"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editSmallWeChatInfo.mchId" type="text" :placeholder="vc.i18n('必填，请填写商户ID','editSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="商户名称" namespace="editSmallWeChat"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <input v-model="editSmallWeChatInfo.mchName" type="text" :placeholder="vc.i18n('必填，请填写商户名称','editSmallWeChat')" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="商户证书(.p12)" namespace="editSmallWeChat"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <vc:create path="frame/uploadFile" callBackListener="editSmallWeChat" callBackFunction="notifyCert" namespace="editSmallWeChat"></vc:create>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"><span><vc:i18n name="描述" namespace="editSmallWeChat"></vc:i18n></span></label>
                                <div class="col-sm-10">
                                    <textarea v-model="editSmallWeChatInfo.remarks" type="text" :placeholder="vc.i18n('选填，请填写描述信息','editSmallWeChat')" class="form-control">
                                    </textarea>
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editSmallWeChat()"><i class="fa fa-check"></i>&nbsp;保存
                                </button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal"><span><vc:i18n name="取消" namespace="editSmallWeChat"></vc:i18n></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>