<div class="">
    <div class="progress" v-if="this.uploadFileInfo.progress > 0" style="height: 1px;">
        <div class="progress-bar" role="progressbar" v-bind:style="{width: this.uploadFileInfo.progress+'%'}" v-bind:aria-valuenow="this.uploadFileInfo.progress" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div style="margin-bottom: 5px;" v-if="this.uploadFileInfo.progress > 0">
        <span>{{this.uploadFileInfo.fileName}}</span>
    </div>
    <div>
        <a class="btn btn-primary text-white" v-on:click="this._uploadFile()"><span><vc:i18n name="上传附件" namespace="uploadFile"></vc:i18n></span></a>
        <input type="file" class="file" accept="*" capture="camcorder" id="uploadFile" hidden v-on:change="this._chooseFile($event)">
    </div>
</div>